.version.calc_programs /* version checker */
{
	color: #0000F2;
	background-color: #AFA6D9;
}

#page
{
	z-index: 1;
	min-height: 574px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	width: 100%;
	max-width: 960px;
	margin-left: auto;
	margin-right: auto;
}

#pu15782
{
	z-index: 9;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: -47px;
	width: 100.11%;
}

#u15784
{
	z-index: 11;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	width: 99.69%;
	left: 0.11%;
}

#menuu15788
{
	z-index: 15;
	width: 517px;
	height: 22px;
	position: relative;
	margin-right: -10000px;
	margin-top: 117px;
	left: 22px;
}

#u15796
{
	width: 86px;
	min-height: 21px;
	padding-bottom: 1px;
	position: relative;
	margin-right: -10000px;
}

#u15799
{
	width: 86px;
	padding-bottom: 1px;
	position: relative;
}

#u15799:hover
{
	width: 85px;
	min-height: 0px;
	margin: 0px -1px -1px 0px;
}

#u15799:active
{
	width: 85px;
	min-height: 0px;
	margin: 0px -1px -1px 0px;
}

#u15801-4
{
	width: 82px;
	min-height: 16px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	position: relative;
	margin-right: -10000px;
}

#u15799:hover #u15801-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 82px;
	margin: 0px -10000px 0px 0px;
}

#u15799:active #u15801-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 82px;
	margin: 0px -10000px 0px 0px;
}

#u15803
{
	width: 86px;
	min-height: 21px;
	padding-bottom: 1px;
	position: relative;
	margin-right: -10000px;
	left: 86px;
}

#u15806
{
	width: 86px;
	padding-bottom: 1px;
	position: relative;
}

#u15806:hover
{
	width: 85px;
	min-height: 0px;
	margin: 0px -1px -1px 0px;
}

#u15806:active
{
	width: 85px;
	min-height: 0px;
	margin: 0px -1px -1px 0px;
}

#u15809-4
{
	width: 82px;
	min-height: 16px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	position: relative;
	margin-right: -10000px;
}

#u15799.MuseMenuActive #u15801-4,#u15806:hover #u15809-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 82px;
	margin: 0px -10000px 0px 0px;
}

#u15806:active #u15809-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 82px;
	margin: 0px -10000px 0px 0px;
}

#u15789
{
	width: 86px;
	min-height: 21px;
	padding-bottom: 1px;
	position: relative;
	margin-right: -10000px;
	left: 172px;
}

#u15790
{
	width: 86px;
	padding-bottom: 1px;
	position: relative;
}

#u15790:hover
{
	width: 85px;
	min-height: 0px;
	margin: 0px -1px -1px 0px;
}

#u15790:active
{
	width: 85px;
	min-height: 0px;
	margin: 0px -1px -1px 0px;
}

#u15793-4
{
	width: 82px;
	min-height: 16px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	position: relative;
	margin-right: -10000px;
}

#u15806.MuseMenuActive #u15809-4,#u15790:hover #u15793-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 82px;
	margin: 0px -10000px 0px 0px;
}

#u15790:active #u15793-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 82px;
	margin: 0px -10000px 0px 0px;
}

#u15810
{
	width: 86px;
	min-height: 21px;
	padding-bottom: 1px;
	position: relative;
	margin-right: -10000px;
	left: 258px;
}

#u15811
{
	width: 86px;
	padding-bottom: 1px;
	position: relative;
}

#u15811:hover
{
	width: 85px;
	min-height: 0px;
	margin: 0px -1px -1px 0px;
}

#u15811:active
{
	width: 85px;
	min-height: 0px;
	margin: 0px -1px -1px 0px;
}

#u15814-4
{
	width: 82px;
	min-height: 16px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	position: relative;
	margin-right: -10000px;
}

#u15790.MuseMenuActive #u15793-4,#u15811:hover #u15814-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 82px;
	margin: 0px -10000px 0px 0px;
}

#u15811:active #u15814-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 82px;
	margin: 0px -10000px 0px 0px;
}

#u15817
{
	width: 86px;
	min-height: 21px;
	padding-bottom: 1px;
	position: relative;
	margin-right: -10000px;
	left: 344px;
}

#u15820
{
	width: 86px;
	padding-bottom: 1px;
	position: relative;
}

#u15820:hover
{
	width: 85px;
	min-height: 0px;
	margin: 0px -1px -1px 0px;
}

#u15820:active
{
	width: 85px;
	min-height: 0px;
	margin: 0px -1px -1px 0px;
}

#u15799.MuseMenuActive,#u15806.MuseMenuActive,#u15790.MuseMenuActive,#u15811.MuseMenuActive,#u15820.MuseMenuActive
{
	width: 86px;
	min-height: 0px;
	margin: 0px;
}

#u15821-4
{
	width: 82px;
	min-height: 16px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	position: relative;
	margin-right: -10000px;
}

#u15811.MuseMenuActive #u15814-4,#u15820:hover #u15821-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 82px;
	margin: 0px -10000px 0px 0px;
}

#u15820:active #u15821-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 82px;
	margin: 0px -10000px 0px 0px;
}

#u15820.MuseMenuActive #u15821-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 82px;
	margin: 0px -10000px 0px 0px;
}

#u15932
{
	width: 87px;
	min-height: 21px;
	padding-bottom: 1px;
	position: relative;
	margin-right: -10000px;
	left: 430px;
}

#u15933
{
	width: 87px;
	padding-bottom: 1px;
	position: relative;
}

#u15933:hover
{
	width: 86px;
	min-height: 0px;
	margin: 0px -1px -1px 0px;
}

#u15933:active
{
	width: 86px;
	min-height: 0px;
	margin: 0px -1px -1px 0px;
}

#u15933.MuseMenuActive
{
	width: 87px;
	min-height: 0px;
	margin: 0px;
}

#u15936-4
{
	width: 83px;
	min-height: 16px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	position: relative;
	margin-right: -10000px;
}

#u15933:hover #u15936-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 83px;
	margin: 0px -10000px 0px 0px;
}

#u15933:active #u15936-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 83px;
	margin: 0px -10000px 0px 0px;
}

#u15933.MuseMenuActive #u15936-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 83px;
	margin: 0px -10000px 0px 0px;
}

#u15824
{
	z-index: 52;
	width: 240px;
	position: relative;
	margin-right: -10000px;
	margin-top: 71px;
	left: 701px;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#u15782,#u15782-bw
{
	z-index: 9;
	min-height: 166px;
}

#u15781
{
	z-index: 8;
	height: 9px;
}

#u15781-bw
{
	z-index: 8;
	margin-top: 3px;
	height: 11px;
}

#pu15971
{
	z-index: 322;
	margin-top: 27px;
	width: 27.37%;
	margin-left: 34.24%;
}

#u15971
{
	z-index: 322;
	position: relative;
	margin-right: -10000px;
	width: 100%;
}

#u15972
{
	z-index: 323;
	padding-top: 46px;
	padding-bottom: 7px;
	position: relative;
	margin-right: -10000px;
	width: 100%;
}

#buttonu15976
{
	z-index: 324;
	padding-bottom: 4px;
	position: relative;
	width: 87.46%;
	margin-left: 6.09%;
}

#buttonu15976:hover
{
	min-height: 0px;
	width: 87.46%;
	margin: 0px 0px 0px 6.083650190114068%;
}

#u15977-4
{
	z-index: 325;
	min-height: 23px;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
	width: 51.74%;
	left: 29.57%;
}

#buttonu15976:hover #u15977-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 51.74%;
	margin: 13px -10000px 0px 0%;
}

#u15978
{
	z-index: 329;
	height: 17px;
	position: relative;
	margin-right: -10000px;
	margin-top: 15px;
	width: 7.83%;
	left: 22.18%;
}

#buttonu15976:hover #u15978
{
	height: 17px;
	min-height: 0px;
	width: 7.83%;
	margin: 15px -10000px 0px 0%;
}

#buttonu15973
{
	z-index: 330;
	padding-bottom: 4px;
	position: relative;
	width: 87.46%;
	margin-left: 6.09%;
}

#buttonu15976.ButtonSelected,#buttonu15973:hover
{
	min-height: 0px;
	width: 87.46%;
	margin: 0px 0px 0px 6.083650190114068%;
}

#buttonu15973.ButtonSelected
{
	min-height: 0px;
	width: 87.46%;
	margin: 0px 0px 0px 6.083650190114068%;
}

#u15975-4
{
	z-index: 331;
	min-height: 23px;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
	width: 51.74%;
	left: 29.57%;
}

#buttonu15976.ButtonSelected #u15977-4,#buttonu15973:hover #u15975-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 51.74%;
	margin: 13px -10000px 0px 0%;
}

#u15974
{
	z-index: 335;
	height: 17px;
	position: relative;
	margin-right: -10000px;
	margin-top: 15px;
	width: 7.83%;
	left: 22.18%;
}

#buttonu15976.ButtonSelected #u15978,#buttonu15973:hover #u15974
{
	height: 17px;
	min-height: 0px;
	width: 7.83%;
	margin: 15px -10000px 0px 0%;
}

#buttonu15979
{
	z-index: 336;
	padding-bottom: 4px;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	width: 87.46%;
	left: 5.71%;
}

#buttonu15979:hover
{
	min-height: 0px;
	width: 87.46%;
	margin: 6px -10000px 0px 0%;
}

#buttonu15979.ButtonSelected
{
	min-height: 0px;
	width: 87.46%;
	margin: 6px -10000px 0px 0%;
}

#u15981-4
{
	z-index: 337;
	min-height: 23px;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
	width: 51.74%;
	left: 29.57%;
}

#buttonu15973.ButtonSelected #u15975-4,#buttonu15979:hover #u15981-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 51.74%;
	margin: 13px -10000px 0px 0%;
}

#buttonu15979.ButtonSelected #u15981-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 51.74%;
	margin: 13px -10000px 0px 0%;
}

#u15980
{
	z-index: 341;
	height: 17px;
	position: relative;
	margin-right: -10000px;
	margin-top: 15px;
	width: 7.83%;
	left: 22.18%;
}

#buttonu15973.ButtonSelected #u15974,#buttonu15979:hover #u15980
{
	height: 17px;
	min-height: 0px;
	width: 7.83%;
	margin: 15px -10000px 0px 0%;
}

#buttonu15979.ButtonSelected #u15980
{
	height: 17px;
	min-height: 0px;
	width: 7.83%;
	margin: 15px -10000px 0px 0%;
}

#pu16044
{
	z-index: 2;
	margin-top: 37px;
	width: 99.9%;
}

#u16044
{
	z-index: 2;
	height: 1px;
	border-color: #000000;
	background-color: #DDDDDD;
}

#u16044-bw
{
	z-index: 2;
	margin-top: 63px;
	height: 1px;
}

#u16047
{
	z-index: 3;
	height: 1px;
	border-color: #000000;
	background-color: #DDDDDD;
}

#u16047-bw
{
	z-index: 3;
	margin-top: 506px;
	height: 1px;
}

#u16050
{
	z-index: 4;
	height: 1px;
	border-color: #000000;
	background-color: #DDDDDD;
}

#u16050-bw
{
	z-index: 4;
	margin-top: 1173px;
	height: 1px;
}

#u16053
{
	z-index: 5;
	height: 1px;
	border-color: #000000;
	background-color: #DDDDDD;
}

#u16053-bw
{
	z-index: 5;
	margin-top: 1602px;
	height: 1px;
}

#u16056
{
	z-index: 6;
	height: 1px;
	border-color: #000000;
	background-color: #DDDDDD;
}

#u16056-bw
{
	z-index: 6;
	margin-top: 2077px;
	height: 1px;
}

#u16059
{
	z-index: 7;
	height: 1px;
	border-color: #000000;
	background-color: #DDDDDD;
}

#u16059-bw
{
	z-index: 7;
	margin-top: 2302px;
	height: 1px;
}

#u8586-268
{
	z-index: 54;
	min-height: 240px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	width: 95%;
	left: 2.4%;
}

.css_verticalspacer .verticalspacer
{
	height: calc(100vh - 3040px);
}

#u15783
{
	z-index: 10;
	min-height: 159px;
}

#u15782_align_to_page,#u15783_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	position: relative;
}

#u15786
{
	z-index: 13;
	position: relative;
	margin-right: -10000px;
	width: 99.69%;
	left: 0.21%;
}

#u15783-bw
{
	z-index: 10;
	min-height: 159px;
	margin-bottom: -160px;
	margin-top: 16px;
}

#muse_css_mq,.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
	min-width: 240px;
	padding-top: 20px;
	padding-bottom: 160px;
}

.verticalspacer
{
	min-height: 1px;
}

#u15784_img,#u15786_img
{
	width: 100%;
}

