.version.calculus /* version checker */
{
	color: #0000F3;
	background-color: #60A234;
}

#muse_css_mq
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	min-height: 438px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: #FFFFFF;
	padding-bottom: 62px;
	width: 100%;
	max-width: 960px;
	margin-left: auto;
	margin-right: auto;
}

#pu3573
{
	z-index: 42;
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: -45px;
	margin-left: 21px;
}

#u3573
{
	z-index: 42;
	width: 40px;
	min-height: 40px;
	margin-left: 28px;
	position: relative;
}

#pu900
{
	z-index: 4;
	width: 0.01px;
	margin-top: 24px;
}

#u900
{
	z-index: 4;
	width: 917px;
	min-height: 40px;
	position: relative;
	margin-right: -10000px;
}

#u1571
{
	z-index: 5;
	width: 557px;
	position: relative;
	margin-right: -10000px;
	margin-top: 27px;
	left: 180px;
}

#pbuttonu1588
{
	z-index: 7;
	width: 0.01px;
	margin-right: -10000px;
	margin-left: 417px;
}

#buttonu1588
{
	z-index: 7;
	width: 138px;
	height: 61px;
	position: relative;
	margin-right: -10000px;
}

#u1589-4
{
	z-index: 8;
	width: 122px;
	min-height: 24px;
}

#pbuttonu1588:hover #u1589-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	width: 122px;
	margin-top: 17px;
	left: 8px;
	min-height: 24px;
}

#u1590
{
	z-index: 12;
	width: 20px;
}

#pbuttonu1588:hover #u1590
{
	position: relative;
	margin-right: -10000px;
	width: 20px;
	left: 62px;
	min-height: 0px;
}

#pbuttonu1592
{
	z-index: 16;
	width: 0.01px;
	margin-right: -10000px;
	margin-left: 278px;
}

#buttonu1592
{
	z-index: 16;
	width: 138px;
	height: 61px;
	position: relative;
	margin-right: -10000px;
}

#u1595-4
{
	z-index: 17;
	width: 122px;
	min-height: 24px;
}

#pbuttonu1592:hover #u1595-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	width: 122px;
	margin-top: 17px;
	left: 8px;
	min-height: 24px;
}

#u1593
{
	z-index: 21;
	width: 20px;
}

#pbuttonu1592:hover #u1593
{
	position: relative;
	margin-right: -10000px;
	width: 20px;
	left: 57px;
	min-height: 0px;
}

#pbuttonu1592 #u1593
{
	position: relative;
	margin-right: -10000px;
	width: 20px;
	left: 56px;
}

#pbuttonu1576
{
	z-index: 25;
	width: 0.01px;
	margin-right: -10000px;
	margin-left: 138px;
}

#buttonu1576
{
	z-index: 25;
	width: 139px;
	height: 61px;
	position: relative;
	margin-right: -10000px;
}

#pbuttonu1576:hover #buttonu1576
{
	width: 140px;
	height: 61px;
	position: relative;
	margin-right: -10000px;
	margin-top: 0px;
	left: 0px;
	margin-left: 0px;
	min-height: 0px;
}

#u1577-4
{
	z-index: 26;
	width: 122px;
	min-height: 24px;
}

#pbuttonu1576:hover #u1577-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	width: 122px;
	margin-top: 17px;
	left: 8px;
	min-height: 24px;
}

#pbuttonu1588 #u1589-4,#pbuttonu1592 #u1595-4,#pbuttonu1576 #u1577-4
{
	position: relative;
	margin-right: -10000px;
	width: 122px;
	margin-top: 17px;
	left: 7px;
}

#u1578
{
	z-index: 30;
	width: 20px;
}

#pbuttonu1576:hover #u1578
{
	position: relative;
	margin-right: -10000px;
	width: 20px;
	left: 64px;
	min-height: 0px;
}

#pbuttonu1576 #u1578
{
	position: relative;
	margin-right: -10000px;
	width: 20px;
	left: 63px;
}

#pbuttonu1580
{
	z-index: 34;
	width: 0.01px;
	margin-right: -10000px;
}

#buttonu1580
{
	z-index: 34;
	width: 138px;
	height: 61px;
	position: relative;
	margin-right: -10000px;
}

#pbuttonu1588:hover #buttonu1588,#pbuttonu1592:hover #buttonu1592,#pbuttonu1580:hover #buttonu1580
{
	width: 139px;
	height: 61px;
	position: relative;
	margin-right: -10000px;
	margin-top: 0px;
	left: 0px;
	margin-left: 0px;
	min-height: 0px;
}

#u1581-4
{
	z-index: 35;
	width: 122px;
	min-height: 24px;
}

#pbuttonu1580:hover #u1581-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	width: 122px;
	margin-top: 17px;
	left: 7px;
	min-height: 24px;
}

#pbuttonu1588.ButtonSelected #u1589-4,#pbuttonu1592.ButtonSelected #u1595-4,#pbuttonu1576.ButtonSelected #u1577-4,#pbuttonu1580.ButtonSelected #u1581-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 122px;
}

#pbuttonu1580 #u1581-4
{
	position: relative;
	margin-right: -10000px;
	width: 122px;
	margin-top: 17px;
	left: 6px;
}

#u1582
{
	z-index: 39;
	width: 20px;
}

#pbuttonu1580:hover #u1582
{
	position: relative;
	margin-right: -10000px;
	width: 20px;
	left: 62px;
	min-height: 0px;
}

#pbuttonu1588.ButtonSelected #u1590,#pbuttonu1592.ButtonSelected #u1593,#pbuttonu1576.ButtonSelected #u1578,#pbuttonu1580.ButtonSelected #u1582
{
	width: 20px;
	min-height: 0px;
}

#pbuttonu1588 #u1590,#pbuttonu1580 #u1582
{
	position: relative;
	margin-right: -10000px;
	width: 20px;
	left: 61px;
}

#pu104
{
	z-index: 2;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: -164px;
	width: 53.86%;
	margin-left: 23.13%;
}

#u104
{
	z-index: 2;
	position: relative;
	width: 100%;
}

#u3585
{
	z-index: 43;
	height: 1px;
	margin-top: 152px;
	position: relative;
	width: 0.2%;
	margin-left: 23.6%;
}

.ie #u3585
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#pamphletu3301
{
	z-index: 44;
	width: 0.01px;
	height: 254px;
	position: fixed;
	top: 114px;
	right: 48px;
}

#u3304
{
	position: absolute;
	width: 359px;
	padding-bottom: 44px;
	top: -132px;
	left: -362px;
}

#u3304popup
{
	z-index: 45;
}

#u3305
{
	z-index: 46;
	width: 315px;
	height: 1383px;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#pu3314
{
	z-index: 47;
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
}

#u3314
{
	z-index: 47;
	width: 314px;
	height: 159px;
	position: relative;
}

#buttonu3323
{
	z-index: 48;
	width: 313px;
	padding-bottom: 24px;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
}

#buttonu3323:hover
{
	width: 313px;
	min-height: 0px;
	margin: 0px 0px -1px;
}

#buttonu3323.ButtonSelected
{
	width: 313px;
	min-height: 0px;
	margin: 0px 0px -1px;
}

#u3326-4
{
	z-index: 49;
	width: 122px;
	min-height: 24px;
	position: relative;
	margin-right: -10000px;
	margin-top: 34px;
	left: 96px;
}

#buttonu3323:hover #u3326-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 122px;
	margin: 34px -10000px 0px 0px;
}

#u3324
{
	z-index: 53;
	width: 17px;
	position: relative;
	margin-right: -10000px;
	margin-top: 24px;
	left: 296px;
}

#buttonu3323:hover #u3324
{
	width: 17px;
	min-height: 0px;
	margin: 24px -10000px 0px 0px;
}

#buttonu3323:active #u3324
{
	width: 17px;
	min-height: 0px;
	margin: 24px -10000px 0px 0px;
}

#buttonu3306
{
	z-index: 62;
	width: 313px;
	padding-bottom: 24px;
	position: relative;
}

#buttonu3306:hover
{
	width: 313px;
	min-height: 0px;
	margin: 0px;
}

#u3307-4
{
	z-index: 63;
	width: 122px;
	min-height: 24px;
	position: relative;
	margin-right: -10000px;
	margin-top: 34px;
	left: 96px;
}

#buttonu3323.ButtonSelected #u3326-4,#buttonu3306:hover #u3307-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 122px;
	margin: 34px -10000px 0px 0px;
}

#u3308
{
	z-index: 67;
	width: 17px;
	position: relative;
	margin-right: -10000px;
	margin-top: 24px;
	left: 296px;
}

#buttonu3323.ButtonSelected #u3324,#buttonu3306:hover #u3308
{
	width: 17px;
	min-height: 0px;
	margin: 24px -10000px 0px 0px;
}

#buttonu3306:active #u3308
{
	width: 17px;
	min-height: 0px;
	margin: 24px -10000px 0px 0px;
}

#buttonu3310
{
	z-index: 69;
	width: 313px;
	padding-bottom: 24px;
	position: relative;
}

#buttonu3306.ButtonSelected,#buttonu3310:hover
{
	width: 313px;
	min-height: 0px;
	margin: 0px;
}

#u3311-4
{
	z-index: 70;
	width: 122px;
	min-height: 24px;
	position: relative;
	margin-right: -10000px;
	margin-top: 34px;
	left: 96px;
}

#buttonu3306.ButtonSelected #u3307-4,#buttonu3310:hover #u3311-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 122px;
	margin: 34px -10000px 0px 0px;
}

#u3312
{
	z-index: 74;
	width: 17px;
	position: relative;
	margin-right: -10000px;
	margin-top: 24px;
	left: 296px;
}

#buttonu3306.ButtonSelected #u3308,#buttonu3310:hover #u3312
{
	width: 17px;
	min-height: 0px;
	margin: 24px -10000px 0px 0px;
}

#buttonu3310:active #u3312
{
	width: 17px;
	min-height: 0px;
	margin: 24px -10000px 0px 0px;
}

#buttonu3315
{
	z-index: 76;
	width: 313px;
	padding-bottom: 24px;
	position: relative;
}

#buttonu3310.ButtonSelected,#buttonu3315:hover
{
	width: 313px;
	min-height: 0px;
	margin: 0px;
}

#buttonu3315.ButtonSelected
{
	width: 313px;
	min-height: 0px;
	margin: 0px;
}

#u3316-4
{
	z-index: 77;
	width: 122px;
	min-height: 24px;
	position: relative;
	margin-right: -10000px;
	margin-top: 34px;
	left: 96px;
}

#buttonu3310.ButtonSelected #u3311-4,#buttonu3315:hover #u3316-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 122px;
	margin: 34px -10000px 0px 0px;
}

#u3317
{
	z-index: 81;
	width: 17px;
	position: relative;
	margin-right: -10000px;
	margin-top: 24px;
	left: 296px;
}

#buttonu3310.ButtonSelected #u3312,#buttonu3315:hover #u3317
{
	width: 17px;
	min-height: 0px;
	margin: 24px -10000px 0px 0px;
}

#buttonu3315:active #u3317
{
	width: 17px;
	min-height: 0px;
	margin: 24px -10000px 0px 0px;
}

#buttonu3319
{
	z-index: 55;
	width: 313px;
	padding-bottom: 24px;
	margin-top: 1px;
	position: relative;
}

#buttonu3319:hover
{
	width: 313px;
	min-height: 0px;
	margin: 1px 0px 0px;
}

#buttonu3319.ButtonSelected
{
	width: 313px;
	min-height: 0px;
	margin: 1px 0px 0px;
}

#u3322-4
{
	z-index: 56;
	width: 122px;
	min-height: 24px;
	position: relative;
	margin-right: -10000px;
	margin-top: 34px;
	left: 96px;
}

#buttonu3315.ButtonSelected #u3316-4,#buttonu3319:hover #u3322-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 122px;
	margin: 34px -10000px 0px 0px;
}

#buttonu3319.ButtonSelected #u3322-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 122px;
	margin: 34px -10000px 0px 0px;
}

#u3320
{
	z-index: 60;
	width: 17px;
	position: relative;
	margin-right: -10000px;
	margin-top: 24px;
	left: 296px;
}

#buttonu3315.ButtonSelected #u3317,#buttonu3319:hover #u3320
{
	width: 17px;
	min-height: 0px;
	margin: 24px -10000px 0px 0px;
}

#buttonu3319:active #u3320
{
	width: 17px;
	min-height: 0px;
	margin: 24px -10000px 0px 0px;
}

#buttonu3319.ButtonSelected #u3320
{
	width: 17px;
	min-height: 0px;
	margin: 24px -10000px 0px 0px;
}

#buttonu3563
{
	z-index: 83;
	padding-bottom: 9px;
	position: relative;
	margin-right: -10000px;
	margin-top: 83px;
	width: 73.34%;
	left: 10.8%;
}

#buttonu3563:hover
{
	min-height: 0px;
	width: 73.34%;
	margin: 83px -10000px 0px 0%;
}

#buttonu3563.ButtonSelected
{
	min-height: 0px;
	width: 73.34%;
	margin: 83px -10000px 0px 0%;
}

#u3564-4
{
	z-index: 84;
	min-height: 23px;
	position: relative;
	margin-right: -10000px;
	margin-top: 18px;
	width: 51.52%;
	left: 29.44%;
}

#buttonu3563:hover #u3564-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 51.52%;
	margin: 18px -10000px 0px 0%;
}

#buttonu3563.ButtonSelected #u3564-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 51.52%;
	margin: 18px -10000px 0px 0%;
}

#u3329
{
	z-index: 88;
	width: 46px;
	padding-bottom: 254px;
	position: relative;
	margin-right: -10000px;
}

#u3330
{
	width: 46px;
	position: fixed;
	top: 114px;
	right: 2px;
}

#u3333
{
	z-index: 91;
	height: 254px;
	width: 46px;
	position: relative;
	margin-right: -10000px;
}

#u3331
{
	z-index: 93;
	width: 33px;
	position: relative;
	margin-right: -10000px;
	margin-top: 108px;
	left: 6px;
}

#u3330.PamphletThumbSelected #u3331
{
	width: 33px;
	min-height: 0px;
	margin: 108px -10000px 0px 0px;
}

.css_verticalspacer .verticalspacer
{
	height: calc(100vh - 806px);
}

.html
{
	background-color: #00406D;
}

body
{
	position: relative;
	min-width: 720px;
	padding-top: 155px;
}

#u104_img
{
	width: 100%;
}

