.version.change_log /* version checker */
{
	color: #0000E7;
	background-color: #0EB341;
}

#muse_css_mq
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	min-height: 500px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	width: 100%;
	max-width: 960px;
	margin-left: auto;
	margin-right: auto;
}

#pu14384
{
	z-index: 2;
	margin-right: -10000px;
	margin-top: -20px;
	width: 100%;
}

#u14384
{
	z-index: 2;
	min-height: 77px;
	padding-bottom: 3px;
}

#u14384_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	position: relative;
}

#u14415
{
	z-index: 41;
	position: relative;
	margin-right: -10000px;
	width: 25.63%;
}

#menuu14386
{
	z-index: 4;
	position: relative;
	margin-right: -10000px;
	margin-top: 27px;
	left: 316px;
	width: 47.4%;
}

#u14387
{
	min-height: 30px;
	position: relative;
	margin-right: -10000px;
	width: 16.49%;
}

#u14390
{
	padding-bottom: 11px;
	position: relative;
	width: 100%;
}

#u14390:hover
{
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u14390:active
{
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u14391-4
{
	min-height: 19px;
	position: relative;
	margin-right: -10000px;
	top: 5px;
	width: 100%;
}

#u14390:hover #u14391-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u14390:active #u14391-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u14549
{
	min-height: 30px;
	position: relative;
	margin-right: -10000px;
	width: 16.71%;
	left: 16.49%;
}

#u14550
{
	padding-bottom: 11px;
	position: relative;
	width: 100%;
}

#u14390.MuseMenuActive,#u14550:hover
{
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u14550:active
{
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u14552-4
{
	min-height: 19px;
	position: relative;
	margin-right: -10000px;
	top: 5px;
	width: 100%;
}

#u14390.MuseMenuActive #u14391-4,#u14550:hover #u14552-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u14550:active #u14552-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u14578
{
	min-height: 30px;
	position: relative;
	margin-right: -10000px;
	width: 16.71%;
	left: 33.19%;
}

#u14579
{
	padding-bottom: 11px;
	position: relative;
	width: 100%;
}

#u14550.MuseMenuActive,#u14579:hover
{
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u14579:active
{
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u14580-4
{
	min-height: 19px;
	position: relative;
	margin-right: -10000px;
	top: 5px;
	width: 100%;
}

#u14550.MuseMenuActive #u14552-4,#u14579:hover #u14580-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u14579:active #u14580-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u14606
{
	min-height: 30px;
	position: relative;
	margin-right: -10000px;
	width: 16.71%;
	left: 49.9%;
}

#u14607
{
	padding-bottom: 11px;
	position: relative;
	width: 100%;
}

#u14579.MuseMenuActive,#u14607:hover
{
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u14607:active
{
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u14608-4
{
	min-height: 19px;
	position: relative;
	margin-right: -10000px;
	top: 5px;
	width: 100%;
}

#u14579.MuseMenuActive #u14580-4,#u14607:hover #u14608-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u14607:active #u14608-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u14634
{
	min-height: 30px;
	position: relative;
	margin-right: -10000px;
	width: 16.71%;
	left: 66.6%;
}

#u14635
{
	padding-bottom: 11px;
	position: relative;
	width: 100%;
}

#u14607.MuseMenuActive,#u14635:hover
{
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u14635:active
{
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u14636-4
{
	min-height: 19px;
	position: relative;
	margin-right: -10000px;
	top: 5px;
	width: 100%;
}

#u14607.MuseMenuActive #u14608-4,#u14635:hover #u14636-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u14635:active #u14636-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u14662
{
	min-height: 30px;
	position: relative;
	margin-right: -10000px;
	width: 16.71%;
	left: 83.3%;
}

#u14665
{
	padding-bottom: 11px;
	position: relative;
	width: 100%;
}

#u14635.MuseMenuActive,#u14665:hover
{
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u14665:active
{
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u14665.MuseMenuActive
{
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u14668-4
{
	min-height: 19px;
	position: relative;
	margin-right: -10000px;
	top: 5px;
	width: 100%;
}

#u14635.MuseMenuActive #u14636-4,#u14665:hover #u14668-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u14665:active #u14668-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u14665.MuseMenuActive #u14668-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#u14384-bw
{
	z-index: 2;
	min-height: 77px;
}

#pu7825-71
{
	z-index: 43;
	margin-top: 74px;
	width: 100%;
}

#u7825-71
{
	z-index: 43;
	min-height: 412px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	width: 95.73%;
	left: 1.67%;
}

#u16018
{
	z-index: 114;
	height: 1px;
	border-color: #000000;
	background-color: #DDDDDD;
}

#u16018-bw
{
	z-index: 114;
	margin-top: 192px;
	height: 1px;
}

.css_verticalspacer .verticalspacer
{
	height: calc(100vh - 1032px);
}

#u14385
{
	z-index: 3;
	height: 69px;
}

#u14385-bw
{
	z-index: 3;
	margin-bottom: -8px;
	height: 69px;
}

.html
{
	background-color: #F2F2F2;
}

body
{
	position: relative;
	min-width: 240px;
	padding-top: 20px;
}

.verticalspacer
{
	min-height: 1px;
}

#u14415_img
{
	width: 100%;
}

