.version.chem_chap_3 /* version checker */
{
	color: #000016;
	background-color: #217FAE;
}

#muse_css_mq
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	min-height: 892px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: #FFFFFF;
	border-radius: 15px 15px 0px 0px ;
	width: 100%;
	max-width: 960px;
	margin-left: auto;
	margin-right: auto;
}

#ppu3573
{
	z-index: 0;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: -164px;
	width: 100%;
}

#pu3573
{
	z-index: 37;
	width: 71.88%;
}

#u3573
{
	z-index: 37;
	width: 40px;
	min-height: 40px;
	position: relative;
	margin-right: -10000px;
	margin-top: 119px;
	left: 0px;
	margin-left: 49px;
}

#u104
{
	z-index: 2;
	position: relative;
	margin-right: -10000px;
	width: 74.93%;
	left: 25.08%;
	margin-left: 7.11%;
}

#u900
{
	z-index: 4;
	min-height: 40px;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#u900-bw
{
	z-index: 4;
	min-height: 40px;
	margin-top: 21px;
	left: 0px;
	margin-left: 0px;
}

#u7673
{
	z-index: 38;
	top: -4px;
	margin-bottom: -4px;
	position: relative;
	width: 53.86%;
	left: 0%;
	margin-left: 23.13%;
}

#pbuttonu7682
{
	z-index: 40;
	margin-right: -10000px;
	width: 24.96%;
	margin-left: 75.05%;
}

#buttonu7682
{
	z-index: 40;
	height: 70px;
	position: relative;
	margin-right: -10000px;
	width: 98.45%;
}

#pbuttonu7682:hover #buttonu7682
{
	height: 70px;
	position: relative;
	margin-right: -10000px;
	margin-top: 0px;
	min-height: 0px;
	width: 99.23%;
	left: 0%;
	margin-left: 0%;
}

#u7685-4
{
	z-index: 41;
	min-height: 24px;
	width: 78.75%;
}

#pbuttonu7682:hover #u7685-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: 17px;
	left: 17px;
	min-height: 24px;
	width: 78.75%;
}

#pbuttonu7682.ButtonSelected #u7685-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 78.75%;
}

#u7683
{
	z-index: 45;
	width: 15.75%;
}

#pbuttonu7682:hover #u7683
{
	position: relative;
	margin-right: -10000px;
	min-height: 0px;
	width: 15.75%;
	left: 46.46%;
}

#pbuttonu7682.ButtonSelected #u7683
{
	min-height: 0px;
	width: 15.75%;
}

#pbuttonu7682 #u7683
{
	position: relative;
	margin-right: -10000px;
	left: 45.67%;
}

#pbuttonu7674
{
	z-index: 49;
	margin-right: -10000px;
	width: 24.57%;
	margin-left: 50.68%;
}

#buttonu7674
{
	z-index: 49;
	height: 70px;
	position: relative;
	margin-right: -10000px;
	width: 98.43%;
}

#pbuttonu7674:hover #buttonu7674
{
	height: 70px;
	position: relative;
	margin-right: -10000px;
	margin-top: 0px;
	min-height: 0px;
	width: 99.22%;
	left: 0%;
	margin-left: 0%;
}

#u7677-4
{
	z-index: 50;
	min-height: 24px;
	width: 80%;
}

#pbuttonu7674:hover #u7677-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: 17px;
	left: 17px;
	min-height: 24px;
	width: 80%;
}

#pbuttonu7674.ButtonSelected #u7677-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 80%;
}

#pbuttonu7682 #u7685-4,#pbuttonu7674 #u7677-4
{
	position: relative;
	margin-right: -10000px;
	margin-top: 17px;
	left: 16px;
}

#u7675
{
	z-index: 54;
	width: 16%;
}

#pbuttonu7674:hover #u7675
{
	position: relative;
	margin-right: -10000px;
	min-height: 0px;
	width: 16%;
	left: 42.4%;
}

#pbuttonu7674.ButtonSelected #u7675
{
	min-height: 0px;
	width: 16%;
}

#pbuttonu7674 #u7675
{
	position: relative;
	margin-right: -10000px;
	left: 41.6%;
}

#pbuttonu7678
{
	z-index: 58;
	margin-right: -10000px;
	width: 25.73%;
	margin-left: 25.15%;
}

#buttonu7678
{
	z-index: 58;
	height: 70px;
	position: relative;
	margin-right: -10000px;
	width: 98.5%;
}

#pbuttonu7678:hover #buttonu7678
{
	height: 70px;
	position: relative;
	margin-right: -10000px;
	margin-top: 0px;
	min-height: 0px;
	width: 99.25%;
	left: 0%;
	margin-left: 0%;
}

#u7681-4
{
	z-index: 59;
	min-height: 24px;
	width: 76.34%;
}

#pbuttonu7678:hover #u7681-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: 17px;
	left: 16px;
	min-height: 24px;
	width: 76.34%;
}

#pbuttonu7678.ButtonSelected #u7681-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 76.34%;
}

#pbuttonu7678 #u7681-4
{
	position: relative;
	margin-right: -10000px;
	margin-top: 17px;
	left: 15px;
}

#u7679
{
	z-index: 63;
	width: 15.27%;
}

#pbuttonu7678:hover #u7679
{
	position: relative;
	margin-right: -10000px;
	min-height: 0px;
	width: 15.27%;
	left: 42.75%;
}

#pbuttonu7678.ButtonSelected #u7679
{
	min-height: 0px;
	width: 15.27%;
}

#pbuttonu7678 #u7679
{
	position: relative;
	margin-right: -10000px;
	left: 41.99%;
}

#pbuttonu7686
{
	z-index: 67;
	margin-right: -10000px;
	width: 25.34%;
}

#buttonu7686
{
	z-index: 67;
	height: 70px;
	position: relative;
	margin-right: -10000px;
	width: 98.48%;
}

#pbuttonu7686:hover #buttonu7686
{
	height: 70px;
	position: relative;
	margin-right: -10000px;
	margin-top: 0px;
	min-height: 0px;
	width: 99.24%;
	left: 0%;
	margin-left: 0%;
}

#u7689-4
{
	z-index: 68;
	min-height: 24px;
	width: 77.52%;
}

#pbuttonu7686:hover #u7689-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: 17px;
	left: 7px;
	min-height: 24px;
	width: 77.52%;
}

#pbuttonu7686.ButtonSelected #u7689-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 77.52%;
}

#pbuttonu7686 #u7689-4
{
	position: relative;
	margin-right: -10000px;
	margin-top: 17px;
	left: 6px;
}

#u7687
{
	z-index: 72;
	width: 15.51%;
}

#pbuttonu7686:hover #u7687
{
	position: relative;
	margin-right: -10000px;
	min-height: 0px;
	width: 15.51%;
	left: 43.42%;
}

#pbuttonu7686.ButtonSelected #u7687
{
	min-height: 0px;
	width: 15.51%;
}

#pbuttonu7686 #u7687
{
	position: relative;
	margin-right: -10000px;
	left: 42.64%;
}

#pu8932
{
	z-index: 24;
	margin-top: 7px;
	width: 26.46%;
}

#u8932
{
	z-index: 24;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	width: 98.82%;
	left: 1.19%;
	margin-left: 140.16%;
}

#pamphletu12829
{
	z-index: 75;
	position: relative;
	margin-right: -10000px;
	width: 99.61%;
	margin-left: 139.18%;
	left: 3px;
}

#u12834
{
	position: absolute;
	width: 314px;
	height: 621px;
	margin-left: 50%;
	left: -309.5px;
}

#u12834popup
{
	z-index: 76;
	margin-top: 54px;
	width: 314px;
	height: 621px;
	margin-right: -10000px;
	margin-left: 50%;
}

#u12835
{
	z-index: 77;
	width: 314px;
	height: 504px;
	padding-bottom: 117px;
	margin-right: -10000px;
	position: relative;
	margin-left: 50%;
	left: -157px;
}

#pu12840
{
	z-index: 113;
	width: 100%;
}

#u12840
{
	z-index: 113;
	width: 314px;
	height: 94px;
	position: relative;
	margin-right: -10000px;
	left: 0px;
	margin-left: 0px;
}

#u12931-4
{
	z-index: 114;
	min-height: 23px;
	position: relative;
	margin-right: -10000px;
	margin-top: 34px;
	width: 37.9%;
	left: 33.13%;
	margin-left: 0%;
}

#u12931-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 37.9%;
	margin: 34px -10000px 0px 0%;
}

#buttonu12853
{
	z-index: 78;
	width: 313px;
	height: 58px;
	padding-bottom: 24px;
	position: relative;
}

#buttonu12853:hover
{
	width: 313px;
	height: 58px;
	min-height: 0px;
	margin: 0px;
}

#u12854-4
{
	z-index: 79;
	width: 122px;
	min-height: 24px;
	position: relative;
	margin-right: -10000px;
	margin-top: 34px;
	left: 96px;
}

#buttonu12853:hover #u12854-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 122px;
	margin: 34px -10000px 0px 0px;
}

#u12855
{
	z-index: 83;
	width: 17px;
	position: relative;
	margin-right: -10000px;
	margin-top: 24px;
	left: 296px;
}

#buttonu12853:hover #u12855
{
	width: 17px;
	min-height: 0px;
	margin: 24px -10000px 0px 0px;
}

#buttonu12853:active #u12855
{
	width: 17px;
	min-height: 0px;
	margin: 24px -10000px 0px 0px;
}

#buttonu12849
{
	z-index: 92;
	width: 313px;
	height: 58px;
	padding-bottom: 24px;
	position: relative;
}

#buttonu12853.ButtonSelected,#buttonu12849:hover
{
	width: 313px;
	height: 58px;
	min-height: 0px;
	margin: 0px;
}

#u12852-4
{
	z-index: 93;
	width: 140px;
	min-height: 24px;
	position: relative;
	margin-right: -10000px;
	margin-top: 34px;
	left: 91px;
}

#buttonu12849:hover #u12852-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 140px;
	margin: 34px -10000px 0px 0px;
}

#buttonu12849.ButtonSelected #u12852-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 140px;
	margin: 34px -10000px 0px 0px;
}

#u12850
{
	z-index: 97;
	width: 17px;
	position: relative;
	margin-right: -10000px;
	margin-top: 24px;
	left: 296px;
}

#buttonu12853.ButtonSelected #u12855,#buttonu12849:hover #u12850
{
	width: 17px;
	min-height: 0px;
	margin: 24px -10000px 0px 0px;
}

#buttonu12849:active #u12850
{
	width: 17px;
	min-height: 0px;
	margin: 24px -10000px 0px 0px;
}

#buttonu12845
{
	z-index: 99;
	width: 313px;
	height: 58px;
	padding-bottom: 24px;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
}

#buttonu12845:hover
{
	width: 313px;
	height: 58px;
	min-height: 0px;
	margin: 0px 0px -1px;
}

#buttonu12845.ButtonSelected
{
	width: 313px;
	height: 58px;
	min-height: 0px;
	margin: 0px 0px -1px;
}

#u12848-4
{
	z-index: 100;
	width: 122px;
	min-height: 24px;
	position: relative;
	margin-right: -10000px;
	margin-top: 34px;
	left: 96px;
}

#buttonu12853.ButtonSelected #u12854-4,#buttonu12845:hover #u12848-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 122px;
	margin: 34px -10000px 0px 0px;
}

#u12846
{
	z-index: 104;
	width: 17px;
	position: relative;
	margin-right: -10000px;
	margin-top: 24px;
	left: 296px;
}

#buttonu12849.ButtonSelected #u12850,#buttonu12845:hover #u12846
{
	width: 17px;
	min-height: 0px;
	margin: 24px -10000px 0px 0px;
}

#buttonu12845:active #u12846
{
	width: 17px;
	min-height: 0px;
	margin: 24px -10000px 0px 0px;
}

#buttonu12841
{
	z-index: 85;
	width: 313px;
	height: 58px;
	padding-bottom: 24px;
	position: relative;
}

#buttonu12849.ButtonSelected,#buttonu12841:hover
{
	width: 313px;
	height: 58px;
	min-height: 0px;
	margin: 0px;
}

#buttonu12841.ButtonSelected
{
	width: 313px;
	height: 58px;
	min-height: 0px;
	margin: 0px;
}

#u12842-4
{
	z-index: 86;
	width: 122px;
	min-height: 24px;
	position: relative;
	margin-right: -10000px;
	margin-top: 34px;
	left: 96px;
}

#buttonu12845.ButtonSelected #u12848-4,#buttonu12841:hover #u12842-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 122px;
	margin: 34px -10000px 0px 0px;
}

#u12843
{
	z-index: 90;
	width: 17px;
	position: relative;
	margin-right: -10000px;
	margin-top: 24px;
	left: 296px;
}

#buttonu12845.ButtonSelected #u12846,#buttonu12841:hover #u12843
{
	width: 17px;
	min-height: 0px;
	margin: 24px -10000px 0px 0px;
}

#buttonu12841:active #u12843
{
	width: 17px;
	min-height: 0px;
	margin: 24px -10000px 0px 0px;
}

#buttonu12836
{
	z-index: 106;
	width: 313px;
	height: 58px;
	padding-bottom: 24px;
	margin-top: 1px;
	position: relative;
}

#buttonu12836:hover
{
	width: 313px;
	height: 58px;
	min-height: 0px;
	margin: 1px 0px 0px;
}

#buttonu12836.ButtonSelected
{
	width: 313px;
	height: 58px;
	min-height: 0px;
	margin: 1px 0px 0px;
}

#u12839-4
{
	z-index: 107;
	width: 122px;
	min-height: 24px;
	position: relative;
	margin-right: -10000px;
	margin-top: 34px;
	left: 96px;
}

#buttonu12841.ButtonSelected #u12842-4,#buttonu12836:hover #u12839-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 122px;
	margin: 34px -10000px 0px 0px;
}

#buttonu12836.ButtonSelected #u12839-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 122px;
	margin: 34px -10000px 0px 0px;
}

#u12837
{
	z-index: 111;
	width: 17px;
	position: relative;
	margin-right: -10000px;
	margin-top: 24px;
	left: 296px;
}

#buttonu12841.ButtonSelected #u12843,#buttonu12836:hover #u12837
{
	width: 17px;
	min-height: 0px;
	margin: 24px -10000px 0px 0px;
}

#buttonu12836:active #u12837
{
	width: 17px;
	min-height: 0px;
	margin: 24px -10000px 0px 0px;
}

#buttonu12836.ButtonSelected #u12837
{
	width: 17px;
	min-height: 0px;
	margin: 24px -10000px 0px 0px;
}

#u12859
{
	z-index: 118;
	position: relative;
	margin-right: -10000px;
	width: 100%;
}

#u12860
{
	position: absolute;
	height: 62px;
	width: 100%;
}

.ie #u12860
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u12860popup
{
	height: 62px;
	margin-right: -10000px;
	width: 100%;
}

#u12239-11
{
	z-index: 26;
	min-height: 413px;
	background-color: transparent;
	margin-top: 24px;
	position: relative;
	width: 95%;
	left: 0%;
	margin-left: 2.4%;
}

.css_verticalspacer .verticalspacer
{
	height: calc(100vh - 861px);
}

#u6883
{
	z-index: 5;
	min-height: 211px;
	padding-bottom: 93px;
}

#u6883_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	position: relative;
}

#pu6898
{
	z-index: 6;
	margin-right: -10000px;
	margin-top: 103px;
	width: 30.53%;
	margin-left: 3.55%;
}

#u6898
{
	z-index: 6;
	position: relative;
	width: 60.76%;
}

#u11932-4
{
	z-index: 8;
	min-height: 39px;
	margin-top: 17px;
	position: relative;
	width: 42.67%;
	margin-left: 55.98%;
}

#u11933-4
{
	z-index: 12;
	min-height: 39px;
	position: relative;
	margin-right: -10000px;
	margin-top: 167px;
	width: 13.03%;
	left: 36.57%;
}

#u11934-4
{
	z-index: 16;
	min-height: 39px;
	position: relative;
	margin-right: -10000px;
	margin-top: 167px;
	width: 13.03%;
	left: 51.98%;
}

#u11935-4
{
	z-index: 20;
	min-height: 39px;
	position: relative;
	margin-right: -10000px;
	margin-top: 167px;
	width: 13.03%;
	left: 67.5%;
}

#u6883-bw
{
	z-index: 5;
	min-height: 211px;
	margin-bottom: -240px;
	margin-top: -1px;
}

.html
{
	background-color: #00406D;
}

body
{
	position: relative;
	min-width: 240px;
	padding-top: 155px;
	padding-bottom: 12px;
}

.verticalspacer
{
	min-height: 198px;
}

#u104_img,#u7683_img,#u7675_img,#u7679_img,#u7687_img,#u8932_img,#u6898_img
{
	width: 100%;
}

