.version.civ6_guide /* version checker */
{
	color: #000012;
	background-color: #663B02;
}

#muse_css_mq
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	min-height: 908px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: #FFFFFF;
	border-radius: 15px 15px 0px 0px ;
	width: 100%;
	max-width: 960px;
	margin-left: auto;
	margin-right: auto;
}

#pppu14091
{
	z-index: 0;
	height: 1114.9px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: -164px;
	width: 100%;
}

#ppu14091
{
	z-index: 0;
	width: 76.05%;
}

#pu14091
{
	z-index: 2;
	margin-right: -10000px;
	margin-top: 27px;
	width: 27.4%;
}

#u14091
{
	z-index: 2;
	height: 66px;
	position: relative;
	width: 100%;
	left: 0%;
	margin-left: 4.5%;
}

#pu3573
{
	z-index: 104;
	margin-top: 3px;
	width: 55.51%;
}

#u3573
{
	z-index: 104;
	width: 40px;
	min-height: 40px;
	position: relative;
	margin-right: -10000px;
	margin-top: 23px;
	left: 0px;
	margin-left: 49px;
}

#u14264
{
	z-index: 3;
	width: 60px;
	min-height: 64px;
	position: relative;
	margin-right: -10000px;
	left: 45.95%;
	margin-left: 44.15%;
}

#u104
{
	z-index: 4;
	position: relative;
	margin-right: -10000px;
	width: 70.83%;
	left: 29.18%;
	margin-left: 1.24%;
}

#u900
{
	z-index: 6;
	min-height: 40px;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#u900-bw
{
	z-index: 6;
	min-height: 40px;
	margin-top: 21px;
	left: 0px;
	margin-left: 0px;
}

#u7673
{
	z-index: 105;
	top: -4px;
	margin-bottom: -4px;
	position: relative;
	width: 53.86%;
	left: 0%;
	margin-left: 23.13%;
}

#pbuttonu7682
{
	z-index: 107;
	margin-right: -10000px;
	width: 24.96%;
	margin-left: 75.05%;
}

#buttonu7682
{
	z-index: 107;
	height: 70px;
	position: relative;
	margin-right: -10000px;
	width: 98.45%;
}

#pbuttonu7682:hover #buttonu7682
{
	height: 70px;
	position: relative;
	margin-right: -10000px;
	margin-top: 0px;
	min-height: 0px;
	width: 99.23%;
	left: 0%;
	margin-left: 0%;
}

#u7685-4
{
	z-index: 108;
	min-height: 24px;
	width: 78.75%;
}

#pbuttonu7682:hover #u7685-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: 17px;
	left: 17px;
	min-height: 24px;
	width: 78.75%;
}

#pbuttonu7682.ButtonSelected #u7685-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 78.75%;
}

#u7683
{
	z-index: 112;
	width: 15.75%;
}

#pbuttonu7682:hover #u7683
{
	position: relative;
	margin-right: -10000px;
	min-height: 0px;
	width: 15.75%;
	left: 46.46%;
}

#pbuttonu7682.ButtonSelected #u7683
{
	min-height: 0px;
	width: 15.75%;
}

#pbuttonu7682 #u7683
{
	position: relative;
	margin-right: -10000px;
	left: 45.67%;
}

#pbuttonu7674
{
	z-index: 116;
	margin-right: -10000px;
	width: 24.57%;
	margin-left: 50.68%;
}

#buttonu7674
{
	z-index: 116;
	height: 70px;
	position: relative;
	margin-right: -10000px;
	width: 98.43%;
}

#pbuttonu7674:hover #buttonu7674
{
	height: 70px;
	position: relative;
	margin-right: -10000px;
	margin-top: 0px;
	min-height: 0px;
	width: 99.22%;
	left: 0%;
	margin-left: 0%;
}

#u7677-4
{
	z-index: 117;
	min-height: 24px;
	width: 80%;
}

#pbuttonu7674:hover #u7677-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: 17px;
	left: 17px;
	min-height: 24px;
	width: 80%;
}

#pbuttonu7674.ButtonSelected #u7677-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 80%;
}

#pbuttonu7682 #u7685-4,#pbuttonu7674 #u7677-4
{
	position: relative;
	margin-right: -10000px;
	margin-top: 17px;
	left: 16px;
}

#u7675
{
	z-index: 121;
	width: 16%;
}

#pbuttonu7674:hover #u7675
{
	position: relative;
	margin-right: -10000px;
	min-height: 0px;
	width: 16%;
	left: 42.4%;
}

#pbuttonu7674.ButtonSelected #u7675
{
	min-height: 0px;
	width: 16%;
}

#pbuttonu7674 #u7675
{
	position: relative;
	margin-right: -10000px;
	left: 41.6%;
}

#pbuttonu7678
{
	z-index: 125;
	margin-right: -10000px;
	width: 25.73%;
	margin-left: 25.15%;
}

#buttonu7678
{
	z-index: 125;
	height: 70px;
	position: relative;
	margin-right: -10000px;
	width: 98.5%;
}

#pbuttonu7678:hover #buttonu7678
{
	height: 70px;
	position: relative;
	margin-right: -10000px;
	margin-top: 0px;
	min-height: 0px;
	width: 99.25%;
	left: 0%;
	margin-left: 0%;
}

#u7681-4
{
	z-index: 126;
	min-height: 24px;
	width: 76.34%;
}

#pbuttonu7678:hover #u7681-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: 17px;
	left: 16px;
	min-height: 24px;
	width: 76.34%;
}

#pbuttonu7678.ButtonSelected #u7681-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 76.34%;
}

#pbuttonu7678 #u7681-4
{
	position: relative;
	margin-right: -10000px;
	margin-top: 17px;
	left: 15px;
}

#u7679
{
	z-index: 130;
	width: 15.27%;
}

#pbuttonu7678:hover #u7679
{
	position: relative;
	margin-right: -10000px;
	min-height: 0px;
	width: 15.27%;
	left: 42.75%;
}

#pbuttonu7678.ButtonSelected #u7679
{
	min-height: 0px;
	width: 15.27%;
}

#pbuttonu7678 #u7679
{
	position: relative;
	margin-right: -10000px;
	left: 41.99%;
}

#pbuttonu7686
{
	z-index: 134;
	margin-right: -10000px;
	width: 25.34%;
}

#buttonu7686
{
	z-index: 134;
	height: 70px;
	position: relative;
	margin-right: -10000px;
	width: 98.48%;
}

#pbuttonu7686:hover #buttonu7686
{
	height: 70px;
	position: relative;
	margin-right: -10000px;
	margin-top: 0px;
	min-height: 0px;
	width: 99.24%;
	left: 0%;
	margin-left: 0%;
}

#u7689-4
{
	z-index: 135;
	min-height: 24px;
	width: 77.52%;
}

#pbuttonu7686:hover #u7689-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: 17px;
	left: 7px;
	min-height: 24px;
	width: 77.52%;
}

#pbuttonu7686.ButtonSelected #u7689-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 77.52%;
}

#pbuttonu7686 #u7689-4
{
	position: relative;
	margin-right: -10000px;
	margin-top: 17px;
	left: 6px;
}

#u7687
{
	z-index: 139;
	width: 15.51%;
}

#pbuttonu7686:hover #u7687
{
	position: relative;
	margin-right: -10000px;
	min-height: 0px;
	width: 15.51%;
	left: 43.42%;
}

#pbuttonu7686.ButtonSelected #u7687
{
	min-height: 0px;
	width: 15.51%;
}

#pbuttonu7686 #u7687
{
	position: relative;
	margin-right: -10000px;
	left: 42.64%;
}

#u5663-4
{
	z-index: 39;
	min-height: 29px;
	margin-top: 2px;
	position: relative;
	width: 96.05%;
	left: 0%;
	margin-left: 2.3%;
}

#menuu5488
{
	z-index: 26;
	margin-top: 1px;
	position: relative;
	width: 46.46%;
	left: 0%;
	margin-left: 26.36%;
}

#u5496
{
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
	width: 49.78%;
}

#u5497
{
	padding-bottom: 17px;
	position: relative;
	width: 100%;
}

#u5497:hover
{
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u5497:active
{
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u5498-4
{
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	width: 100%;
}

#u5497:hover #u5498-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u5497:active #u5498-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u5489
{
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
	width: 49.78%;
	left: 50.23%;
}

#u5492
{
	padding-bottom: 17px;
	position: relative;
	width: 100%;
}

#u5497.MuseMenuActive,#u5492:hover
{
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u5492:active
{
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u5492.MuseMenuActive
{
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u5495-4
{
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	width: 100%;
}

#u5497.MuseMenuActive #u5498-4,#u5492:hover #u5495-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u5492:active #u5495-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u5492.MuseMenuActive #u5495-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u4450
{
	z-index: 74;
	padding-bottom: 1px;
	margin-top: 4px;
	position: relative;
	width: 96.15%;
	left: 0%;
	margin-left: 2.19%;
}

#u4329
{
	z-index: 75;
	padding-bottom: 22px;
	position: relative;
	margin-right: -10000px;
	width: 99.9%;
}

#u4332
{
	z-index: 76;
	position: relative;
	margin-right: -10000px;
	margin-top: 25px;
	width: 7.6%;
	left: 83.3%;
}

#pamphletu4334
{
	z-index: 78;
	position: relative;
	margin-right: -10000px;
	margin-top: 16px;
	width: 99.68%;
	left: 0.22%;
}

#pamphletu4334_position_content
{
	margin-bottom: -1px;
	width: 100%;
}

#u4345
{
	z-index: 98;
	margin-left: 334px;
	position: relative;
	width: 27.51%;
}

#u4346
{
	position: absolute;
	width: 253px;
	height: 49px;
	padding-bottom: 13px;
}

#u4346.PamphletThumbSelected
{
	width: 253px;
	height: 49px;
	min-height: 0px;
	margin: 0px;
}

#u4331-4
{
	z-index: 100;
	width: 221px;
	min-height: 35px;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 15px;
}

#u4346.PamphletThumbSelected #u4331-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 35px;
	width: 221px;
	margin: 10px -10000px 0px 0px;
}

#u4346popup
{
	width: 253px;
	height: 62px;
	margin-right: -10000px;
}

#u4339
{
	position: absolute;
	width: 922px;
	height: 238px;
}

#u4339popup
{
	z-index: 79;
	width: 922px;
	height: 238px;
	left: -1px;
	margin-top: 15px;
}

#u4340
{
	z-index: 80;
	width: 918px;
	height: 205px;
	padding-bottom: 29px;
	margin-right: -10000px;
	position: relative;
}

#u4341-5
{
	z-index: 81;
	width: 345px;
	min-height: 45px;
	position: relative;
	margin-right: -10000px;
	margin-top: 24px;
	left: 38px;
}

#u4341-5:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 45px;
	width: 345px;
	margin: 24px -10000px 0px 0px;
}

#pu4401-5
{
	z-index: 86;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 87px;
	width: 38.02%;
	margin-left: 4.14%;
}

#u4401-5
{
	z-index: 86;
	width: 345px;
	min-height: 45px;
	position: relative;
}

#u4401-5:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 45px;
	width: 345px;
	margin: 0px 0px 0px 0%;
}

#u4404-5
{
	z-index: 91;
	width: 345px;
	min-height: 45px;
	margin-top: 2px;
	position: relative;
}

#u4404-5:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 45px;
	width: 345px;
	margin: 2px 0px 0px 0%;
}

#u5217
{
	z-index: 96;
	position: relative;
	margin-right: -10000px;
	margin-top: 20px;
	width: 33.67%;
	left: 57.3%;
}

#u8625-31
{
	z-index: 43;
	min-height: 205px;
	background-color: transparent;
	margin-top: 16px;
	position: relative;
	width: 95.32%;
	left: 0%;
	margin-left: 2.3%;
}

.css_verticalspacer .verticalspacer
{
	height: calc(100vh - 1203px);
}

#u6883
{
	z-index: 7;
	min-height: 303.9999999999999px;
	padding-bottom: 0px;
}

#u6883_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	position: relative;
	padding-top: 42px;
	padding-bottom: 22px;
}

#u6898
{
	z-index: 8;
	position: relative;
	width: 18.55%;
	left: 6.05%;
}

#pu11932-4
{
	z-index: 10;
	margin-top: 17px;
	position: relative;
	width: 100%;
}

#u11932-4
{
	z-index: 10;
	min-height: 39px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	width: 13.03%;
	left: 23.13%;
}

#u11933-4
{
	z-index: 14;
	min-height: 39px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	width: 13.03%;
	left: 39.07%;
}

#u11934-4
{
	z-index: 18;
	min-height: 39px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	width: 13.03%;
	left: 54.48%;
}

#u11935-4
{
	z-index: 22;
	min-height: 39px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	width: 13.03%;
	left: 70%;
}

#u16117-7
{
	z-index: 142;
	min-height: 54px;
	margin-top: 80px;
	position: relative;
	width: 95.94%;
	left: 2.19%;
}

#u6883-bw
{
	z-index: 7;
	min-height: 303.9999999999999px;
	margin-bottom: -240px;
	margin-top: -1px;
}

.html
{
	background-color: #00406D;
}

body
{
	position: relative;
	min-width: 240px;
	padding-top: 155px;
	padding-bottom: 35px;
}

.verticalspacer
{
	min-height: 1px;
}

#u104_img,#u7683_img,#u7675_img,#u7679_img,#u7687_img,#u4332_img,#u5217_img,#u6898_img
{
	width: 100%;
}

