.version.combatguide /* version checker */
{
	color: #0000EE;
	background-color: #B9A97F;
}

#muse_css_mq
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	min-height: 892px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: #FFFFFF;
	width: 100%;
	max-width: 960px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -164px;
	margin-bottom: -240px;
	width: 100%;
}

#pu3573
{
	z-index: 469;
	width: 100%;
}

#u3573
{
	z-index: 469;
	width: 40px;
	min-height: 40px;
	position: relative;
	margin-right: -10000px;
	margin-top: 119px;
	left: 49px;
}

#u104
{
	z-index: 2;
	position: relative;
	margin-right: -10000px;
	width: 53.86%;
	left: 23.13%;
}

#u900
{
	z-index: 4;
	min-height: 40px;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#u900-bw
{
	z-index: 4;
	min-height: 40px;
	margin-top: 21px;
}

#u7673
{
	z-index: 470;
	top: -4px;
	margin-bottom: -4px;
	position: relative;
	width: 53.86%;
	margin-left: 23.13%;
}

#pbuttonu7682
{
	z-index: 472;
	margin-right: -10000px;
	width: 24.96%;
	margin-left: 75.05%;
}

#buttonu7682
{
	z-index: 472;
	height: 70px;
	position: relative;
	margin-right: -10000px;
	width: 98.45%;
}

#pbuttonu7682:hover #buttonu7682
{
	height: 70px;
	position: relative;
	margin-right: -10000px;
	margin-top: 0px;
	min-height: 0px;
	width: 99.23%;
	left: 0%;
	margin-left: 0%;
}

#u7685-4
{
	z-index: 473;
	min-height: 24px;
	width: 78.75%;
}

#pbuttonu7682:hover #u7685-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: 17px;
	left: 17px;
	min-height: 24px;
	width: 78.75%;
}

#pbuttonu7682.ButtonSelected #u7685-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 78.75%;
}

#pbuttonu7682 #u7685-4
{
	position: relative;
	margin-right: -10000px;
	margin-top: 17px;
	left: 16px;
	width: 78.75%;
}

#u7683
{
	z-index: 477;
	width: 15.75%;
}

#pbuttonu7682:hover #u7683
{
	position: relative;
	margin-right: -10000px;
	min-height: 0px;
	width: 15.75%;
	left: 46.46%;
}

#pbuttonu7682.ButtonSelected #u7683
{
	min-height: 0px;
	width: 15.75%;
}

#pbuttonu7682 #u7683
{
	position: relative;
	margin-right: -10000px;
	width: 15.75%;
	left: 45.67%;
}

#pbuttonu7674
{
	z-index: 481;
	margin-right: -10000px;
	width: 24.57%;
	margin-left: 50.68%;
}

#buttonu7674
{
	z-index: 481;
	height: 70px;
	position: relative;
	margin-right: -10000px;
	width: 98.43%;
}

#pbuttonu7674:hover #buttonu7674
{
	height: 70px;
	position: relative;
	margin-right: -10000px;
	margin-top: 0px;
	min-height: 0px;
	width: 99.22%;
	left: 0%;
	margin-left: 0%;
}

#u7677-4
{
	z-index: 482;
	min-height: 24px;
	width: 80%;
}

#pbuttonu7674:hover #u7677-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: 17px;
	left: 17px;
	min-height: 24px;
	width: 80%;
}

#pbuttonu7674.ButtonSelected #u7677-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 80%;
}

#pbuttonu7674 #u7677-4
{
	position: relative;
	margin-right: -10000px;
	margin-top: 17px;
	left: 16px;
	width: 80%;
}

#u7675
{
	z-index: 486;
	width: 16%;
}

#pbuttonu7674:hover #u7675
{
	position: relative;
	margin-right: -10000px;
	min-height: 0px;
	width: 16%;
	left: 42.4%;
}

#pbuttonu7674.ButtonSelected #u7675
{
	min-height: 0px;
	width: 16%;
}

#pbuttonu7674 #u7675
{
	position: relative;
	margin-right: -10000px;
	width: 16%;
	left: 41.6%;
}

#pbuttonu7678
{
	z-index: 490;
	margin-right: -10000px;
	width: 25.73%;
	margin-left: 25.15%;
}

#buttonu7678
{
	z-index: 490;
	height: 70px;
	position: relative;
	margin-right: -10000px;
	width: 98.5%;
}

#u7681-4
{
	z-index: 491;
	min-height: 24px;
	width: 76.34%;
}

#pbuttonu7678:hover #u7681-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: 17px;
	left: 16px;
	min-height: 24px;
	width: 76.34%;
}

#u7679
{
	z-index: 495;
	width: 15.27%;
}

#pbuttonu7678:hover #u7679
{
	position: relative;
	margin-right: -10000px;
	min-height: 0px;
	width: 15.27%;
	left: 42.75%;
}

#pbuttonu7678.ButtonSelected #u7679
{
	min-height: 0px;
	width: 15.27%;
}

#pbuttonu7678 #u7679
{
	position: relative;
	margin-right: -10000px;
	width: 15.27%;
	left: 41.99%;
}

#pbuttonu7686
{
	z-index: 499;
	margin-right: -10000px;
	width: 25.34%;
}

#buttonu7686
{
	z-index: 499;
	height: 70px;
	position: relative;
	margin-right: -10000px;
	width: 98.48%;
}

#pbuttonu7686:hover #buttonu7686
{
	height: 70px;
	position: relative;
	margin-right: -10000px;
	margin-top: 0px;
	min-height: 0px;
	width: 99.24%;
	left: 0%;
	margin-left: 0%;
}

#u7689-4
{
	z-index: 500;
	min-height: 24px;
	width: 77.52%;
}

#pbuttonu7686:hover #u7689-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: 17px;
	left: 7px;
	min-height: 24px;
	width: 77.52%;
}

#pbuttonu7686.ButtonSelected #u7689-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 77.52%;
}

#pbuttonu7686 #u7689-4
{
	position: relative;
	margin-right: -10000px;
	margin-top: 17px;
	left: 6px;
	width: 77.52%;
}

#u7687
{
	z-index: 504;
	width: 15.51%;
}

#pbuttonu7686:hover #u7687
{
	position: relative;
	margin-right: -10000px;
	min-height: 0px;
	width: 15.51%;
	left: 43.42%;
}

#pbuttonu7686.ButtonSelected #u7687
{
	min-height: 0px;
	width: 15.51%;
}

#pbuttonu7686 #u7687
{
	position: relative;
	margin-right: -10000px;
	width: 15.51%;
	left: 42.64%;
}

#u5663-4
{
	z-index: 21;
	min-height: 29px;
	margin-top: 2px;
	position: relative;
	width: 96.05%;
	margin-left: 2.3%;
}

#menuu5488
{
	z-index: 8;
	margin-top: 1px;
	position: relative;
	width: 46.46%;
	margin-left: 26.36%;
}

#u5496
{
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
	width: 49.78%;
}

#u5497
{
	padding-bottom: 17px;
	position: relative;
	width: 100%;
}

#u5497:hover
{
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u5497:active
{
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u5498-4
{
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	width: 100%;
}

#u5497:hover #u5498-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u5497:active #u5498-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u5489
{
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
	width: 49.78%;
	left: 50.23%;
}

#u5492
{
	padding-bottom: 17px;
	position: relative;
	width: 100%;
}

#u5497.MuseMenuActive,#u5492:hover
{
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u5492:active
{
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u5492.MuseMenuActive
{
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u5495-4
{
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	width: 100%;
}

#u5497.MuseMenuActive #u5498-4,#u5492:hover #u5495-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u5492:active #u5495-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u5492.MuseMenuActive #u5495-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u4450
{
	z-index: 439;
	padding-bottom: 1px;
	margin-top: 4px;
	position: relative;
	width: 96.15%;
	margin-left: 2.19%;
}

#u4329
{
	z-index: 440;
	padding-bottom: 22px;
	position: relative;
	margin-right: -10000px;
	width: 99.9%;
}

#u4332
{
	z-index: 441;
	position: relative;
	margin-right: -10000px;
	margin-top: 25px;
	width: 7.6%;
	left: 83.3%;
}

#pamphletu4334
{
	z-index: 443;
	width: 0.01px;
	height: 49px;
	padding-bottom: 265px;
	position: relative;
	margin-right: -10000px;
	margin-top: 16px;
	left: 0.22%;
}

#u4339
{
	position: absolute;
	width: 922px;
	top: 77px;
	left: -1px;
}

#u4339popup
{
	z-index: 444;
}

#u4340
{
	z-index: 445;
	width: 918px;
	height: 234px;
	margin-right: -10000px;
	position: relative;
}

#u4341-5
{
	z-index: 446;
	width: 345px;
	min-height: 45px;
	position: relative;
	margin-right: -10000px;
	margin-top: 24px;
	left: 38px;
}

#u4341-5:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 45px;
	width: 345px;
	margin: 24px -10000px 0px 0px;
}

#pu4401-5
{
	z-index: 451;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 87px;
	width: 38.02%;
	margin-left: 4.14%;
}

#u4401-5
{
	z-index: 451;
	width: 345px;
	min-height: 45px;
	position: relative;
}

#u4401-5:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 45px;
	width: 345px;
	margin: 0px 0px 0px 0%;
}

#u4404-5
{
	z-index: 456;
	width: 345px;
	min-height: 45px;
	margin-top: 2px;
	position: relative;
}

#u4404-5:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 45px;
	width: 345px;
	margin: 2px 0px 0px 0%;
}

#u5217
{
	z-index: 461;
	position: relative;
	margin-right: -10000px;
	margin-top: 20px;
	width: 33.67%;
	left: 57.3%;
}

#u4345
{
	z-index: 463;
	width: 225px;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 349px;
}

#u4346
{
	position: absolute;
	width: 253px;
	padding-bottom: 13px;
	top: -10px;
	left: -15px;
}

#u4346.PamphletThumbSelected
{
	width: 253px;
	min-height: 0px;
	margin: 0px;
}

#u4331-4
{
	z-index: 465;
	width: 221px;
	min-height: 35px;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 15px;
}

#u4346.PamphletThumbSelected #u4331-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 35px;
	width: 221px;
	margin: 10px -10000px 0px 0px;
}

#u5323-414
{
	z-index: 25;
	min-height: 406px;
	background-color: transparent;
	margin-top: 15px;
	position: relative;
	width: 95.53%;
	margin-left: 2.19%;
}

#u5323
{
	text-decoration: none;
	font-weight: normal;
}

#u5323-2,#u5323-4,#u5323-44
{
	font-weight: bold;
}

#u5323-3,#u5323-43
{
	text-decoration: underline;
}

.css_verticalspacer .verticalspacer
{
	height: calc(100vh - 5938px);
}

#u6883
{
	z-index: 5;
	min-height: 303.8577059000471px;
	padding-bottom: 0px;
}

#u6883_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	position: relative;
	padding-top: 103px;
	padding-bottom: 63px;
	margin-bottom: -1px;
}

#u6898
{
	z-index: 6;
	position: relative;
	width: 18.55%;
	left: 3.55%;
}

#u8095
{
	z-index: 507;
	margin-top: 19px;
	position: relative;
	width: 67.19%;
	left: 16.57%;
}

#u7909
{
	z-index: 508;
	position: relative;
	margin-right: -10000px;
	width: 80.47%;
}

#ppbuttonu7918
{
	z-index: 527;
	margin-right: -10000px;
	width: 50.87%;
}

#pbuttonu7918
{
	z-index: 528;
	margin-right: -10000px;
	width: 50.38%;
	margin-left: 50%;
}

#buttonu7918
{
	z-index: 528;
	height: 70px;
	position: relative;
	margin-right: -10000px;
	width: 98.5%;
}

#pbuttonu7678:hover #buttonu7678,#pbuttonu7918:hover #buttonu7918
{
	height: 70px;
	position: relative;
	margin-right: -10000px;
	margin-top: 0px;
	min-height: 0px;
	width: 99.25%;
	left: 0%;
	margin-left: 0%;
}

#u7921-4
{
	z-index: 529;
	min-height: 24px;
	width: 76.34%;
}

#pbuttonu7918:hover #u7921-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: 17px;
	left: 16px;
	min-height: 24px;
	width: 76.34%;
}

#pbuttonu7678.ButtonSelected #u7681-4,#pbuttonu7918.ButtonSelected #u7921-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 76.34%;
}

#pbuttonu7678 #u7681-4,#pbuttonu7918 #u7921-4
{
	position: relative;
	margin-right: -10000px;
	margin-top: 17px;
	left: 15px;
	width: 76.34%;
}

#u7919
{
	z-index: 533;
	width: 20px;
}

#pbuttonu7918:hover #u7919
{
	position: relative;
	margin-right: -10000px;
	width: 20px;
	left: 52px;
	min-height: 0px;
}

#pbuttonu7918 #u7919
{
	position: relative;
	margin-right: -10000px;
	width: 20px;
	left: 51px;
}

#pbuttonu7910
{
	z-index: 537;
	margin-right: -10000px;
	width: 50.76%;
}

#buttonu7910
{
	z-index: 537;
	height: 70px;
	position: relative;
	margin-right: -10000px;
	width: 98.51%;
}

#pbuttonu7910:hover #buttonu7910
{
	height: 70px;
	position: relative;
	margin-right: -10000px;
	margin-top: 0px;
	min-height: 0px;
	width: 99.26%;
	left: 0%;
	margin-left: 0%;
}

#u7913-4
{
	z-index: 538;
	min-height: 24px;
	width: 75.76%;
}

#pbuttonu7910:hover #u7913-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: 17px;
	left: 7px;
	min-height: 24px;
	width: 75.76%;
}

#pbuttonu7910.ButtonSelected #u7913-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 75.76%;
}

#pbuttonu7910 #u7913-4
{
	position: relative;
	margin-right: -10000px;
	margin-top: 17px;
	left: 6px;
	width: 75.76%;
}

#u7911
{
	z-index: 542;
	width: 20px;
}

#pbuttonu7910:hover #u7911
{
	position: relative;
	margin-right: -10000px;
	width: 20px;
	left: 56px;
	min-height: 0px;
}

#pbuttonu7910 #u7911
{
	position: relative;
	margin-right: -10000px;
	width: 20px;
	left: 55px;
}

#ppbuttonu7922
{
	z-index: 509;
	margin-right: -10000px;
	width: 48.75%;
	margin-left: 51.06%;
}

#pbuttonu7922
{
	z-index: 510;
	margin-right: -10000px;
	width: 50.6%;
	margin-left: 49.81%;
}

#buttonu7922
{
	z-index: 510;
	height: 70px;
	position: relative;
	margin-right: -10000px;
	width: 98.44%;
}

#u7925-4
{
	z-index: 511;
	min-height: 24px;
	width: 79.37%;
}

#pbuttonu7922:hover #u7925-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: 17px;
	left: 17px;
	min-height: 24px;
	width: 79.37%;
}

#u7923
{
	z-index: 515;
	width: 20px;
}

#pbuttonu7922:hover #u7923
{
	position: relative;
	margin-right: -10000px;
	width: 20px;
	left: 62px;
	min-height: 0px;
}

#pbuttonu7914
{
	z-index: 519;
	margin-right: -10000px;
	width: 50.6%;
}

#buttonu7914
{
	z-index: 519;
	height: 70px;
	position: relative;
	margin-right: -10000px;
	width: 98.44%;
}

#u7917-4
{
	z-index: 520;
	min-height: 24px;
	width: 86.51%;
}

#pbuttonu7914:hover #u7917-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: 17px;
	left: 9px;
	min-height: 24px;
	width: 86.51%;
}

#pbuttonu7914.ButtonSelected #u7917-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 86.51%;
}

#pbuttonu7914 #u7917-4
{
	position: relative;
	margin-right: -10000px;
	margin-top: 17px;
	left: 8px;
	width: 86.51%;
}

#u7915
{
	z-index: 524;
	width: 20px;
}

#pbuttonu7914:hover #u7915
{
	position: relative;
	margin-right: -10000px;
	width: 20px;
	left: 53px;
	min-height: 0px;
}

#pbuttonu7914 #u7915
{
	position: relative;
	margin-right: -10000px;
	width: 20px;
	left: 52px;
}

#pbuttonu8082
{
	z-index: 546;
	margin-right: -10000px;
	width: 19.85%;
	margin-left: 80.16%;
}

#buttonu8082
{
	z-index: 546;
	height: 70px;
	position: relative;
	margin-right: -10000px;
	width: 98.44%;
}

#pbuttonu7922:hover #buttonu7922,#pbuttonu7914:hover #buttonu7914,#pbuttonu8082:hover #buttonu8082
{
	height: 70px;
	position: relative;
	margin-right: -10000px;
	margin-top: 0px;
	min-height: 0px;
	width: 99.22%;
	left: 0%;
	margin-left: 0%;
}

#u8085-4
{
	z-index: 547;
	min-height: 24px;
	width: 79.37%;
}

#pbuttonu8082:hover #u8085-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: 17px;
	left: 17px;
	min-height: 24px;
	width: 79.37%;
}

#pbuttonu7922.ButtonSelected #u7925-4,#pbuttonu8082.ButtonSelected #u8085-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 79.37%;
}

#pbuttonu7922 #u7925-4,#pbuttonu8082 #u8085-4
{
	position: relative;
	margin-right: -10000px;
	margin-top: 17px;
	left: 16px;
	width: 79.37%;
}

#u8083
{
	z-index: 551;
	width: 20px;
}

#pbuttonu8082:hover #u8083
{
	position: relative;
	margin-right: -10000px;
	width: 20px;
	left: 62px;
	min-height: 0px;
}

#pbuttonu7918.ButtonSelected #u7919,#pbuttonu7910.ButtonSelected #u7911,#pbuttonu7922.ButtonSelected #u7923,#pbuttonu7914.ButtonSelected #u7915,#pbuttonu8082.ButtonSelected #u8083
{
	width: 20px;
	min-height: 0px;
}

#pbuttonu7922 #u7923,#pbuttonu8082 #u8083
{
	position: relative;
	margin-right: -10000px;
	width: 20px;
	left: 61px;
}

#u6883-bw
{
	z-index: 5;
	min-height: 303.8577059000471px;
	margin-top: -1px;
}

.html
{
	background-color: #00406D;
}

body
{
	position: relative;
	min-width: 240px;
	padding-top: 155px;
	padding-bottom: 12px;
}

#u104_img,#u7683_img,#u7675_img,#u7679_img,#u7687_img,#u4332_img,#u5217_img,#u6898_img
{
	width: 100%;
}


