.version.competitions /* version checker */
{
	color: #0000FB;
	background-color: #341C08;
}

#page
{
	z-index: 1;
	min-height: 574px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	width: 100%;
	max-width: 960px;
	margin-left: auto;
	margin-right: auto;
}

#pu15782
{
	z-index: 3;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: -47px;
	width: 100.11%;
}

#u15784
{
	z-index: 5;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	width: 99.69%;
	left: 0.11%;
}

#menuu15788
{
	z-index: 9;
	width: 517px;
	height: 22px;
	position: relative;
	margin-right: -10000px;
	margin-top: 117px;
	left: 22px;
}

#u15796
{
	width: 86px;
	min-height: 21px;
	padding-bottom: 1px;
	position: relative;
	margin-right: -10000px;
}

#u15799
{
	width: 86px;
	padding-bottom: 1px;
	position: relative;
}

#u15799:hover
{
	width: 85px;
	min-height: 0px;
	margin: 0px -1px -1px 0px;
}

#u15799:active
{
	width: 85px;
	min-height: 0px;
	margin: 0px -1px -1px 0px;
}

#u15801-4
{
	width: 82px;
	min-height: 16px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	position: relative;
	margin-right: -10000px;
}

#u15799:hover #u15801-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 82px;
	margin: 0px -10000px 0px 0px;
}

#u15799:active #u15801-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 82px;
	margin: 0px -10000px 0px 0px;
}

#u15803
{
	width: 86px;
	min-height: 21px;
	padding-bottom: 1px;
	position: relative;
	margin-right: -10000px;
	left: 86px;
}

#u15806
{
	width: 86px;
	padding-bottom: 1px;
	position: relative;
}

#u15806:hover
{
	width: 85px;
	min-height: 0px;
	margin: 0px -1px -1px 0px;
}

#u15806:active
{
	width: 85px;
	min-height: 0px;
	margin: 0px -1px -1px 0px;
}

#u15809-4
{
	width: 82px;
	min-height: 16px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	position: relative;
	margin-right: -10000px;
}

#u15799.MuseMenuActive #u15801-4,#u15806:hover #u15809-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 82px;
	margin: 0px -10000px 0px 0px;
}

#u15806:active #u15809-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 82px;
	margin: 0px -10000px 0px 0px;
}

#u15789
{
	width: 86px;
	min-height: 21px;
	padding-bottom: 1px;
	position: relative;
	margin-right: -10000px;
	left: 172px;
}

#u15790
{
	width: 86px;
	padding-bottom: 1px;
	position: relative;
}

#u15790:hover
{
	width: 85px;
	min-height: 0px;
	margin: 0px -1px -1px 0px;
}

#u15790:active
{
	width: 85px;
	min-height: 0px;
	margin: 0px -1px -1px 0px;
}

#u15793-4
{
	width: 82px;
	min-height: 16px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	position: relative;
	margin-right: -10000px;
}

#u15806.MuseMenuActive #u15809-4,#u15790:hover #u15793-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 82px;
	margin: 0px -10000px 0px 0px;
}

#u15790:active #u15793-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 82px;
	margin: 0px -10000px 0px 0px;
}

#u15810
{
	width: 86px;
	min-height: 21px;
	padding-bottom: 1px;
	position: relative;
	margin-right: -10000px;
	left: 258px;
}

#u15811
{
	width: 86px;
	padding-bottom: 1px;
	position: relative;
}

#u15811:hover
{
	width: 85px;
	min-height: 0px;
	margin: 0px -1px -1px 0px;
}

#u15811:active
{
	width: 85px;
	min-height: 0px;
	margin: 0px -1px -1px 0px;
}

#u15814-4
{
	width: 82px;
	min-height: 16px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	position: relative;
	margin-right: -10000px;
}

#u15790.MuseMenuActive #u15793-4,#u15811:hover #u15814-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 82px;
	margin: 0px -10000px 0px 0px;
}

#u15811:active #u15814-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 82px;
	margin: 0px -10000px 0px 0px;
}

#u15817
{
	width: 86px;
	min-height: 21px;
	padding-bottom: 1px;
	position: relative;
	margin-right: -10000px;
	left: 344px;
}

#u15820
{
	width: 86px;
	padding-bottom: 1px;
	position: relative;
}

#u15820:hover
{
	width: 85px;
	min-height: 0px;
	margin: 0px -1px -1px 0px;
}

#u15820:active
{
	width: 85px;
	min-height: 0px;
	margin: 0px -1px -1px 0px;
}

#u15799.MuseMenuActive,#u15806.MuseMenuActive,#u15790.MuseMenuActive,#u15811.MuseMenuActive,#u15820.MuseMenuActive
{
	width: 86px;
	min-height: 0px;
	margin: 0px;
}

#u15821-4
{
	width: 82px;
	min-height: 16px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	position: relative;
	margin-right: -10000px;
}

#u15811.MuseMenuActive #u15814-4,#u15820:hover #u15821-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 82px;
	margin: 0px -10000px 0px 0px;
}

#u15820:active #u15821-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 82px;
	margin: 0px -10000px 0px 0px;
}

#u15820.MuseMenuActive #u15821-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 82px;
	margin: 0px -10000px 0px 0px;
}

#u15932
{
	width: 87px;
	min-height: 21px;
	padding-bottom: 1px;
	position: relative;
	margin-right: -10000px;
	left: 430px;
}

#u15933
{
	width: 87px;
	padding-bottom: 1px;
	position: relative;
}

#u15933:hover
{
	width: 86px;
	min-height: 0px;
	margin: 0px -1px -1px 0px;
}

#u15933:active
{
	width: 86px;
	min-height: 0px;
	margin: 0px -1px -1px 0px;
}

#u15933.MuseMenuActive
{
	width: 87px;
	min-height: 0px;
	margin: 0px;
}

#u15936-4
{
	width: 83px;
	min-height: 16px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	position: relative;
	margin-right: -10000px;
}

#u15933:hover #u15936-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 83px;
	margin: 0px -10000px 0px 0px;
}

#u15933:active #u15936-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 83px;
	margin: 0px -10000px 0px 0px;
}

#u15933.MuseMenuActive #u15936-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 83px;
	margin: 0px -10000px 0px 0px;
}

#u15824
{
	z-index: 46;
	width: 240px;
	position: relative;
	margin-right: -10000px;
	margin-top: 71px;
	left: 701px;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#u15782,#u15782-bw
{
	z-index: 3;
	min-height: 166px;
}

#u15781
{
	z-index: 2;
	height: 9px;
}

#u15781-bw
{
	z-index: 2;
	margin-top: 3px;
	height: 11px;
}

#pu15971
{
	z-index: 395;
	margin-top: 27px;
	width: 27.37%;
	margin-left: 34.14%;
}

#u15971
{
	z-index: 395;
	position: relative;
	margin-right: -10000px;
	width: 100%;
}

#u15972
{
	z-index: 396;
	padding-top: 46px;
	padding-bottom: 7.000000000000057px;
	position: relative;
	margin-right: -10000px;
	width: 100%;
}

#buttonu15976
{
	z-index: 397;
	padding-bottom: 4px;
	position: relative;
	width: 87.84%;
	margin-left: 5.71%;
}

#buttonu15976:hover
{
	min-height: 0px;
	width: 87.84%;
	margin: 0px 0px 0px 5.7034220532319395%;
}

#u15977-4
{
	z-index: 398;
	min-height: 23px;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
	width: 51.52%;
	left: 29.44%;
}

#buttonu15976:hover #u15977-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 51.52%;
	margin: 13px -10000px 0px 0%;
}

#u15978
{
	z-index: 402;
	height: 17px;
	position: relative;
	margin-right: -10000px;
	margin-top: 15px;
	width: 7.8%;
	left: 22.08%;
}

#buttonu15976:hover #u15978
{
	height: 17px;
	min-height: 0px;
	width: 7.8%;
	margin: 15px -10000px 0px 0%;
}

#buttonu15973
{
	z-index: 403;
	padding-bottom: 4px;
	position: relative;
	width: 87.84%;
	margin-left: 5.71%;
}

#buttonu15976.ButtonSelected,#buttonu15973:hover
{
	min-height: 0px;
	width: 87.84%;
	margin: 0px 0px 0px 5.7034220532319395%;
}

#buttonu15973.ButtonSelected
{
	min-height: 0px;
	width: 87.84%;
	margin: 0px 0px 0px 5.7034220532319395%;
}

#u15975-4
{
	z-index: 404;
	min-height: 23px;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
	width: 51.52%;
	left: 29.44%;
}

#buttonu15976.ButtonSelected #u15977-4,#buttonu15973:hover #u15975-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 51.52%;
	margin: 13px -10000px 0px 0%;
}

#buttonu15973.ButtonSelected #u15975-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 51.52%;
	margin: 13px -10000px 0px 0%;
}

#u15974
{
	z-index: 408;
	height: 17px;
	position: relative;
	margin-right: -10000px;
	margin-top: 15px;
	width: 7.8%;
	left: 22.08%;
}

#buttonu15976.ButtonSelected #u15978,#buttonu15973:hover #u15974
{
	height: 17px;
	min-height: 0px;
	width: 7.8%;
	margin: 15px -10000px 0px 0%;
}

#buttonu15973.ButtonSelected #u15974
{
	height: 17px;
	min-height: 0px;
	width: 7.8%;
	margin: 15px -10000px 0px 0%;
}

#buttonu15979
{
	z-index: 409;
	padding-bottom: 4px;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	width: 87.46%;
	left: 5.71%;
}

#buttonu15979:hover
{
	min-height: 0px;
	width: 87.46%;
	margin: 6px -10000px 0px 0%;
}

#buttonu15979.ButtonSelected
{
	min-height: 0px;
	width: 87.46%;
	margin: 6px -10000px 0px 0%;
}

#u15981-4
{
	z-index: 410;
	min-height: 23px;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
	width: 51.74%;
	left: 29.57%;
}

#buttonu15979:hover #u15981-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 51.74%;
	margin: 13px -10000px 0px 0%;
}

#buttonu15979.ButtonSelected #u15981-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 51.74%;
	margin: 13px -10000px 0px 0%;
}

#u15980
{
	z-index: 414;
	height: 17px;
	position: relative;
	margin-right: -10000px;
	margin-top: 15px;
	width: 7.83%;
	left: 22.18%;
}

#buttonu15979:hover #u15980
{
	height: 17px;
	min-height: 0px;
	width: 7.83%;
	margin: 15px -10000px 0px 0%;
}

#buttonu15979.ButtonSelected #u15980
{
	height: 17px;
	min-height: 0px;
	width: 7.83%;
	margin: 15px -10000px 0px 0%;
}

#u12692-347
{
	z-index: 48;
	min-height: 341px;
	background-color: transparent;
	top: -4px;
	margin-bottom: -4px;
	position: relative;
	width: 94.07%;
	margin-left: 2.81%;
}

#u12692-2
{
	font-size: 24px;
	line-height: 29px;
	color: #F83D00;
	font-weight: bold;
	font-style: italic;
}

#u12692-3,#u12692-5,#u12692-91,#u12692-103
{
	font-size: 20px;
	line-height: 24px;
	font-weight: bold;
	font-style: italic;
}

#u12692-136
{
	font-size: 18px;
	text-decoration: underline;
	font-weight: bold;
	font-style: italic;
	line-height: 22px;
}

#u12692-141
{
	text-decoration: underline;
	font-weight: bold;
	font-style: italic;
}

#u12692-146
{
	font-size: 24px;
	line-height: 29px;
	color: #E64C00;
	font-weight: bold;
	font-style: italic;
}

#u12692-149
{
	font-size: 19px;
	line-height: 23px;
	font-weight: bold;
	font-style: italic;
}

#u12692-124,#u12692-131,#u12692-138,#u12692-156
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u12692-6,#u12692-89,#u12692-122,#u12692-129,#u12692-154
{
	font-size: 20px;
	text-decoration: underline;
	line-height: 24px;
	font-weight: bold;
	font-style: italic;
}

#u12692-121,#u12692-123,#u12692-128,#u12692-130,#u12692-135,#u12692-137,#u12692-155
{
	line-height: 17px;
}

#u12692-159
{
	font-size: 24px;
	line-height: 29px;
	font-weight: bold;
	font-style: italic;
}

#u12692-160
{
	font-size: 24px;
	text-decoration: underline;
	line-height: 29px;
	font-weight: bold;
	font-style: italic;
}

#u12692-272
{
	font-size: 20px;
	line-height: 24px;
	color: #FF5118;
	font-weight: bold;
	font-style: italic;
}

#u12692,#u12692-4,#u12692-90,#u12692-102,#u12692-145,#u12692-148,#u12692-158,#u12692-252,#u12692-271
{
	text-decoration: underline;
}

#u12692-284,#u12692-285
{
	font-size: 12px;
	line-height: 14px;
	color: #000000;
	font-weight: normal;
	font-style: normal;
}

#u12692-256,#u12692-258,#u12692-261,#u12692-263,#u12692-266,#u12692-275,#u12692-279,#u12692-282,#u12692-287,#u12692-293,#u12692-300
{
	font-size: 24px;
	color: #911400;
	font-weight: bold;
	font-style: italic;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u12692-255,#u12692-257,#u12692-260,#u12692-262,#u12692-265,#u12692-274,#u12692-278,#u12692-281,#u12692-286,#u12692-292,#u12692-299
{
	font-size: 12px;
	text-decoration: none;
	color: #000000;
	font-weight: normal;
	font-style: normal;
	line-height: 14px;
}

#u12692-253,#u12692-254,#u12692-259,#u12692-264,#u12692-267,#u12692-268,#u12692-269,#u12692-270,#u12692-273,#u12692-276,#u12692-277,#u12692-280,#u12692-288,#u12692-289,#u12692-290,#u12692-291,#u12692-294,#u12692-295,#u12692-296,#u12692-297,#u12692-298,#u12692-301
{
	font-size: 24px;
	line-height: 29px;
	color: #911400;
	font-weight: bold;
	font-style: italic;
}

#u12692-309
{
	color: #000000;
}

#u12692-331,#u12692-333,#u12692-335,#u12692-337,#u12692-341,#u12692-343
{
	font-size: 12px;
	text-decoration: none;
	color: #000000;
	font-weight: normal;
	font-style: normal;
}

#u12692-303,#u12692-304,#u12692-306,#u12692-307,#u12692-311,#u12692-312,#u12692-314,#u12692-315,#u12692-317,#u12692-318,#u12692-320,#u12692-321,#u12692-323,#u12692-324,#u12692-326,#u12692-328,#u12692-329,#u12692-330,#u12692-332,#u12692-334,#u12692-336,#u12692-338,#u12692-339,#u12692-340,#u12692-342,#u12692-344,#u12692-345
{
	font-size: 12px;
	line-height: 14px;
	color: #000000;
	font-weight: normal;
	font-style: italic;
}

.css_verticalspacer .verticalspacer
{
	height: calc(100vh - 4107px);
}

#u15783
{
	z-index: 4;
	min-height: 159px;
}

#u15782_align_to_page,#u15783_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	position: relative;
}

#u15786
{
	z-index: 7;
	position: relative;
	margin-right: -10000px;
	width: 99.69%;
	left: 0.21%;
}

#u15783-bw
{
	z-index: 4;
	min-height: 159px;
	margin-bottom: -160px;
	margin-top: 16px;
}

#muse_css_mq,.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
	min-width: 240px;
	padding-top: 20px;
	padding-bottom: 160px;
}

.verticalspacer
{
	min-height: 1px;
}

#u15784_img,#u15786_img
{
	width: 100%;
}


