.version.dungeonguides /* version checker */
{
	color: #0000EB;
	background-color: #303A3B;
}

#muse_css_mq
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	min-height: 892px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: #FFFFFF;
	border-radius: 15px 15px 0px 0px ;
	width: 100%;
	max-width: 960px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -164px;
	margin-bottom: -240px;
	width: 100%;
}

#pu3573
{
	z-index: 338;
	width: 100%;
}

#u3573
{
	z-index: 338;
	width: 40px;
	min-height: 40px;
	position: relative;
	margin-right: -10000px;
	margin-top: 119px;
	left: 49px;
}

#u104
{
	z-index: 2;
	position: relative;
	margin-right: -10000px;
	width: 53.86%;
	left: 23.13%;
}

#u900
{
	z-index: 4;
	min-height: 40px;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#u900-bw
{
	z-index: 4;
	min-height: 40px;
	margin-top: 21px;
}

#u7673
{
	z-index: 339;
	top: -4px;
	margin-bottom: -4px;
	position: relative;
	width: 53.86%;
	margin-left: 23.13%;
}

#pbuttonu7682
{
	z-index: 341;
	margin-right: -10000px;
	width: 24.96%;
	margin-left: 75.05%;
}

#buttonu7682
{
	z-index: 341;
	height: 70px;
	position: relative;
	margin-right: -10000px;
	width: 98.45%;
}

#pbuttonu7682:hover #buttonu7682
{
	height: 70px;
	position: relative;
	margin-right: -10000px;
	margin-top: 0px;
	min-height: 0px;
	width: 99.23%;
	left: 0%;
	margin-left: 0%;
}

#u7685-4
{
	z-index: 342;
	min-height: 24px;
	width: 78.75%;
}

#pbuttonu7682:hover #u7685-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: 17px;
	left: 17px;
	min-height: 24px;
	width: 78.75%;
}

#pbuttonu7682.ButtonSelected #u7685-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 78.75%;
}

#pbuttonu7682 #u7685-4
{
	position: relative;
	margin-right: -10000px;
	margin-top: 17px;
	left: 16px;
	width: 78.75%;
}

#u7683
{
	z-index: 346;
	width: 15.75%;
}

#pbuttonu7682:hover #u7683
{
	position: relative;
	margin-right: -10000px;
	min-height: 0px;
	width: 15.75%;
	left: 46.46%;
}

#pbuttonu7682.ButtonSelected #u7683
{
	min-height: 0px;
	width: 15.75%;
}

#pbuttonu7682 #u7683
{
	position: relative;
	margin-right: -10000px;
	width: 15.75%;
	left: 45.67%;
}

#pbuttonu7674
{
	z-index: 350;
	margin-right: -10000px;
	width: 24.57%;
	margin-left: 50.68%;
}

#buttonu7674
{
	z-index: 350;
	height: 70px;
	position: relative;
	margin-right: -10000px;
	width: 98.43%;
}

#pbuttonu7674:hover #buttonu7674
{
	height: 70px;
	position: relative;
	margin-right: -10000px;
	margin-top: 0px;
	min-height: 0px;
	width: 99.22%;
	left: 0%;
	margin-left: 0%;
}

#u7677-4
{
	z-index: 351;
	min-height: 24px;
	width: 80%;
}

#pbuttonu7674:hover #u7677-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: 17px;
	left: 17px;
	min-height: 24px;
	width: 80%;
}

#pbuttonu7674.ButtonSelected #u7677-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 80%;
}

#pbuttonu7674 #u7677-4
{
	position: relative;
	margin-right: -10000px;
	margin-top: 17px;
	left: 16px;
	width: 80%;
}

#u7675
{
	z-index: 355;
	width: 16%;
}

#pbuttonu7674:hover #u7675
{
	position: relative;
	margin-right: -10000px;
	min-height: 0px;
	width: 16%;
	left: 42.4%;
}

#pbuttonu7674.ButtonSelected #u7675
{
	min-height: 0px;
	width: 16%;
}

#pbuttonu7674 #u7675
{
	position: relative;
	margin-right: -10000px;
	width: 16%;
	left: 41.6%;
}

#pbuttonu7678
{
	z-index: 359;
	margin-right: -10000px;
	width: 25.73%;
	margin-left: 25.15%;
}

#buttonu7678
{
	z-index: 359;
	height: 70px;
	position: relative;
	margin-right: -10000px;
	width: 98.5%;
}

#pbuttonu7678:hover #buttonu7678
{
	height: 70px;
	position: relative;
	margin-right: -10000px;
	margin-top: 0px;
	min-height: 0px;
	width: 99.25%;
	left: 0%;
	margin-left: 0%;
}

#u7681-4
{
	z-index: 360;
	min-height: 24px;
	width: 76.34%;
}

#pbuttonu7678:hover #u7681-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: 17px;
	left: 16px;
	min-height: 24px;
	width: 76.34%;
}

#pbuttonu7678.ButtonSelected #u7681-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 76.34%;
}

#pbuttonu7678 #u7681-4
{
	position: relative;
	margin-right: -10000px;
	margin-top: 17px;
	left: 15px;
	width: 76.34%;
}

#u7679
{
	z-index: 364;
	width: 15.27%;
}

#pbuttonu7678:hover #u7679
{
	position: relative;
	margin-right: -10000px;
	min-height: 0px;
	width: 15.27%;
	left: 42.75%;
}

#pbuttonu7678.ButtonSelected #u7679
{
	min-height: 0px;
	width: 15.27%;
}

#pbuttonu7678 #u7679
{
	position: relative;
	margin-right: -10000px;
	width: 15.27%;
	left: 41.99%;
}

#pbuttonu7686
{
	z-index: 368;
	margin-right: -10000px;
	width: 25.34%;
}

#buttonu7686
{
	z-index: 368;
	height: 70px;
	position: relative;
	margin-right: -10000px;
	width: 98.48%;
}

#pbuttonu7686:hover #buttonu7686
{
	height: 70px;
	position: relative;
	margin-right: -10000px;
	margin-top: 0px;
	min-height: 0px;
	width: 99.24%;
	left: 0%;
	margin-left: 0%;
}

#u7689-4
{
	z-index: 369;
	min-height: 24px;
	width: 77.52%;
}

#pbuttonu7686:hover #u7689-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: 17px;
	left: 7px;
	min-height: 24px;
	width: 77.52%;
}

#pbuttonu7686.ButtonSelected #u7689-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 77.52%;
}

#pbuttonu7686 #u7689-4
{
	position: relative;
	margin-right: -10000px;
	margin-top: 17px;
	left: 6px;
	width: 77.52%;
}

#u7687
{
	z-index: 373;
	width: 15.51%;
}

#pbuttonu7686:hover #u7687
{
	position: relative;
	margin-right: -10000px;
	min-height: 0px;
	width: 15.51%;
	left: 43.42%;
}

#pbuttonu7686.ButtonSelected #u7687
{
	min-height: 0px;
	width: 15.51%;
}

#pbuttonu7686 #u7687
{
	position: relative;
	margin-right: -10000px;
	width: 15.51%;
	left: 42.64%;
}

#pmenuu5615
{
	z-index: 24;
	margin-top: 2px;
	width: 100%;
}

#menuu5615
{
	z-index: 24;
	position: relative;
	margin-right: -10000px;
	margin-top: 27px;
	width: 46.46%;
	left: 26.36%;
}

#u5623
{
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
	width: 49.78%;
}

#u5624
{
	padding-bottom: 17px;
	position: relative;
	width: 100%;
}

#u5624:hover
{
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u5624:active
{
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u5627-4
{
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	width: 100%;
}

#u5624:hover #u5627-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u5624:active #u5627-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u5616
{
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
	width: 49.78%;
	left: 50.23%;
}

#u5619
{
	padding-bottom: 17px;
	position: relative;
	width: 100%;
}

#u5624.MuseMenuActive,#u5619:hover
{
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u5619:active
{
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u5619.MuseMenuActive
{
	min-height: 0px;
	width: 100%;
	margin: 0px 0px 0px 0%;
}

#u5620-4
{
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 8px;
	width: 100%;
}

#u5624.MuseMenuActive #u5627-4,#u5619:hover #u5620-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u5619:active #u5620-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u5619.MuseMenuActive #u5620-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 100%;
	margin: 0px -10000px 0px 0%;
}

#u5326-271
{
	z-index: 37;
	min-height: 625px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	width: 95.21%;
	left: 2.3%;
}

#u4450
{
	z-index: 308;
	padding-bottom: 1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 68px;
	width: 96.15%;
	left: 2.19%;
}

#u4329
{
	z-index: 309;
	padding-bottom: 22px;
	position: relative;
	margin-right: -10000px;
	width: 99.9%;
}

#u4332
{
	z-index: 310;
	position: relative;
	margin-right: -10000px;
	margin-top: 25px;
	width: 7.6%;
	left: 83.3%;
}

#pamphletu4334
{
	z-index: 312;
	width: 0.01px;
	height: 49px;
	padding-bottom: 265px;
	position: relative;
	margin-right: -10000px;
	margin-top: 16px;
	left: 0.22%;
}

#u4339
{
	position: absolute;
	width: 922px;
	top: 77px;
	left: -1px;
}

#u4339popup
{
	z-index: 313;
}

#u4340
{
	z-index: 314;
	width: 918px;
	height: 234px;
	margin-right: -10000px;
	position: relative;
}

#u4341-5
{
	z-index: 315;
	width: 345px;
	min-height: 45px;
	position: relative;
	margin-right: -10000px;
	margin-top: 24px;
	left: 38px;
}

#u4341-5:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 45px;
	width: 345px;
	margin: 24px -10000px 0px 0px;
}

#pu4401-5
{
	z-index: 320;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 87px;
	width: 38.02%;
	margin-left: 4.14%;
}

#u4401-5
{
	z-index: 320;
	width: 345px;
	min-height: 45px;
	position: relative;
}

#u4401-5:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 45px;
	width: 345px;
	margin: 0px 0px 0px 0%;
}

#u4404-5
{
	z-index: 325;
	width: 345px;
	min-height: 45px;
	margin-top: 2px;
	position: relative;
}

#u4404-5:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 45px;
	width: 345px;
	margin: 2px 0px 0px 0%;
}

#u5217
{
	z-index: 330;
	position: relative;
	margin-right: -10000px;
	margin-top: 20px;
	width: 33.67%;
	left: 57.3%;
}

#u4345
{
	z-index: 332;
	width: 225px;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 349px;
}

#u4346
{
	position: absolute;
	width: 253px;
	padding-bottom: 13px;
	top: -10px;
	left: -15px;
}

#u4346.PamphletThumbSelected
{
	width: 253px;
	min-height: 0px;
	margin: 0px;
}

#u4331-4
{
	z-index: 334;
	width: 221px;
	min-height: 35px;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 15px;
}

#u4346.PamphletThumbSelected #u4331-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 35px;
	width: 221px;
	margin: 10px -10000px 0px 0px;
}

.css_verticalspacer .verticalspacer
{
	height: calc(100vh - 3791px);
}

#u6883
{
	z-index: 5;
	min-height: 211px;
	padding-bottom: 93px;
}

#u6883_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	position: relative;
	margin-bottom: -1px;
}

#pu6898
{
	z-index: 6;
	margin-right: -10000px;
	margin-top: 103px;
	width: 30.53%;
	margin-left: 3.55%;
}

#u6898
{
	z-index: 6;
	position: relative;
	width: 60.76%;
}

#u11932-4
{
	z-index: 8;
	min-height: 39px;
	margin-top: 17px;
	position: relative;
	width: 42.67%;
	margin-left: 55.98%;
}

#u11933-4
{
	z-index: 12;
	min-height: 39px;
	position: relative;
	margin-right: -10000px;
	margin-top: 167px;
	width: 13.03%;
	left: 36.57%;
}

#u11934-4
{
	z-index: 16;
	min-height: 39px;
	position: relative;
	margin-right: -10000px;
	margin-top: 167px;
	width: 13.03%;
	left: 51.98%;
}

#u11935-4
{
	z-index: 20;
	min-height: 39px;
	position: relative;
	margin-right: -10000px;
	margin-top: 167px;
	width: 13.03%;
	left: 67.5%;
}

#u6883-bw
{
	z-index: 5;
	min-height: 211px;
	margin-top: -1px;
}

.html
{
	background-color: #00406D;
}

body
{
	position: relative;
	min-width: 240px;
	padding-top: 155px;
	padding-bottom: 12px;
}

#u104_img,#u7683_img,#u7675_img,#u7679_img,#u7687_img,#u4332_img,#u5217_img,#u6898_img
{
	width: 100%;
}

