.version.english /* version checker */
{
	color: #0000EE;
	background-color: #118E07;
}

#muse_css_mq
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	min-height: 892px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: #FFFFFF;
	width: 100%;
	max-width: 960px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -164px;
	margin-bottom: -240px;
	width: 100%;
}

#pu3573
{
	z-index: 28;
	width: 100%;
}

#u3573
{
	z-index: 28;
	width: 40px;
	min-height: 40px;
	position: relative;
	margin-right: -10000px;
	margin-top: 119px;
	left: 49px;
}

#u104
{
	z-index: 2;
	position: relative;
	margin-right: -10000px;
	width: 53.86%;
	left: 23.13%;
}

#pamphletu3301
{
	z-index: 113;
	width: 0.01px;
	height: 254px;
	position: fixed;
	top: 92px;
	right: 51px;
}

#u3304
{
	position: absolute;
	width: 359px;
	padding-bottom: 44px;
	top: -48px;
	left: -604px;
}

#u3304popup
{
	z-index: 114;
}

#u3305
{
	z-index: 115;
	width: 315px;
	height: 1300px;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#pu3314
{
	z-index: 116;
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-left: 1px;
}

#u3314
{
	z-index: 116;
	width: 314px;
	height: 94px;
	position: relative;
}

#buttonu3323
{
	z-index: 117;
	width: 313px;
	padding-bottom: 24px;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
}

#buttonu3323:hover
{
	width: 313px;
	min-height: 0px;
	margin: 0px 0px -1px;
}

#u3326-4
{
	z-index: 118;
	width: 122px;
	min-height: 24px;
	position: relative;
	margin-right: -10000px;
	margin-top: 34px;
	left: 96px;
}

#buttonu3323:hover #u3326-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 122px;
	margin: 34px -10000px 0px 0px;
}

#u3324
{
	z-index: 122;
	width: 17px;
	position: relative;
	margin-right: -10000px;
	margin-top: 24px;
	left: 296px;
}

#buttonu3323:hover #u3324
{
	width: 17px;
	min-height: 0px;
	margin: 24px -10000px 0px 0px;
}

#buttonu3323:active #u3324
{
	width: 17px;
	min-height: 0px;
	margin: 24px -10000px 0px 0px;
}

#buttonu3306
{
	z-index: 131;
	width: 313px;
	padding-bottom: 24px;
	position: relative;
}

#buttonu3306:hover
{
	width: 313px;
	min-height: 0px;
	margin: 0px;
}

#u3307-4
{
	z-index: 132;
	width: 122px;
	min-height: 24px;
	position: relative;
	margin-right: -10000px;
	margin-top: 34px;
	left: 96px;
}

#buttonu3323.ButtonSelected #u3326-4,#buttonu3306:hover #u3307-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 122px;
	margin: 34px -10000px 0px 0px;
}

#u3308
{
	z-index: 136;
	width: 17px;
	position: relative;
	margin-right: -10000px;
	margin-top: 24px;
	left: 296px;
}

#buttonu3323.ButtonSelected #u3324,#buttonu3306:hover #u3308
{
	width: 17px;
	min-height: 0px;
	margin: 24px -10000px 0px 0px;
}

#buttonu3306:active #u3308
{
	width: 17px;
	min-height: 0px;
	margin: 24px -10000px 0px 0px;
}

#buttonu3310
{
	z-index: 138;
	width: 313px;
	padding-bottom: 24px;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
}

#buttonu3323.ButtonSelected,#buttonu3310:hover
{
	width: 313px;
	min-height: 0px;
	margin: 0px 0px -1px;
}

#buttonu3310.ButtonSelected
{
	width: 313px;
	min-height: 0px;
	margin: 0px 0px -1px;
}

#u3311-4
{
	z-index: 139;
	width: 122px;
	min-height: 24px;
	position: relative;
	margin-right: -10000px;
	margin-top: 34px;
	left: 96px;
}

#buttonu3306.ButtonSelected #u3307-4,#buttonu3310:hover #u3311-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 122px;
	margin: 34px -10000px 0px 0px;
}

#u3312
{
	z-index: 143;
	width: 17px;
	position: relative;
	margin-right: -10000px;
	margin-top: 24px;
	left: 296px;
}

#buttonu3306.ButtonSelected #u3308,#buttonu3310:hover #u3312
{
	width: 17px;
	min-height: 0px;
	margin: 24px -10000px 0px 0px;
}

#buttonu3310:active #u3312
{
	width: 17px;
	min-height: 0px;
	margin: 24px -10000px 0px 0px;
}

#buttonu3315
{
	z-index: 145;
	width: 313px;
	padding-bottom: 24px;
	margin-top: 1px;
	position: relative;
}

#buttonu3315:hover
{
	width: 313px;
	min-height: 0px;
	margin: 1px 0px 0px;
}

#buttonu3315.ButtonSelected
{
	width: 313px;
	min-height: 0px;
	margin: 1px 0px 0px;
}

#u3316-4
{
	z-index: 146;
	width: 122px;
	min-height: 24px;
	position: relative;
	margin-right: -10000px;
	margin-top: 34px;
	left: 96px;
}

#buttonu3310.ButtonSelected #u3311-4,#buttonu3315:hover #u3316-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 122px;
	margin: 34px -10000px 0px 0px;
}

#u3317
{
	z-index: 150;
	width: 17px;
	position: relative;
	margin-right: -10000px;
	margin-top: 24px;
	left: 296px;
}

#buttonu3310.ButtonSelected #u3312,#buttonu3315:hover #u3317
{
	width: 17px;
	min-height: 0px;
	margin: 24px -10000px 0px 0px;
}

#buttonu3315:active #u3317
{
	width: 17px;
	min-height: 0px;
	margin: 24px -10000px 0px 0px;
}

#buttonu3319
{
	z-index: 124;
	width: 313px;
	padding-bottom: 24px;
	position: relative;
}

#buttonu3306.ButtonSelected,#buttonu3319:hover
{
	width: 313px;
	min-height: 0px;
	margin: 0px;
}

#buttonu3319.ButtonSelected
{
	width: 313px;
	min-height: 0px;
	margin: 0px;
}

#u3322-4
{
	z-index: 125;
	width: 122px;
	min-height: 24px;
	position: relative;
	margin-right: -10000px;
	margin-top: 34px;
	left: 96px;
}

#buttonu3315.ButtonSelected #u3316-4,#buttonu3319:hover #u3322-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 122px;
	margin: 34px -10000px 0px 0px;
}

#buttonu3319.ButtonSelected #u3322-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 122px;
	margin: 34px -10000px 0px 0px;
}

#u3320
{
	z-index: 129;
	width: 17px;
	position: relative;
	margin-right: -10000px;
	margin-top: 24px;
	left: 296px;
}

#buttonu3315.ButtonSelected #u3317,#buttonu3319:hover #u3320
{
	width: 17px;
	min-height: 0px;
	margin: 24px -10000px 0px 0px;
}

#buttonu3319:active #u3320
{
	width: 17px;
	min-height: 0px;
	margin: 24px -10000px 0px 0px;
}

#buttonu3319.ButtonSelected #u3320
{
	width: 17px;
	min-height: 0px;
	margin: 24px -10000px 0px 0px;
}

#buttonu3563
{
	z-index: 152;
	padding-bottom: 11px;
	position: relative;
	margin-right: -10000px;
	margin-top: 25px;
	width: 73.34%;
	left: 14.29%;
}

#buttonu3563:hover
{
	min-height: 0px;
	width: 73.34%;
	margin: 25px -10000px 0px 0%;
}

#buttonu3563.ButtonSelected
{
	min-height: 0px;
	width: 73.34%;
	margin: 25px -10000px 0px 0%;
}

#u3564-4
{
	z-index: 153;
	min-height: 23px;
	position: relative;
	margin-right: -10000px;
	margin-top: 16px;
	width: 51.52%;
	left: 24.25%;
}

#buttonu3563:hover #u3564-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 51.52%;
	margin: 16px -10000px 0px 0%;
}

#buttonu3563.ButtonSelected #u3564-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 51.52%;
	margin: 16px -10000px 0px 0%;
}

#u3329
{
	z-index: 157;
	width: 46px;
	padding-bottom: 254px;
	position: relative;
	margin-right: -10000px;
}

#u3330
{
	width: 46px;
	position: fixed;
	top: 92px;
	right: 5px;
}

#u3333
{
	z-index: 160;
	height: 254px;
	width: 46px;
	position: relative;
	margin-right: -10000px;
}

#u3331
{
	z-index: 162;
	width: 33px;
	position: relative;
	margin-right: -10000px;
	margin-top: 108px;
	left: 6px;
}

#u3330.PamphletThumbSelected #u3331
{
	width: 33px;
	min-height: 0px;
	margin: 108px -10000px 0px 0px;
}

#u900
{
	z-index: 4;
	min-height: 40px;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#u900-bw
{
	z-index: 4;
	min-height: 40px;
	margin-top: 21px;
}

#u7673
{
	z-index: 29;
	top: -4px;
	margin-bottom: -4px;
	position: relative;
	width: 53.86%;
	margin-left: 23.13%;
}

#pbuttonu7682
{
	z-index: 31;
	margin-right: -10000px;
	width: 24.96%;
	margin-left: 75.05%;
}

#buttonu7682
{
	z-index: 31;
	height: 70px;
	position: relative;
	margin-right: -10000px;
	width: 98.45%;
}

#pbuttonu7682:hover #buttonu7682
{
	height: 70px;
	position: relative;
	margin-right: -10000px;
	margin-top: 0px;
	min-height: 0px;
	width: 99.23%;
	left: 0%;
	margin-left: 0%;
}

#u7685-4
{
	z-index: 32;
	min-height: 24px;
	width: 78.75%;
}

#pbuttonu7682:hover #u7685-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: 17px;
	left: 17px;
	min-height: 24px;
	width: 78.75%;
}

#pbuttonu7682.ButtonSelected #u7685-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 78.75%;
}

#pbuttonu7682 #u7685-4
{
	position: relative;
	margin-right: -10000px;
	margin-top: 17px;
	left: 16px;
	width: 78.75%;
}

#u7683
{
	z-index: 36;
	width: 15.75%;
}

#pbuttonu7682:hover #u7683
{
	position: relative;
	margin-right: -10000px;
	min-height: 0px;
	width: 15.75%;
	left: 46.46%;
}

#pbuttonu7682.ButtonSelected #u7683
{
	min-height: 0px;
	width: 15.75%;
}

#pbuttonu7682 #u7683
{
	position: relative;
	margin-right: -10000px;
	width: 15.75%;
	left: 45.67%;
}

#pbuttonu7674
{
	z-index: 40;
	margin-right: -10000px;
	width: 24.57%;
	margin-left: 50.68%;
}

#buttonu7674
{
	z-index: 40;
	height: 70px;
	position: relative;
	margin-right: -10000px;
	width: 98.43%;
}

#pbuttonu7674:hover #buttonu7674
{
	height: 70px;
	position: relative;
	margin-right: -10000px;
	margin-top: 0px;
	min-height: 0px;
	width: 99.22%;
	left: 0%;
	margin-left: 0%;
}

#u7677-4
{
	z-index: 41;
	min-height: 24px;
	width: 80%;
}

#pbuttonu7674:hover #u7677-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: 17px;
	left: 17px;
	min-height: 24px;
	width: 80%;
}

#pbuttonu7674.ButtonSelected #u7677-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 80%;
}

#pbuttonu7674 #u7677-4
{
	position: relative;
	margin-right: -10000px;
	margin-top: 17px;
	left: 16px;
	width: 80%;
}

#u7675
{
	z-index: 45;
	width: 16%;
}

#pbuttonu7674:hover #u7675
{
	position: relative;
	margin-right: -10000px;
	min-height: 0px;
	width: 16%;
	left: 42.4%;
}

#pbuttonu7674.ButtonSelected #u7675
{
	min-height: 0px;
	width: 16%;
}

#pbuttonu7674 #u7675
{
	position: relative;
	margin-right: -10000px;
	width: 16%;
	left: 41.6%;
}

#pbuttonu7678
{
	z-index: 49;
	margin-right: -10000px;
	width: 25.73%;
	margin-left: 25.15%;
}

#buttonu7678
{
	z-index: 49;
	height: 70px;
	position: relative;
	margin-right: -10000px;
	width: 98.5%;
}

#u7681-4
{
	z-index: 50;
	min-height: 24px;
	width: 76.34%;
}

#pbuttonu7678:hover #u7681-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: 17px;
	left: 16px;
	min-height: 24px;
	width: 76.34%;
}

#u7679
{
	z-index: 54;
	width: 15.27%;
}

#pbuttonu7678:hover #u7679
{
	position: relative;
	margin-right: -10000px;
	min-height: 0px;
	width: 15.27%;
	left: 42.75%;
}

#pbuttonu7678.ButtonSelected #u7679
{
	min-height: 0px;
	width: 15.27%;
}

#pbuttonu7678 #u7679
{
	position: relative;
	margin-right: -10000px;
	width: 15.27%;
	left: 41.99%;
}

#pbuttonu7686
{
	z-index: 58;
	margin-right: -10000px;
	width: 25.34%;
}

#buttonu7686
{
	z-index: 58;
	height: 70px;
	position: relative;
	margin-right: -10000px;
	width: 98.48%;
}

#pbuttonu7686:hover #buttonu7686
{
	height: 70px;
	position: relative;
	margin-right: -10000px;
	margin-top: 0px;
	min-height: 0px;
	width: 99.24%;
	left: 0%;
	margin-left: 0%;
}

#u7689-4
{
	z-index: 59;
	min-height: 24px;
	width: 77.52%;
}

#pbuttonu7686:hover #u7689-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: 17px;
	left: 7px;
	min-height: 24px;
	width: 77.52%;
}

#pbuttonu7686.ButtonSelected #u7689-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 77.52%;
}

#pbuttonu7686 #u7689-4
{
	position: relative;
	margin-right: -10000px;
	margin-top: 17px;
	left: 6px;
	width: 77.52%;
}

#u7687
{
	z-index: 63;
	width: 15.51%;
}

#pbuttonu7686:hover #u7687
{
	position: relative;
	margin-right: -10000px;
	min-height: 0px;
	width: 15.51%;
	left: 43.42%;
}

#pbuttonu7686.ButtonSelected #u7687
{
	min-height: 0px;
	width: 15.51%;
}

#pbuttonu7686 #u7687
{
	position: relative;
	margin-right: -10000px;
	width: 15.51%;
	left: 42.64%;
}

#u8631-20
{
	z-index: 8;
	min-height: 425px;
	background-color: transparent;
	margin-top: 9px;
	position: relative;
	width: 94.8%;
	margin-left: 2.71%;
}

.css_verticalspacer .verticalspacer
{
	height: calc(100vh - 1059px);
}

#u6883
{
	z-index: 5;
	min-height: 303.8577059000477px;
	padding-bottom: 0px;
}

#u6883_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	position: relative;
	padding-top: 103px;
	padding-bottom: 63px;
}

#u6898
{
	z-index: 6;
	position: relative;
	width: 18.55%;
	left: 3.55%;
}

#u8095
{
	z-index: 66;
	margin-top: 19px;
	position: relative;
	width: 67.19%;
	left: 16.57%;
}

#u7909
{
	z-index: 67;
	position: relative;
	margin-right: -10000px;
	width: 80.47%;
}

#ppbuttonu7918
{
	z-index: 86;
	margin-right: -10000px;
	width: 50.87%;
}

#pbuttonu7918
{
	z-index: 87;
	margin-right: -10000px;
	width: 50.38%;
	margin-left: 50%;
}

#buttonu7918
{
	z-index: 87;
	height: 70px;
	position: relative;
	margin-right: -10000px;
	width: 98.5%;
}

#pbuttonu7678:hover #buttonu7678,#pbuttonu7918:hover #buttonu7918
{
	height: 70px;
	position: relative;
	margin-right: -10000px;
	margin-top: 0px;
	min-height: 0px;
	width: 99.25%;
	left: 0%;
	margin-left: 0%;
}

#u7921-4
{
	z-index: 88;
	min-height: 24px;
	width: 76.34%;
}

#pbuttonu7918:hover #u7921-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: 17px;
	left: 16px;
	min-height: 24px;
	width: 76.34%;
}

#pbuttonu7678.ButtonSelected #u7681-4,#pbuttonu7918.ButtonSelected #u7921-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 76.34%;
}

#pbuttonu7678 #u7681-4,#pbuttonu7918 #u7921-4
{
	position: relative;
	margin-right: -10000px;
	margin-top: 17px;
	left: 15px;
	width: 76.34%;
}

#u7919
{
	z-index: 92;
	width: 20px;
}

#pbuttonu7918:hover #u7919
{
	position: relative;
	margin-right: -10000px;
	width: 20px;
	left: 52px;
	min-height: 0px;
}

#pbuttonu7918 #u7919
{
	position: relative;
	margin-right: -10000px;
	width: 20px;
	left: 51px;
}

#pbuttonu7910
{
	z-index: 96;
	margin-right: -10000px;
	width: 50.76%;
}

#buttonu7910
{
	z-index: 96;
	height: 70px;
	position: relative;
	margin-right: -10000px;
	width: 98.51%;
}

#pbuttonu7910:hover #buttonu7910
{
	height: 70px;
	position: relative;
	margin-right: -10000px;
	margin-top: 0px;
	min-height: 0px;
	width: 99.26%;
	left: 0%;
	margin-left: 0%;
}

#u7913-4
{
	z-index: 97;
	min-height: 24px;
	width: 75.76%;
}

#pbuttonu7910:hover #u7913-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: 17px;
	left: 7px;
	min-height: 24px;
	width: 75.76%;
}

#pbuttonu7910.ButtonSelected #u7913-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 75.76%;
}

#pbuttonu7910 #u7913-4
{
	position: relative;
	margin-right: -10000px;
	margin-top: 17px;
	left: 6px;
	width: 75.76%;
}

#u7911
{
	z-index: 101;
	width: 20px;
}

#pbuttonu7910:hover #u7911
{
	position: relative;
	margin-right: -10000px;
	width: 20px;
	left: 56px;
	min-height: 0px;
}

#pbuttonu7910 #u7911
{
	position: relative;
	margin-right: -10000px;
	width: 20px;
	left: 55px;
}

#ppbuttonu7922
{
	z-index: 68;
	margin-right: -10000px;
	width: 48.75%;
	margin-left: 51.06%;
}

#pbuttonu7922
{
	z-index: 69;
	margin-right: -10000px;
	width: 50.6%;
	margin-left: 49.81%;
}

#buttonu7922
{
	z-index: 69;
	height: 70px;
	position: relative;
	margin-right: -10000px;
	width: 98.44%;
}

#u7925-4
{
	z-index: 70;
	min-height: 24px;
	width: 79.37%;
}

#pbuttonu7922:hover #u7925-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: 17px;
	left: 17px;
	min-height: 24px;
	width: 79.37%;
}

#u7923
{
	z-index: 74;
	width: 20px;
}

#pbuttonu7922:hover #u7923
{
	position: relative;
	margin-right: -10000px;
	width: 20px;
	left: 62px;
	min-height: 0px;
}

#pbuttonu7914
{
	z-index: 78;
	margin-right: -10000px;
	width: 50.6%;
}

#buttonu7914
{
	z-index: 78;
	height: 70px;
	position: relative;
	margin-right: -10000px;
	width: 98.44%;
}

#u7917-4
{
	z-index: 79;
	min-height: 24px;
	width: 86.51%;
}

#pbuttonu7914:hover #u7917-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: 17px;
	left: 9px;
	min-height: 24px;
	width: 86.51%;
}

#pbuttonu7914.ButtonSelected #u7917-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 86.51%;
}

#pbuttonu7914 #u7917-4
{
	position: relative;
	margin-right: -10000px;
	margin-top: 17px;
	left: 8px;
	width: 86.51%;
}

#u7915
{
	z-index: 83;
	width: 20px;
}

#pbuttonu7914:hover #u7915
{
	position: relative;
	margin-right: -10000px;
	width: 20px;
	left: 53px;
	min-height: 0px;
}

#pbuttonu7914 #u7915
{
	position: relative;
	margin-right: -10000px;
	width: 20px;
	left: 52px;
}

#pbuttonu8082
{
	z-index: 105;
	margin-right: -10000px;
	width: 19.85%;
	margin-left: 80.16%;
}

#buttonu8082
{
	z-index: 105;
	height: 70px;
	position: relative;
	margin-right: -10000px;
	width: 98.44%;
}

#pbuttonu7922:hover #buttonu7922,#pbuttonu7914:hover #buttonu7914,#pbuttonu8082:hover #buttonu8082
{
	height: 70px;
	position: relative;
	margin-right: -10000px;
	margin-top: 0px;
	min-height: 0px;
	width: 99.22%;
	left: 0%;
	margin-left: 0%;
}

#u8085-4
{
	z-index: 106;
	min-height: 24px;
	width: 79.37%;
}

#pbuttonu8082:hover #u8085-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: 17px;
	left: 17px;
	min-height: 24px;
	width: 79.37%;
}

#pbuttonu7922.ButtonSelected #u7925-4,#pbuttonu8082.ButtonSelected #u8085-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 79.37%;
}

#pbuttonu7922 #u7925-4,#pbuttonu8082 #u8085-4
{
	position: relative;
	margin-right: -10000px;
	margin-top: 17px;
	left: 16px;
	width: 79.37%;
}

#u8083
{
	z-index: 110;
	width: 20px;
}

#pbuttonu8082:hover #u8083
{
	position: relative;
	margin-right: -10000px;
	width: 20px;
	left: 62px;
	min-height: 0px;
}

#pbuttonu7918.ButtonSelected #u7919,#pbuttonu7910.ButtonSelected #u7911,#pbuttonu7922.ButtonSelected #u7923,#pbuttonu7914.ButtonSelected #u7915,#pbuttonu8082.ButtonSelected #u8083
{
	width: 20px;
	min-height: 0px;
}

#pbuttonu7922 #u7923,#pbuttonu8082 #u8083
{
	position: relative;
	margin-right: -10000px;
	width: 20px;
	left: 61px;
}

#u6883-bw
{
	z-index: 5;
	min-height: 303.8577059000477px;
	margin-top: 269px;
}

.html
{
	background-color: #00406D;
}

body
{
	position: relative;
	min-width: 240px;
	padding-top: 155px;
	padding-bottom: 12px;
}

#u104_img,#u7683_img,#u7675_img,#u7679_img,#u7687_img,#u6898_img
{
	width: 100%;
}

