.S001---Caption
{
	font-family: josefin-sans-n4, sans-serif;
}

.quote-text
{
	font-family: open-sans-n3, sans-serif;
}

.quote-author
{
	font-family: open-sans-n6, sans-serif;
}

.H1
{
	font-family: bebas-neue-n4, sans-serif;
}

.Menu-Buttons
{
	font-family: dosis-n3, sans-serif;
}

#u14390.MuseMenuActive #u14391-4 p,#u14550.MuseMenuActive #u14552-4 p,#u14579.MuseMenuActive #u14580-4 p,#u14607.MuseMenuActive #u14608-4 p,#u14635.MuseMenuActive #u14636-4 p,#u14665.MuseMenuActive #u14668-4 p
{
	font-family: source-sans-pro-n6, sans-serif;
}

#u14391-4
{
	font-family: source-sans-pro-n4, sans-serif;
}

#u14552-4
{
	font-family: source-sans-pro-n4, sans-serif;
}

#u14580-4
{
	font-family: source-sans-pro-n4, sans-serif;
}

#u14608-4
{
	font-family: source-sans-pro-n4, sans-serif;
}

#u14636-4
{
	font-family: source-sans-pro-n4, sans-serif;
}

#u14668-4
{
	font-family: source-sans-pro-n4, sans-serif;
}



