.S001---Caption
{
	font-family: josefin-sans-n4, sans-serif;
}

.quote-text
{
	font-family: open-sans-n3, sans-serif;
}

.quote-author
{
	font-family: open-sans-n6, sans-serif;
}

.H1
{
	font-family: bebas-neue-n4, sans-serif;
}

.Menu-Buttons
{
	font-family: dosis-n3, sans-serif;
}

#u14390.MuseMenuActive #u14391-4 p,#u14550.MuseMenuActive #u14552-4 p,#u14579.MuseMenuActive #u14580-4 p,#u14607.MuseMenuActive #u14608-4 p,#u14635.MuseMenuActive #u14636-4 p,#u14665.MuseMenuActive #u14668-4 p
{
	font-family: source-sans-pro-n6, sans-serif;
}

#u14391-4
{
	font-family: source-sans-pro-n4, sans-serif;
}

#u14552-4
{
	font-family: source-sans-pro-n4, sans-serif;
}

#u14580-4
{
	font-family: source-sans-pro-n4, sans-serif;
}

#u14608-4
{
	font-family: source-sans-pro-n4, sans-serif;
}

#u14636-4
{
	font-family: source-sans-pro-n4, sans-serif;
}

#u14668-4
{
	font-family: source-sans-pro-n4, sans-serif;
}


#u14754-4,#u14767-4,#u14757-4,#u14798-4,#u14785-4,#u14787-4
{
	font-family: source-sans-pro-n2, sans-serif;
}

#u14958-4
{
	font-family: asap-n4, sans-serif;
}

#u14956-4
{
	font-family: asap-n4, sans-serif;
}

#u14954-4
{
	font-family: asap-n4, sans-serif;
}

#u14960-4
{
	font-family: asap-n4, sans-serif;
}

#u15014-4,#u14741-8,#u14743-5,#u14739-5,#u14768-4,#u14766-4,#u14749-4,#u14771-4,#u14786-4,#u14778-4,#u14848-4,#u14827-4,#u14834-4,#u14831-4,#u14851-4,#u14846-4,#u14836-4,#u14857-4,#u14843-4,#u14854-4,#u14825-4,#u14840-4,#u14860-4,#u14881-4,#u14879-4,#u14876-4,#u14884-4,#u14899-4,#u14905-4,#u14902-4,#u14895-4,#u14941-4,#u14932-4,#u14936-4,#u14939-4,#u14945-4,#u14986-4
{
	font-family: bebas-neue-n4, sans-serif;
}

#u14988-4
{
	font-family: bebas-neue-n4, sans-serif;
}

#u14977-4
{
	font-family: bebas-neue-n4, sans-serif;
}

#u14971-4
{
	font-family: bebas-neue-n4, sans-serif;
}

#u14982-4
{
	font-family: bebas-neue-n4, sans-serif;
}

#u14976-5
{
	font-family: bebas-neue-n4, sans-serif;
}

#u14974-4
{
	font-family: bebas-neue-n4, sans-serif;
}

#u14980-4
{
	font-family: bebas-neue-n4, sans-serif;
}

#widgetu14983_input,#widgetu14983_prompt,#widgetu14987_input,#widgetu14987_prompt,#widgetu14972_input,#widgetu14972_prompt,#widgetu14978_input,#widgetu14978_prompt
{
	font-family: bebas-neue, sans-serif;
}

#u14994-4
{
	font-family: bebas-neue-n4, sans-serif;
}

#u14760-14,#u14770-11,#u14969-9,#u14997-6
{
	font-family: quantico-n7, sans-serif;
}

