.version.index /* version checker */
{
	color: #0000FB;
	background-color: #075883;
}

#muse_css_mq
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	min-height: 892px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: #FFFFFF;
	width: 100%;
	max-width: 960px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -164px;
	width: 100%;
}

#pu3573
{
	z-index: 137;
	width: 100%;
}

#u3573
{
	z-index: 137;
	width: 40px;
	min-height: 40px;
	position: relative;
	margin-right: -10000px;
	margin-top: 119px;
	left: 49px;
}

#u104
{
	z-index: 2;
	position: relative;
	margin-right: -10000px;
	width: 53.86%;
	left: 23.13%;
}

#u900
{
	z-index: 4;
	min-height: 40px;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#u900-bw
{
	z-index: 4;
	min-height: 40px;
	margin-top: 21px;
}

#pamphletu6916
{
	z-index: 138;
	width: 0.01px;
	height: 75px;
	padding-bottom: 81px;
	top: -8px;
	margin-bottom: -8px;
	position: relative;
	left: -4.48%;
}

#u6919
{
	position: absolute;
	width: 920px;
	top: 75px;
}

#u6919popup
{
	z-index: 139;
}

#u6920
{
	z-index: 140;
	width: 920px;
	height: 81px;
	margin-right: -10000px;
	position: relative;
}

#u1571
{
	z-index: 141;
	width: 557px;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 191px;
}

#pbuttonu1588
{
	z-index: 143;
	width: 0.01px;
	margin-right: -10000px;
	margin-left: 417px;
}

#buttonu1588
{
	z-index: 143;
	width: 138px;
	height: 61px;
	position: relative;
	margin-right: -10000px;
}

#u1589-4
{
	z-index: 144;
	width: 122px;
	min-height: 24px;
}

#pbuttonu1588:hover #u1589-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	width: 122px;
	margin-top: 17px;
	left: 8px;
	min-height: 24px;
}

#u1590
{
	z-index: 148;
	width: 20px;
}

#pbuttonu1588:hover #u1590
{
	position: relative;
	margin-right: -10000px;
	width: 20px;
	left: 62px;
	min-height: 0px;
}

#pbuttonu1592
{
	z-index: 152;
	width: 0.01px;
	margin-right: -10000px;
	margin-left: 278px;
}

#buttonu1592
{
	z-index: 152;
	width: 138px;
	height: 61px;
	position: relative;
	margin-right: -10000px;
}

#u1595-4
{
	z-index: 153;
	width: 122px;
	min-height: 24px;
}

#pbuttonu1592:hover #u1595-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	width: 122px;
	margin-top: 17px;
	left: 8px;
	min-height: 24px;
}

#u1593
{
	z-index: 157;
	width: 20px;
}

#pbuttonu1592:hover #u1593
{
	position: relative;
	margin-right: -10000px;
	width: 20px;
	left: 57px;
	min-height: 0px;
}

#pbuttonu1592 #u1593
{
	position: relative;
	margin-right: -10000px;
	width: 20px;
	left: 56px;
}

#pbuttonu1576
{
	z-index: 161;
	width: 0.01px;
	margin-right: -10000px;
	margin-left: 138px;
}

#buttonu1576
{
	z-index: 161;
	width: 139px;
	height: 61px;
	position: relative;
	margin-right: -10000px;
}

#pbuttonu1576:hover #buttonu1576
{
	width: 140px;
	height: 61px;
	position: relative;
	margin-right: -10000px;
	margin-top: 0px;
	left: 0px;
	margin-left: 0px;
	min-height: 0px;
}

#u1577-4
{
	z-index: 162;
	width: 122px;
	min-height: 24px;
}

#pbuttonu1576:hover #u1577-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	width: 122px;
	margin-top: 17px;
	left: 8px;
	min-height: 24px;
}

#pbuttonu1588 #u1589-4,#pbuttonu1592 #u1595-4,#pbuttonu1576 #u1577-4
{
	position: relative;
	margin-right: -10000px;
	width: 122px;
	margin-top: 17px;
	left: 7px;
}

#u1578
{
	z-index: 166;
	width: 20px;
}

#pbuttonu1576:hover #u1578
{
	position: relative;
	margin-right: -10000px;
	width: 20px;
	left: 64px;
	min-height: 0px;
}

#pbuttonu1576 #u1578
{
	position: relative;
	margin-right: -10000px;
	width: 20px;
	left: 63px;
}

#pbuttonu1580
{
	z-index: 170;
	width: 0.01px;
	margin-right: -10000px;
}

#buttonu1580
{
	z-index: 170;
	width: 138px;
	height: 61px;
	position: relative;
	margin-right: -10000px;
}

#pbuttonu1588:hover #buttonu1588,#pbuttonu1592:hover #buttonu1592,#pbuttonu1580:hover #buttonu1580
{
	width: 139px;
	height: 61px;
	position: relative;
	margin-right: -10000px;
	margin-top: 0px;
	left: 0px;
	margin-left: 0px;
	min-height: 0px;
}

#u1581-4
{
	z-index: 171;
	width: 122px;
	min-height: 24px;
}

#pbuttonu1580:hover #u1581-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	width: 122px;
	margin-top: 17px;
	left: 7px;
	min-height: 24px;
}

#pbuttonu1588.ButtonSelected #u1589-4,#pbuttonu1592.ButtonSelected #u1595-4,#pbuttonu1576.ButtonSelected #u1577-4,#pbuttonu1580.ButtonSelected #u1581-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 122px;
}

#pbuttonu1580 #u1581-4
{
	position: relative;
	margin-right: -10000px;
	width: 122px;
	margin-top: 17px;
	left: 6px;
}

#u1582
{
	z-index: 175;
	width: 20px;
}

#pbuttonu1580:hover #u1582
{
	position: relative;
	margin-right: -10000px;
	width: 20px;
	left: 62px;
	min-height: 0px;
}

#pbuttonu1588.ButtonSelected #u1590,#pbuttonu1592.ButtonSelected #u1593,#pbuttonu1576.ButtonSelected #u1578,#pbuttonu1580.ButtonSelected #u1582
{
	width: 20px;
	min-height: 0px;
}

#pbuttonu1588 #u1590,#pbuttonu1580 #u1582
{
	position: relative;
	margin-right: -10000px;
	width: 20px;
	left: 61px;
}

#u6927
{
	z-index: 178;
	width: 168px;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 405px;
}

#u6928
{
	position: absolute;
	width: 230px;
	padding-bottom: 4px;
	top: -11px;
	left: -34px;
}

#u6928.PamphletThumbSelected
{
	width: 230px;
	min-height: 0px;
	margin: 0px;
}

#u6997
{
	z-index: 180;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	width: 73.05%;
	left: 14.79%;
}

#u6928.PamphletThumbSelected #u6997
{
	min-height: 0px;
	width: 73.05%;
	margin: 11px -10000px 0px 0%;
}

#pu2430-113
{
	z-index: 24;
	margin-top: -55px;
	width: 100%;
}

#u2430-113
{
	z-index: 24;
	min-height: 318px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	width: 95.42%;
	left: 2.5%;
}

#u2430-82
{
	font-weight: bold;
	font-style: normal;
}

#u2430-101
{
	font-weight: bold;
}

#u2430-81,#u2430-100
{
	text-decoration: underline;
}

#u3808
{
	z-index: 182;
	width: 900px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 340px;
	left: 28px;
}

#pamphletu3809
{
	z-index: 183;
	width: 0.01px;
	height: 11px;
	padding-bottom: 415px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
}

#u3816
{
	z-index: 184;
	width: 72px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: 399px;
}

#u3817
{
	position: absolute;
	width: 8px;
	height: 8px;
	border-style: solid;
	border-width: 2px;
	border-color: #00BFF3;
	background-color: #00BFF3;
	border-radius: 50px;
}

#u3817:hover
{
	border-color: #00BFF3;
	background-color: #FFFFFF;
	border-radius: 50px;
	width: 8px;
	height: 8px;
	min-height: 0px;
	margin: 0px;
}

#u3818
{
	position: absolute;
	width: 8px;
	height: 8px;
	border-style: solid;
	border-width: 2px;
	border-color: #00BFF3;
	background-color: #00BFF3;
	border-radius: 50px;
	left: 20px;
}

#u3818:hover
{
	border-color: #00BFF3;
	background-color: #FFFFFF;
	border-radius: 50px;
	width: 8px;
	height: 8px;
	min-height: 0px;
	margin: 0px;
}

#u3820
{
	position: absolute;
	width: 8px;
	height: 8px;
	border-style: solid;
	border-width: 2px;
	border-color: #00BFF3;
	background-color: #00BFF3;
	border-radius: 50px;
	left: 40px;
}

#u3820:hover
{
	border-color: #00BFF3;
	background-color: #FFFFFF;
	border-radius: 50px;
	width: 8px;
	height: 8px;
	min-height: 0px;
	margin: 0px;
}

#u3819
{
	position: absolute;
	width: 8px;
	height: 8px;
	border-style: solid;
	border-width: 2px;
	border-color: #00BFF3;
	background-color: #00BFF3;
	border-radius: 50px;
	left: 60px;
}

#u3819:hover
{
	border-color: #00BFF3;
	background-color: #FFFFFF;
	border-radius: 50px;
	width: 8px;
	height: 8px;
	min-height: 0px;
	margin: 0px;
}

#u3817.PamphletThumbSelected,#u3818.PamphletThumbSelected,#u3820.PamphletThumbSelected,#u3819.PamphletThumbSelected
{
	border-color: #00BFF3;
	background-color: #FFFFFF;
	border-radius: 100px;
	width: 8px;
	height: 8px;
	min-height: 0px;
	margin: 0px;
}

#u3821
{
	position: absolute;
	width: 900px;
	background-color: transparent;
	top: 26px;
}

#u3821popup
{
	z-index: 189;
}

#u3834
{
	z-index: 190;
	width: 900px;
	height: 399px;
	border-color: #464646;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	margin-right: -10000px;
	position: relative;
	background: #6B6B6B url("../images/actualalbum.jpg?crc=3764500425") no-repeat left top;
	background-size: cover;
}

#u4301-4
{
	z-index: 191;
	width: 256px;
	min-height: 44px;
	background-color: #7FDFF9;
	background-color: rgba(0,191,243,0.5);
	padding-left: 9px;
	padding-top: 2px;
	line-height: 36px;
	font-size: 30px;
	letter-spacing: 0px;
	text-align: left;
	font-family: source-sans-pro, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 128px;
	left: 15px;
	-pie-background: rgba(0,191,243,0.5);
}

#u3822
{
	z-index: 195;
	width: 900px;
	height: 399px;
	border-color: #464646;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	margin-right: -10000px;
	position: relative;
	background: #6B6B6B url("../images/vicnent.jpg?crc=4025757287") no-repeat center center;
	background-size: cover;
}

#u3826
{
	z-index: 196;
	width: 900px;
	height: 399px;
	border-color: #464646;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	margin-right: -10000px;
	position: relative;
	background: #6B6B6B url("../images/aagard.jpg?crc=4147394462") no-repeat center center;
	background-size: cover;
}

#u3830
{
	z-index: 197;
	width: 900px;
	height: 399px;
	border-color: #464646;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	margin-right: -10000px;
	position: relative;
	background: #6B6B6B url("../images/car.jpg?crc=113882937") no-repeat left top;
	background-size: cover;
}

#u4304-4
{
	z-index: 198;
	width: 292px;
	min-height: 44px;
	background-color: #7FDFF9;
	background-color: rgba(0,191,243,0.5);
	padding-left: 9px;
	padding-top: 2px;
	line-height: 36px;
	font-size: 30px;
	letter-spacing: 0px;
	text-align: left;
	font-family: source-sans-pro, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	left: 384px;
	-pie-background: rgba(0,191,243,0.5);
}

#u3810
{
	position: absolute;
	width: 41px;
	border-color: #C4C4C4;
	background-color: transparent;
	padding-bottom: 5px;
	top: 226px;
}

#u3810:hover
{
	border-color: #999999;
	width: 41px;
	min-height: 0px;
	margin: 0px;
}

#u3811-4
{
	z-index: 203;
	width: 38px;
	min-height: 34px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	padding-top: 12px;
	color: #FFFFFF;
	line-height: 30px;
	font-size: 30px;
	text-align: center;
	font-family: quicksand, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
}

#u3811-4:hover
{
	padding-top: 12px;
	padding-bottom: 0px;
	min-height: 34px;
	width: 38px;
	margin: 0px -10000px 0px 0px;
}

#u3812
{
	position: absolute;
	width: 39px;
	border-color: #C4C4C4;
	background-color: transparent;
	border-radius: 2px 0px 0px 2px ;
	top: 209px;
	left: 861px;
}

#u3812:hover
{
	border-color: #999999;
	width: 39px;
	min-height: 0px;
	margin: 0px;
}

#u3813-4
{
	z-index: 208;
	width: 37px;
	min-height: 39px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	padding-top: 12px;
	color: #959595;
	line-height: 30px;
	font-size: 30px;
	text-align: center;
	font-family: quicksand, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
}

#u3813-4:hover
{
	padding-top: 12px;
	padding-bottom: 0px;
	min-height: 39px;
	width: 37px;
	margin: 0px -10000px 0px 0px;
}

#u3811-4:hover p,#u3813-4:hover p
{
	color: #BFBDBD;
	visibility: inherit;
}

.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton /* pamphlet2 */
{
	cursor: pointer;
}

.css_verticalspacer .verticalspacer
{
	height: calc(100vh - 1999px);
}

#u6883
{
	z-index: 5;
	min-height: 223px;
	padding-bottom: 64px;
}

#u6883_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	position: relative;
	margin-bottom: -1px;
}

#pu6898
{
	z-index: 18;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 103px;
	width: 19.28%;
	margin-left: 3.55%;
}

#u6898
{
	z-index: 18;
	position: relative;
	width: 96.22%;
}

#u6889-4
{
	z-index: 6;
	min-height: 39px;
	margin-top: 29px;
	position: relative;
	width: 67.57%;
	margin-left: 30.28%;
}

#u6892-4
{
	z-index: 10;
	min-height: 39px;
	position: relative;
	margin-right: -10000px;
	margin-top: 180px;
	width: 13.03%;
	left: 25.32%;
}

#u6895-4
{
	z-index: 14;
	min-height: 39px;
	position: relative;
	margin-right: -10000px;
	margin-top: 180px;
	width: 13.03%;
	left: 40.73%;
}

#u6908-4
{
	z-index: 20;
	min-height: 39px;
	position: relative;
	margin-right: -10000px;
	margin-top: 180px;
	width: 13.03%;
	left: 56.25%;
}

#u6883-bw
{
	z-index: 5;
	min-height: 223px;
	margin-top: -1px;
}

.html
{
	background-color: #00406D;
}

body
{
	position: relative;
	min-width: 240px;
	padding-top: 155px;
	padding-bottom: 12px;
}

#u104_img,#u6997_img,#u6898_img
{
	width: 100%;
}

