.version.index /* version checker */
{
	color: #0000E2;
	background-color: #E9CB58;
}

#muse_css_mq
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	min-height: 438px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: #FFFFFF;
	padding-bottom: 62px;
	width: 100%;
	max-width: 960px;
	margin-left: auto;
	margin-right: auto;
}

#u900
{
	z-index: 4;
	width: 917px;
	min-height: 40px;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
	left: 21px;
}

#u2430-109
{
	z-index: 5;
	min-height: 318px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 152px;
	width: 95.42%;
	left: 2.5%;
}

#u2430-82
{
	font-weight: bold;
	font-style: normal;
}

#u2430-101
{
	font-weight: bold;
}

#u2430-81,#u2430-100
{
	text-decoration: underline;
}

#pu3573
{
	z-index: 151;
	width: 0.01px;
	margin-right: -10000px;
	margin-top: -45px;
	margin-left: 28px;
}

#u3573
{
	z-index: 151;
	width: 40px;
	min-height: 40px;
	margin-left: 21px;
	position: relative;
}

#u1571
{
	z-index: 114;
	width: 557px;
	margin-left: 173px;
	margin-top: 51px;
	position: relative;
}

#pbuttonu1588
{
	z-index: 116;
	width: 0.01px;
	margin-right: -10000px;
	margin-left: 417px;
}

#buttonu1588
{
	z-index: 116;
	width: 138px;
	height: 61px;
	position: relative;
	margin-right: -10000px;
}

#u1589-4
{
	z-index: 117;
	width: 122px;
	min-height: 24px;
}

#pbuttonu1588:hover #u1589-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	width: 122px;
	margin-top: 17px;
	left: 8px;
	min-height: 24px;
}

#u1590
{
	z-index: 121;
	width: 20px;
}

#pbuttonu1588:hover #u1590
{
	position: relative;
	margin-right: -10000px;
	width: 20px;
	left: 62px;
	min-height: 0px;
}

#pbuttonu1592
{
	z-index: 125;
	width: 0.01px;
	margin-right: -10000px;
	margin-left: 278px;
}

#buttonu1592
{
	z-index: 125;
	width: 138px;
	height: 61px;
	position: relative;
	margin-right: -10000px;
}

#u1595-4
{
	z-index: 126;
	width: 122px;
	min-height: 24px;
}

#pbuttonu1592:hover #u1595-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	width: 122px;
	margin-top: 17px;
	left: 8px;
	min-height: 24px;
}

#u1593
{
	z-index: 130;
	width: 20px;
}

#pbuttonu1592:hover #u1593
{
	position: relative;
	margin-right: -10000px;
	width: 20px;
	left: 57px;
	min-height: 0px;
}

#pbuttonu1592 #u1593
{
	position: relative;
	margin-right: -10000px;
	width: 20px;
	left: 56px;
}

#pbuttonu1576
{
	z-index: 134;
	width: 0.01px;
	margin-right: -10000px;
	margin-left: 138px;
}

#buttonu1576
{
	z-index: 134;
	width: 139px;
	height: 61px;
	position: relative;
	margin-right: -10000px;
}

#pbuttonu1576:hover #buttonu1576
{
	width: 140px;
	height: 61px;
	position: relative;
	margin-right: -10000px;
	margin-top: 0px;
	left: 0px;
	margin-left: 0px;
	min-height: 0px;
}

#u1577-4
{
	z-index: 135;
	width: 122px;
	min-height: 24px;
}

#pbuttonu1576:hover #u1577-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	width: 122px;
	margin-top: 17px;
	left: 8px;
	min-height: 24px;
}

#pbuttonu1588 #u1589-4,#pbuttonu1592 #u1595-4,#pbuttonu1576 #u1577-4
{
	position: relative;
	margin-right: -10000px;
	width: 122px;
	margin-top: 17px;
	left: 7px;
}

#u1578
{
	z-index: 139;
	width: 20px;
}

#pbuttonu1576:hover #u1578
{
	position: relative;
	margin-right: -10000px;
	width: 20px;
	left: 64px;
	min-height: 0px;
}

#pbuttonu1576 #u1578
{
	position: relative;
	margin-right: -10000px;
	width: 20px;
	left: 63px;
}

#pbuttonu1580
{
	z-index: 143;
	width: 0.01px;
	margin-right: -10000px;
}

#buttonu1580
{
	z-index: 143;
	width: 138px;
	height: 61px;
	position: relative;
	margin-right: -10000px;
}

#pbuttonu1588:hover #buttonu1588,#pbuttonu1592:hover #buttonu1592,#pbuttonu1580:hover #buttonu1580
{
	width: 139px;
	height: 61px;
	position: relative;
	margin-right: -10000px;
	margin-top: 0px;
	left: 0px;
	margin-left: 0px;
	min-height: 0px;
}

#u1581-4
{
	z-index: 144;
	width: 122px;
	min-height: 24px;
}

#pbuttonu1580:hover #u1581-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	width: 122px;
	margin-top: 17px;
	left: 7px;
	min-height: 24px;
}

#pbuttonu1588.ButtonSelected #u1589-4,#pbuttonu1592.ButtonSelected #u1595-4,#pbuttonu1576.ButtonSelected #u1577-4,#pbuttonu1580.ButtonSelected #u1581-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 122px;
}

#pbuttonu1580 #u1581-4
{
	position: relative;
	margin-right: -10000px;
	width: 122px;
	margin-top: 17px;
	left: 6px;
}

#u1582
{
	z-index: 148;
	width: 20px;
}

#pbuttonu1580:hover #u1582
{
	position: relative;
	margin-right: -10000px;
	width: 20px;
	left: 62px;
	min-height: 0px;
}

#pbuttonu1588.ButtonSelected #u1590,#pbuttonu1592.ButtonSelected #u1593,#pbuttonu1576.ButtonSelected #u1578,#pbuttonu1580.ButtonSelected #u1582
{
	width: 20px;
	min-height: 0px;
}

#pbuttonu1588 #u1590,#pbuttonu1580 #u1582
{
	position: relative;
	margin-right: -10000px;
	width: 20px;
	left: 61px;
}

#u3808
{
	z-index: 153;
	width: 900px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-top: 385px;
	position: relative;
}

#pamphletu3809
{
	z-index: 154;
	width: 0.01px;
	height: 11px;
	padding-bottom: 415px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
}

#u3816
{
	z-index: 155;
	width: 72px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: 399px;
}

#u3817
{
	position: absolute;
	width: 8px;
	height: 8px;
	border-style: solid;
	border-width: 2px;
	border-color: #00BFF3;
	background-color: #00BFF3;
	border-radius: 50px;
}

#u3817:hover
{
	border-color: #00BFF3;
	background-color: #FFFFFF;
	border-radius: 50px;
	width: 8px;
	height: 8px;
	min-height: 0px;
	margin: 0px;
}

#u3818
{
	position: absolute;
	width: 8px;
	height: 8px;
	border-style: solid;
	border-width: 2px;
	border-color: #00BFF3;
	background-color: #00BFF3;
	border-radius: 50px;
	left: 20px;
}

#u3818:hover
{
	border-color: #00BFF3;
	background-color: #FFFFFF;
	border-radius: 50px;
	width: 8px;
	height: 8px;
	min-height: 0px;
	margin: 0px;
}

#u3820
{
	position: absolute;
	width: 8px;
	height: 8px;
	border-style: solid;
	border-width: 2px;
	border-color: #00BFF3;
	background-color: #00BFF3;
	border-radius: 50px;
	left: 40px;
}

#u3820:hover
{
	border-color: #00BFF3;
	background-color: #FFFFFF;
	border-radius: 50px;
	width: 8px;
	height: 8px;
	min-height: 0px;
	margin: 0px;
}

#u3819
{
	position: absolute;
	width: 8px;
	height: 8px;
	border-style: solid;
	border-width: 2px;
	border-color: #00BFF3;
	background-color: #00BFF3;
	border-radius: 50px;
	left: 60px;
}

#u3819:hover
{
	border-color: #00BFF3;
	background-color: #FFFFFF;
	border-radius: 50px;
	width: 8px;
	height: 8px;
	min-height: 0px;
	margin: 0px;
}

#u3817.PamphletThumbSelected,#u3818.PamphletThumbSelected,#u3820.PamphletThumbSelected,#u3819.PamphletThumbSelected
{
	border-color: #00BFF3;
	background-color: #FFFFFF;
	border-radius: 100px;
	width: 8px;
	height: 8px;
	min-height: 0px;
	margin: 0px;
}

#u3821
{
	position: absolute;
	width: 900px;
	background-color: transparent;
	top: 26px;
}

#u3821popup
{
	z-index: 160;
}

#u3834
{
	z-index: 161;
	width: 900px;
	height: 399px;
	border-color: #464646;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	margin-right: -10000px;
	position: relative;
	background: #6B6B6B url("../images/actualalbum.jpg?crc=3764500425") no-repeat left top;
	background-size: cover;
}

#u4301-4
{
	z-index: 162;
	width: 256px;
	min-height: 44px;
	background-color: #7FDFF9;
	background-color: rgba(0,191,243,0.5);
	padding-left: 9px;
	padding-top: 2px;
	line-height: 36px;
	font-size: 30px;
	text-align: left;
	letter-spacing: 0px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 128px;
	left: 15px;
	-pie-background: rgba(0,191,243,0.5);
}

#u3822
{
	z-index: 166;
	width: 900px;
	height: 399px;
	border-color: #464646;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	margin-right: -10000px;
	position: relative;
	background: #6B6B6B url("../images/vicnent.jpg?crc=4025757287") no-repeat center center;
	background-size: cover;
}

#u3826
{
	z-index: 167;
	width: 900px;
	height: 399px;
	border-color: #464646;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	margin-right: -10000px;
	position: relative;
	background: #6B6B6B url("../images/aagard.jpg?crc=4147394462") no-repeat center center;
	background-size: cover;
}

#u3830
{
	z-index: 168;
	width: 900px;
	height: 399px;
	border-color: #464646;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	margin-right: -10000px;
	position: relative;
	background: #6B6B6B url("../images/car.jpg?crc=113882937") no-repeat left top;
	background-size: cover;
}

#u4304-4
{
	z-index: 169;
	width: 292px;
	min-height: 44px;
	background-color: #7FDFF9;
	background-color: rgba(0,191,243,0.5);
	padding-left: 9px;
	padding-top: 2px;
	line-height: 36px;
	font-size: 30px;
	text-align: left;
	letter-spacing: 0px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	left: 384px;
	-pie-background: rgba(0,191,243,0.5);
}

#u3810
{
	position: absolute;
	width: 41px;
	border-color: #C4C4C4;
	background-color: transparent;
	padding-bottom: 5px;
	top: 226px;
}

#u3810:hover
{
	border-color: #999999;
	width: 41px;
	min-height: 0px;
	margin: 0px;
}

#u3811-4
{
	z-index: 174;
	width: 38px;
	min-height: 34px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	padding-top: 12px;
	line-height: 30px;
	color: #FFFFFF;
	font-size: 30px;
	text-align: center;
	font-family: quicksand, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
}

#u3811-4:hover
{
	padding-top: 12px;
	padding-bottom: 0px;
	min-height: 34px;
	width: 38px;
	margin: 0px -10000px 0px 0px;
}

#u3812
{
	position: absolute;
	width: 39px;
	border-color: #C4C4C4;
	background-color: transparent;
	border-radius: 2px 0px 0px 2px ;
	top: 209px;
	left: 861px;
}

#u3812:hover
{
	border-color: #999999;
	width: 39px;
	min-height: 0px;
	margin: 0px;
}

#u3813-4
{
	z-index: 179;
	width: 37px;
	min-height: 39px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	padding-top: 12px;
	line-height: 30px;
	color: #959595;
	font-size: 30px;
	text-align: center;
	font-family: quicksand, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
}

#u3813-4:hover
{
	padding-top: 12px;
	padding-bottom: 0px;
	min-height: 39px;
	width: 37px;
	margin: 0px -10000px 0px 0px;
}

#u3811-4:hover p,#u3813-4:hover p
{
	color: #BFBDBD;
	visibility: inherit;
}

.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton /* pamphlet2 */
{
	cursor: pointer;
}

#pu104
{
	z-index: 2;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: -164px;
	width: 53.86%;
	margin-left: 23.13%;
}

#u104
{
	z-index: 2;
	position: relative;
	width: 100%;
}

#u3585
{
	z-index: 152;
	height: 1px;
	margin-top: 152px;
	position: relative;
	width: 0.2%;
	margin-left: 23.6%;
}

.ie #u3585
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

.css_verticalspacer .verticalspacer
{
	height: calc(100vh - 1729px);
}

.html
{
	background-color: #00406D;
}

body
{
	position: relative;
	min-width: 720px;
	padding-top: 155px;
}

#u104_img
{
	width: 100%;
}

