#u4329
{
	border-color: #000000;
	background-color: #00406D;
}

#u4450,#u4346
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
}

#u4331-4
{
	border-style: solid;
	border-width: 2px;
	border-color: #FC6B02;
	background-color: transparent;
	line-height: 22px;
	text-align: center;
	font-size: 18px;
	color: #FC6B02;
	letter-spacing: 2px;
	font-family: asap, sans-serif;
	font-weight: 700;
}

#u4331-2
{
	padding-top: 6px;
}

#u4332,#u4339
{
	background-color: transparent;
}

#u4340
{
	border-style: solid;
	border-width: 2px;
	border-color: #FC6B02;
	background-color: #000026;
}

#u4341-5
{
	border-style: solid;
	border-width: 2px;
	border-color: #F15A24;
	background-color: transparent;
	line-height: 27px;
	font-size: 14px;
	color: #FC6B02;
	letter-spacing: 1px;
}

#u4341-5:hover
{
	background-color: #29ABE2;
}

#u4401-5
{
	border-style: solid;
	border-width: 2px;
	border-color: #F15A24;
	background-color: transparent;
	line-height: 27px;
	color: #FC6B02;
	font-size: 14px;
	letter-spacing: 1px;
	font-family: open-sans, sans-serif;
	font-weight: 700;
}

#u4404-5
{
	border-style: solid;
	border-width: 2px;
	border-color: #F15A24;
	background-color: transparent;
	line-height: 27px;
	font-size: 14px;
	color: #FC6B02;
	letter-spacing: 1px;
}

#u4401-5:hover,#u4404-5:hover
{
	background-color: #0071BC;
}

#u4341-2,#u4401,#u4404-2
{
	font-family: dosis, sans-serif;
	font-weight: 300;
}

#u4341-3,#u4404-3
{
	font-family: open-sans, sans-serif;
	font-weight: 700;
}

#u5217
{
	border-style: solid;
	border-width: 2px;
	border-color: #F15A24;
	background-color: transparent;
}

.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton /* pamphlet2 */
{
	cursor: pointer;
}

