#u12835
{
	border-width: 0px;
	border-color: transparent;
	background-color: #EDEDED;
	border-radius: 12px;
}

#u12840
{
	border-width: 0px;
	border-color: transparent;
	background-color: #0071BC;
	border-radius: 10px 10px 0px 0px ;
}

#u12931-4
{
	background-color: transparent;
	text-align: center;
	font-size: 14px;
	letter-spacing: 1px;
	color: #3C3C3C;
	font-family: dosis, sans-serif;
	font-weight: 300;
}

#u12931-4:hover p,#u12931-4:hover span
{
	color: #FFFFFF;
	visibility: inherit;
}

#u12931
{
	font-family: dosis, sans-serif;
	font-weight: 300;
}

#buttonu12853
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
}

#buttonu12853:hover
{
	border-width: 0px;
	border-color: transparent;
	background-color: #D4BFE1;
}

#u12854-4
{
	background-color: transparent;
	text-align: center;
}

#u12854-2
{
	padding-top: 1px;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u12855
{
	border-width: 0px;
	background-color: transparent;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u12855::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	box-shadow: none;
}

#u8932,#u12834,#buttonu12853.ButtonSelected,#buttonu12853:hover #u12855
{
	background-color: transparent;
}

#buttonu12853:active #u12855
{
	background-color: transparent;
}

#buttonu12849
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
}

#buttonu12849:hover
{
	border-width: 0px;
	border-color: transparent;
	background-color: #D4BFE1;
}

#u12852-4
{
	background-color: transparent;
	text-align: center;
}

#u12852-2
{
	padding-top: 1px;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u12850
{
	border-width: 0px;
	background-color: transparent;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u12850::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	box-shadow: none;
}

#buttonu12853.ButtonSelected #u12855,#buttonu12849.ButtonSelected,#buttonu12849:hover #u12850
{
	background-color: transparent;
}

#buttonu12849:active #u12850
{
	background-color: transparent;
}

#buttonu12845
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
}

#buttonu12845:hover
{
	border-width: 0px;
	border-color: transparent;
	background-color: #D4BFE1;
}

#u12848-4
{
	background-color: transparent;
	text-align: center;
}

#u12848-2
{
	padding-top: 1px;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u12846
{
	border-width: 0px;
	background-color: transparent;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u12846::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	box-shadow: none;
}

#buttonu12849.ButtonSelected #u12850,#buttonu12845.ButtonSelected,#buttonu12845:hover #u12846
{
	background-color: transparent;
}

#buttonu12845:active #u12846
{
	background-color: transparent;
}

#buttonu12841
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
}

#buttonu12841:hover
{
	border-width: 0px;
	border-color: transparent;
	background-color: #D4BFE1;
}

#u12842-4
{
	background-color: transparent;
	text-align: center;
}

#u12842-2
{
	padding-top: 1px;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u12843
{
	border-width: 0px;
	background-color: transparent;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u12843::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	box-shadow: none;
}

#buttonu12845.ButtonSelected #u12846,#buttonu12841.ButtonSelected,#buttonu12841:hover #u12843
{
	background-color: transparent;
}

#buttonu12841:active #u12843
{
	background-color: transparent;
}

#buttonu12836
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
}

#buttonu12836:hover
{
	border-width: 0px;
	border-color: transparent;
	background-color: #D4BFE1;
}

#u12839-4
{
	background-color: transparent;
	text-align: center;
}

#u12839-2
{
	padding-top: 1px;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u12854,#u12852,#u12848,#u12842,#u12839
{
	line-height: 19px;
}

#u12837
{
	border-width: 0px;
	background-color: transparent;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u12837::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	box-shadow: none;
}

#buttonu12841.ButtonSelected #u12843,#buttonu12836.ButtonSelected,#buttonu12836:hover #u12837
{
	background-color: transparent;
}

#buttonu12836:active #u12837
{
	background-color: transparent;
}

#buttonu12836.ButtonSelected #u12837
{
	background-color: transparent;
}

.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton /* pamphlet2 */
{
	cursor: pointer;
}

