#u14342
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	max-width: 100000px;
}

#menuu16851
{
	border-radius: 10px 10px 0px 0px ;
}

.Icona-Light---Main-Menu-Bar
{
	border-width: 0px;
	border-color: transparent;
	background-color: #FFFFFF;
}

#u16888
{
	border-style: solid;
	border-bottom-width: 2px;
	border-color: #F7931E;
	background-color: #444444;
}

#u16888::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	box-shadow: none;
}

#u16888:hover
{
	background-color: #EAEAEA;
}

.Icona-Light---Menu-Button--Normal
{
	border-width: 0px;
	overflow: hidden;
	border-color: #000000;
	background-color: #EFEFEF;
}

.Icona-Light---Menu-Button--Normal::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	top: -2px;
	left: 0px;
	bottom: -2px;
	right: 0px;
	box-shadow: inset 2px 0px 2px rgba(255,255,255,0.04), inset -2px 0px 2px rgba(0,0,0,0.04);
}

#u14343,#u10485,#u16889-4
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
}

#u16888:hover #u16889-4 p
{
	color: #444444;
	visibility: inherit;
}

#u16860
{
	border-style: solid;
	border-bottom-width: 2px;
	border-color: #E21E79;
	background-color: #444444;
}

#u16860::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	box-shadow: none;
}

#u16860:hover
{
	background-color: #EAEAEA;
}

#u16860:active
{
	background-color: #EAEAEA;
}

#u16862-4
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
}

#u16860:hover #u16862-4 p
{
	color: #444444;
	visibility: inherit;
}

#u16860:active #u16862-4 p
{
	color: #444444;
	visibility: inherit;
}

#u16853
{
	border-style: solid;
	border-bottom-width: 2px;
	border-color: #8CC63F;
	background-color: #444444;
}

#u16853::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	box-shadow: none;
}

#u16853:hover
{
	background-color: #EAEAEA;
}

#u16853:active
{
	background-color: #EAEAEA;
}

#u16854-4
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
}

#u16853:hover #u16854-4 p
{
	color: #444444;
	visibility: inherit;
}

#u16853:active #u16854-4 p
{
	color: #444444;
	visibility: inherit;
}

#u16904
{
	border-style: solid;
	border-bottom-width: 2px;
	border-color: #29ABE2;
	background-color: #444444;
}

#u16904::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	box-shadow: none;
}

#u16904:hover
{
	background-color: #EAEAEA;
}

#u16904:active
{
	background-color: #EAEAEA;
}

#u16888.MuseMenuActive,#u16860.MuseMenuActive,#u16853.MuseMenuActive,#u16904.MuseMenuActive
{
	background-color: #848484;
}

#u16905-4
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
}

#u16904:hover #u16905-4 p
{
	color: #444444;
	visibility: inherit;
}

#u16904:active #u16905-4 p
{
	color: #444444;
	visibility: inherit;
}

#u16888.MuseMenuActive #u16889-4 p,#u16860.MuseMenuActive #u16862-4 p,#u16853.MuseMenuActive #u16854-4 p,#u16904.MuseMenuActive #u16905-4 p
{
	color: #FFFFFF;
	visibility: inherit;
	font-size: 12px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
	font-style: normal;
}

#u16889-3,#u16862-3,#u16854-3,#u16905-3
{
	font-size: 12px;
	line-height: 14px;
	letter-spacing: 6px;
	text-align: center;
	color: #FFFFFF;
	font-family: open-sans, sans-serif;
	font-weight: 300;
}

#u13055
{
	border-width: 0px;
	border-color: transparent;
	background-color: #EDEDED;
	border-radius: 12px;
}

#u13064
{
	border-width: 0px;
	border-color: transparent;
	background-color: #0071BC;
	border-radius: 10px 10px 0px 0px ;
}

#u13077-4
{
	background-color: transparent;
	letter-spacing: 1px;
	color: #3C3C3C;
	font-size: 14px;
	text-align: center;
	font-family: dosis, sans-serif;
	font-weight: 300;
}

#u13077-4:hover p,#u13077-4:hover span
{
	color: #FFFFFF;
	visibility: inherit;
}

#u13077
{
	font-family: dosis, sans-serif;
	font-weight: 300;
}

#buttonu13056
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
}

#buttonu13056:hover
{
	border-width: 0px;
	border-color: transparent;
	background-color: #D4BFE1;
}

#u13057-4
{
	background-color: transparent;
	text-align: center;
}

#u13057-2
{
	padding-top: 1px;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u13058
{
	border-width: 0px;
	background-color: transparent;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u13058::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	box-shadow: none;
}

#u9265,#u16887,#u16859,#u16852,#u16901,#u10272,#u13054,#buttonu13056.ButtonSelected,#buttonu13056:hover #u13058
{
	background-color: transparent;
}

#buttonu13056:active #u13058
{
	background-color: transparent;
}

#buttonu13073
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
}

#buttonu13073:hover
{
	border-width: 0px;
	border-color: transparent;
	background-color: #D4BFE1;
}

#u13074-4
{
	background-color: transparent;
	text-align: center;
}

#u13074-2
{
	padding-top: 1px;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u13075
{
	border-width: 0px;
	background-color: transparent;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u13075::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	box-shadow: none;
}

#buttonu13056.ButtonSelected #u13058,#buttonu13073.ButtonSelected,#buttonu13073:hover #u13075
{
	background-color: transparent;
}

#buttonu13073:active #u13075
{
	background-color: transparent;
}

#buttonu13069
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
}

#buttonu13069:hover
{
	border-width: 0px;
	border-color: transparent;
	background-color: #D4BFE1;
}

#u13070-4
{
	background-color: transparent;
	text-align: center;
}

#u13070-2
{
	padding-top: 1px;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u13071
{
	border-width: 0px;
	background-color: transparent;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u13071::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	box-shadow: none;
}

#buttonu13073.ButtonSelected #u13075,#buttonu13069.ButtonSelected,#buttonu13069:hover #u13071
{
	background-color: transparent;
}

#buttonu13069:active #u13071
{
	background-color: transparent;
}

#buttonu13060
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
}

#buttonu13060:hover
{
	border-width: 0px;
	border-color: transparent;
	background-color: #D4BFE1;
}

#u13061-4
{
	background-color: transparent;
	text-align: center;
}

#u13061-2
{
	padding-top: 1px;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u13062
{
	border-width: 0px;
	background-color: transparent;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u13062::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	box-shadow: none;
}

#buttonu13069.ButtonSelected #u13071,#buttonu13060.ButtonSelected,#buttonu13060:hover #u13062
{
	background-color: transparent;
}

#buttonu13060:active #u13062
{
	background-color: transparent;
}

#buttonu13065
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
}

#buttonu13065:hover
{
	border-width: 0px;
	border-color: transparent;
	background-color: #D4BFE1;
}

#u13068-4
{
	background-color: transparent;
	text-align: center;
}

#u13068-2
{
	padding-top: 1px;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u13057,#u13074,#u13070,#u13061,#u13068
{
	line-height: 19px;
}

#u13066
{
	border-width: 0px;
	background-color: transparent;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u13066::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	box-shadow: none;
}

#buttonu13060.ButtonSelected #u13062,#buttonu13065.ButtonSelected,#buttonu13065:hover #u13066
{
	background-color: transparent;
}

#buttonu13065:active #u13066
{
	background-color: transparent;
}

.MenuItem,.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton /* unifiedNavBar */
{
	cursor: pointer;
}

#buttonu13065.ButtonSelected #u13066,#u12065
{
	background-color: transparent;
}

#u12067-4,#u12068-4,#u12069-4,#u12070-4
{
	border-style: solid;
	border-width: 2px;
	border-color: #FFCA00;
	background-color: transparent;
	font-size: 24px;
	line-height: 29px;
	color: #FFFFFF;
	font-family: dosis, sans-serif;
	font-weight: 300;
}

#u16120-7
{
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
}


