#u13184
{
	border-width: 0px;
	border-color: transparent;
	background-color: #EDEDED;
	border-radius: 12px;
}

#u13205
{
	border-width: 0px;
	border-color: transparent;
	background-color: #0071BC;
	border-radius: 10px 10px 0px 0px ;
}

#u13206-4
{
	background-color: transparent;
	letter-spacing: 1px;
	color: #3C3C3C;
	font-size: 14px;
	text-align: center;
	font-family: dosis, sans-serif;
	font-weight: 300;
}

#u13206-4:hover p,#u13206-4:hover span
{
	color: #FFFFFF;
	visibility: inherit;
}

#u13206
{
	font-family: dosis, sans-serif;
	font-weight: 300;
}

#buttonu13291
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
}

#buttonu13291:hover
{
	border-width: 0px;
	border-color: transparent;
	background-color: #D4BFE1;
}

#u13292-6
{
	background-color: transparent;
	text-align: center;
}

#u13292-2
{
	padding-top: 1px;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u13292-4
{
	padding-top: 1px;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u13293
{
	border-width: 0px;
	background-color: transparent;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u13293::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	box-shadow: none;
}

#u13180,#u13183,#buttonu13291.ButtonSelected,#buttonu13291:hover #u13293
{
	background-color: transparent;
}

#buttonu13291:active #u13293
{
	background-color: transparent;
}

#buttonu13303
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
}

#buttonu13303:hover
{
	border-width: 0px;
	border-color: transparent;
	background-color: #D4BFE1;
}

#u13306-6
{
	background-color: transparent;
	text-align: center;
}

#u13306-2
{
	padding-top: 1px;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u13306-4
{
	padding-top: 1px;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u13304
{
	border-width: 0px;
	background-color: transparent;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u13304::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	box-shadow: none;
}

#buttonu13291.ButtonSelected #u13293,#buttonu13303.ButtonSelected,#buttonu13303:hover #u13304
{
	background-color: transparent;
}

#buttonu13303:active #u13304
{
	background-color: transparent;
}

#buttonu13295
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
}

#buttonu13295:hover
{
	border-width: 0px;
	border-color: transparent;
	background-color: #D4BFE1;
}

#u13296-6
{
	background-color: transparent;
	text-align: center;
}

#u13296-2
{
	padding-top: 1px;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u13296-4
{
	padding-top: 1px;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u13297
{
	border-width: 0px;
	background-color: transparent;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u13297::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	box-shadow: none;
}

#buttonu13303.ButtonSelected #u13304,#buttonu13295.ButtonSelected,#buttonu13295:hover #u13297
{
	background-color: transparent;
}

#buttonu13295:active #u13297
{
	background-color: transparent;
}

#buttonu13307
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
}

#buttonu13307:hover
{
	border-width: 0px;
	border-color: transparent;
	background-color: #D4BFE1;
}

#u13310-6
{
	background-color: transparent;
	text-align: center;
}

#u13310-2
{
	padding-top: 1px;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u13310-4
{
	padding-top: 1px;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u13308
{
	border-width: 0px;
	background-color: transparent;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u13308::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	box-shadow: none;
}

#buttonu13295.ButtonSelected #u13297,#buttonu13307.ButtonSelected,#buttonu13307:hover #u13308
{
	background-color: transparent;
}

#buttonu13307:active #u13308
{
	background-color: transparent;
}

#buttonu13311
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
}

#buttonu13311:hover
{
	border-width: 0px;
	border-color: transparent;
	background-color: #D4BFE1;
}

#u13314-4
{
	background-color: transparent;
	text-align: center;
}

#u13314-2
{
	padding-top: 1px;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u13292,#u13292-3,#u13306,#u13306-3,#u13296,#u13296-3,#u13310,#u13310-3,#u13314
{
	line-height: 19px;
}

#u13312
{
	border-width: 0px;
	background-color: transparent;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u13312::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	box-shadow: none;
}

#buttonu13307.ButtonSelected #u13308,#buttonu13311.ButtonSelected,#buttonu13311:hover #u13312
{
	background-color: transparent;
}

#buttonu13311:active #u13312
{
	background-color: transparent;
}

#buttonu13311.ButtonSelected #u13312
{
	background-color: transparent;
}

.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton /* pamphlet2 */
{
	cursor: pointer;
}

