#pu6357.PamphletThumbSelected #u6357
{
	border-style: solid;
	border-width: 1px;
	border-color: #ED1C24;
}

#u14352
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	max-width: 100000px;
}

#buttonu8508
{
	border-style: solid;
	border-color: #29ABE2;
	background-color: #0071BC;
	border-radius: 0px 13px 13px 0px ;
	border-width: 0px 1px;
}

#u8509-4
{
	background-color: transparent;
	text-align: center;
}

#pbuttonu8508:hover #u8509-4 p,#pbuttonu8508:hover #u8509-4 span
{
	color: #2C2C2C;
	visibility: inherit;
}

#u8509-2
{
	padding-top: 1px;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#pbuttonu8508:hover #u8509-4 p
{
	color: #2C2C2C;
	visibility: inherit;
}

#u8510
{
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
}

#pbuttonu8508:hover #u8510
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
}

#buttonu8520
{
	border-style: solid;
	border-color: #29ABE2;
	background-color: #0071BC;
	border-width: 0px 1px;
}

#u8523-4
{
	background-color: transparent;
	text-align: center;
}

#pbuttonu8520:hover #u8523-4 p,#pbuttonu8520:hover #u8523-4 span
{
	color: #2C2C2C;
	visibility: inherit;
}

#u8523-2
{
	padding-top: 1px;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#pbuttonu8520:hover #u8523-4 p
{
	color: #2C2C2C;
	visibility: inherit;
}

#u8521
{
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
}

#pbuttonu8520:hover #u8521
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
}

#buttonu8512
{
	border-style: solid;
	border-color: #29ABE2;
	background-color: #0071BC;
	border-width: 0px 1px;
}

#u8513-4
{
	background-color: transparent;
	text-align: center;
}

#pbuttonu8512:hover #u8513-4 p,#pbuttonu8512:hover #u8513-4 span
{
	color: #2C2C2C;
	visibility: inherit;
}

#u8513-2
{
	padding-top: 1px;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#pbuttonu8512:hover #u8513-4 p
{
	color: #2C2C2C;
	visibility: inherit;
}

#u8514
{
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
}

#pbuttonu8512:hover #u8514
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
}

#buttonu8516
{
	border-style: solid;
	border-color: #29ABE2;
	background-color: #0071BC;
	border-radius: 13px 0px 0px 13px ;
	border-width: 0px 1px;
}

#pbuttonu8508:hover #buttonu8508,#pbuttonu8520:hover #buttonu8520,#pbuttonu8512:hover #buttonu8512,#pbuttonu8516:hover #buttonu8516
{
	border-width: 0px;
	border-color: transparent;
	background-color: #EDEDED;
}

#u8519-4
{
	background-color: transparent;
	text-align: center;
}

#pbuttonu8516:hover #u8519-4 p,#pbuttonu8516:hover #u8519-4 span
{
	color: #2C2C2C;
	visibility: inherit;
}

#u8519-2
{
	padding-top: 1px;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u8509,#u8523,#u8513,#u8519
{
	font-size: 13px;
	color: #E4E4E4;
	line-height: 16px;
}

#pbuttonu8516:hover #u8519-4 p
{
	color: #2C2C2C;
	visibility: inherit;
}

#pbuttonu8508.ButtonSelected #u8509-4 p,#pbuttonu8508.ButtonSelected #u8509-4 span,#pbuttonu8508.ButtonSelected #u8509-4 p,#pbuttonu8520.ButtonSelected #u8523-4 p,#pbuttonu8520.ButtonSelected #u8523-4 span,#pbuttonu8520.ButtonSelected #u8523-4 p,#pbuttonu8512.ButtonSelected #u8513-4 p,#pbuttonu8512.ButtonSelected #u8513-4 span,#pbuttonu8512.ButtonSelected #u8513-4 p,#pbuttonu8516.ButtonSelected #u8519-4 p,#pbuttonu8516.ButtonSelected #u8519-4 span,#pbuttonu8516.ButtonSelected #u8519-4 p
{
	color: #E4E4E4;
	visibility: inherit;
}

#u8517
{
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
}

#pbuttonu8516:hover #u8517
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
}

#pbuttonu8508.ButtonSelected #u8510,#pbuttonu8520.ButtonSelected #u8521,#pbuttonu8512.ButtonSelected #u8514,#pbuttonu8516.ButtonSelected #u8517
{
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
}

#u6344
{
	border-color: #000000;
	background-color: #00406D;
}

#u10480,#u14353,#u8507,#u6713,#u6357
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
}

#u6346-4
{
	border-style: solid;
	border-width: 2px;
	border-color: #ED1C24;
	background-color: transparent;
	text-align: center;
	font-size: 18px;
	color: #ED1C24;
	letter-spacing: 2px;
	line-height: 22px;
	font-family: asap, sans-serif;
	font-weight: 700;
}

#u6346-2
{
	padding-top: 6px;
}

#u6351
{
	border-style: solid;
	border-width: 2px;
	border-color: #FC6B02;
	background-color: #002B67;
}

#u6352-4,#u6710-4
{
	background-color: transparent;
	color: #FFFFFF;
	font-size: 27px;
	line-height: 32px;
	font-family: open-sans, sans-serif;
	font-weight: 300;
}

.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton /* pamphlet2 */
{
	cursor: pointer;
}

#u8195
{
	border-width: 0px;
	border-color: transparent;
	background-color: #00406D;
}

#u8195_align_to_page
{
	max-width: 960px;
}

#u8133,#u6350,#u6434,#u6422,#u6436,#u6410,#u6424,#u6412,#u6428,#u6426,#u6430,#u6420,#u6414,#u8110,#u6432,#u6418,#u6416,#u6438,#u6440,#u6442,#u6444,#u6446,#u6448,#u6450,#u6452,#u6454,#u6456,#u6458,#u6460,#u6462,#u6464,#u6468,#u8196
{
	background-color: transparent;
}

#u12015-4,#u12016-4,#u12017-4,#u12018-4
{
	border-style: solid;
	border-width: 2px;
	border-color: #FFCA00;
	background-color: transparent;
	color: #FFFFFF;
	font-size: 24px;
	line-height: 29px;
	font-family: dosis, sans-serif;
	font-weight: 300;
}

#u16123-7
{
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
}


