#menuu5615
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
}

#u5624
{
	background-color: #0071BC;
}

#u5624:hover
{
	background-color: #00406D;
}

#u5624:active
{
	background-color: #002B6D;
}

#u5627-4
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
}

#u5623,#u5616
{
	background-color: transparent;
}

#u5619
{
	background-color: #0071BC;
}

#u5619:hover
{
	background-color: #00406D;
}

#u5619:active
{
	background-color: #002B6D;
}

#u5624.MuseMenuActive,#u5619.MuseMenuActive
{
	background-color: #00616D;
}

#u5620-4
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

