#u11700
{
	background-color: #565656;
	background-color: rgba(68,68,68,0.9);
	-pie-background: rgba(68,68,68,0.9);
}

#u11701
{
	border-width: 0px;
	border-color: transparent;
	background-color: #EDEDED;
}

#u11717,#u11702
{
	border-width: 0px;
	border-color: transparent;
	background-color: #0071BC;
}

#buttonu11711
{
	border-color: #787878;
	background-color: #0071BC;
	border-radius: 10px;
}

#buttonu11711:hover
{
	background-color: #296AE2;
}

#buttonu11711.ButtonSelected
{
	background-color: #0071BC;
}

#u11712-4
{
	background-color: transparent;
	letter-spacing: 1px;
	color: #3C3C3C;
	font-size: 14px;
	text-align: center;
	font-family: dosis, sans-serif;
	font-weight: 300;
}

#buttonu11711:hover #u11712-4 p,#buttonu11711:hover #u11712-4 span
{
	color: #FFFFFF;
	visibility: inherit;
}

#buttonu11711.ButtonSelected #u11712-4 p,#buttonu11711.ButtonSelected #u11712-4 span
{
	color: #3C3C3C;
	visibility: inherit;
}

#u11712
{
	font-family: dosis, sans-serif;
	font-weight: 300;
}

#buttonu11722
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
}

#buttonu11722:hover
{
	border-width: 0px;
	border-color: transparent;
	background-color: #D4BFE1;
}

#u11725-6
{
	background-color: transparent;
	text-align: center;
}

#u11725-2
{
	padding-top: 1px;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u11725-4
{
	padding-top: 1px;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u11723
{
	border-width: 0px;
	background-color: transparent;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u11723::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	box-shadow: none;
}

#u11697,#buttonu11722.ButtonSelected,#buttonu11722:hover #u11723
{
	background-color: transparent;
}

#buttonu11722:active #u11723
{
	background-color: transparent;
}

#buttonu11707
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
}

#buttonu11707:hover
{
	border-width: 0px;
	border-color: transparent;
	background-color: #D4BFE1;
}

#u11710-6
{
	background-color: transparent;
	text-align: center;
}

#u11710-2
{
	padding-top: 1px;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u11710-4
{
	padding-top: 1px;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u11708
{
	border-width: 0px;
	background-color: transparent;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u11708::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	box-shadow: none;
}

#buttonu11722.ButtonSelected #u11723,#buttonu11707.ButtonSelected,#buttonu11707:hover #u11708
{
	background-color: transparent;
}

#buttonu11707:active #u11708
{
	background-color: transparent;
}

#buttonu11713
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
}

#buttonu11713:hover
{
	border-width: 0px;
	border-color: transparent;
	background-color: #D4BFE1;
}

#u11716-6
{
	background-color: transparent;
	text-align: center;
}

#u11716-2
{
	padding-top: 1px;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u11716-4
{
	padding-top: 1px;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u11714
{
	border-width: 0px;
	background-color: transparent;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u11714::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	box-shadow: none;
}

#buttonu11707.ButtonSelected #u11708,#buttonu11713.ButtonSelected,#buttonu11713:hover #u11714
{
	background-color: transparent;
}

#buttonu11713:active #u11714
{
	background-color: transparent;
}

#buttonu11703
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
}

#buttonu11703:hover
{
	border-width: 0px;
	border-color: transparent;
	background-color: #D4BFE1;
}

#u11706-6
{
	background-color: transparent;
	text-align: center;
}

#u11706-2
{
	padding-top: 1px;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u11706-4
{
	padding-top: 1px;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u11704
{
	border-width: 0px;
	background-color: transparent;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u11704::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	box-shadow: none;
}

#buttonu11713.ButtonSelected #u11714,#buttonu11703.ButtonSelected,#buttonu11703:hover #u11704
{
	background-color: transparent;
}

#buttonu11703:active #u11704
{
	background-color: transparent;
}

#buttonu11718
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
}

#buttonu11718:hover
{
	border-width: 0px;
	border-color: transparent;
	background-color: #D4BFE1;
}

#u11719-6
{
	background-color: transparent;
	text-align: center;
}

#u11719-2
{
	padding-top: 1px;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u11719-4
{
	padding-top: 1px;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u11720
{
	border-width: 0px;
	background-color: transparent;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u11720::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	box-shadow: none;
}

#buttonu11703.ButtonSelected #u11704,#buttonu11718.ButtonSelected,#buttonu11718:hover #u11720
{
	background-color: transparent;
}

#buttonu11718:active #u11720
{
	background-color: transparent;
}

#buttonu11814
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
}

#buttonu11814:hover
{
	border-width: 0px;
	border-color: transparent;
	background-color: #D4BFE1;
}

#u11817-4
{
	background-color: transparent;
	text-align: center;
}

#u11817-2
{
	padding-top: 1px;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u11725,#u11725-3,#u11710,#u11710-3,#u11716,#u11716-3,#u11706,#u11706-3,#u11719,#u11719-3,#u11817
{
	line-height: 19px;
}

#u11815
{
	border-width: 0px;
	background-color: transparent;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u11815::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	box-shadow: none;
}

#buttonu11718.ButtonSelected #u11720,#buttonu11814.ButtonSelected,#buttonu11814:hover #u11815
{
	background-color: transparent;
}

#buttonu11814:active #u11815
{
	background-color: transparent;
}

#buttonu11814.ButtonSelected #u11815
{
	background-color: transparent;
}

.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton /* pamphlet2 */
{
	cursor: pointer;
}

