#menuu5488
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
}

#u5497
{
	background-color: #0071BC;
}

#u5497:hover
{
	background-color: #00406D;
}

#u5497:active
{
	background-color: #002B6D;
}

#u5498-4
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
}

#u5663-4,#u5496,#u5489
{
	background-color: transparent;
}

#u5492
{
	background-color: #0071BC;
}

#u5492:hover
{
	background-color: #00406D;
}

#u5492:active
{
	background-color: #002B6D;
}

#u5497.MuseMenuActive,#u5492.MuseMenuActive
{
	background-color: #00616D;
}

#u5495-4
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

