.version.school /* version checker */
{
	color: #0000E5;
	background-color: #964032;
}

#muse_css_mq
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	min-height: 812px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: #FFFFFF;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	border-radius: 15px 15px 0px 0px ;
	width: 100%;
	max-width: 960px;
	margin-left: auto;
	margin-right: auto;
}

#pppu14091
{
	z-index: 0;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: -164px;
	width: 100%;
}

#ppu14091
{
	z-index: 0;
	width: 76.05%;
}

#pu14091
{
	z-index: 2;
	margin-right: -10000px;
	margin-top: 27px;
	width: 27.4%;
}

#u14091
{
	z-index: 2;
	height: 66px;
	position: relative;
	width: 100%;
	left: 0%;
	margin-left: 4.5%;
}

#pu3573
{
	z-index: 321;
	margin-top: 3px;
	width: 55.51%;
}

#u3573
{
	z-index: 321;
	width: 40px;
	min-height: 40px;
	position: relative;
	margin-right: -10000px;
	margin-top: 23px;
	left: 0px;
	margin-left: 49px;
}

#u14264
{
	z-index: 3;
	width: 60px;
	min-height: 64px;
	position: relative;
	margin-right: -10000px;
	left: 45.95%;
	margin-left: 44.15%;
}

#u104
{
	z-index: 4;
	position: relative;
	margin-right: -10000px;
	width: 70.83%;
	left: 29.18%;
	margin-left: 1.24%;
}

#u900
{
	z-index: 6;
	min-height: 40px;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#u900-bw
{
	z-index: 6;
	min-height: 40px;
	margin-top: 21px;
	left: 0px;
	margin-left: 0px;
}

#u7673
{
	z-index: 322;
	top: -4px;
	margin-bottom: -4px;
	position: relative;
	width: 53.86%;
	left: 0%;
	margin-left: 23.13%;
}

#pbuttonu7682
{
	z-index: 324;
	margin-right: -10000px;
	width: 24.96%;
	margin-left: 75.05%;
}

#buttonu7682
{
	z-index: 324;
	height: 70px;
	position: relative;
	margin-right: -10000px;
	width: 98.45%;
}

#pbuttonu7682:hover #buttonu7682
{
	height: 70px;
	position: relative;
	margin-right: -10000px;
	margin-top: 0px;
	min-height: 0px;
	width: 99.23%;
	left: 0%;
	margin-left: 0%;
}

#u7685-4
{
	z-index: 325;
	min-height: 24px;
	width: 78.75%;
}

#pbuttonu7682:hover #u7685-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: 17px;
	left: 17px;
	min-height: 24px;
	width: 78.75%;
}

#pbuttonu7682.ButtonSelected #u7685-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 78.75%;
}

#u7683
{
	z-index: 329;
	width: 15.75%;
}

#pbuttonu7682:hover #u7683
{
	position: relative;
	margin-right: -10000px;
	min-height: 0px;
	width: 15.75%;
	left: 46.46%;
}

#pbuttonu7682.ButtonSelected #u7683
{
	min-height: 0px;
	width: 15.75%;
}

#pbuttonu7682 #u7683
{
	position: relative;
	margin-right: -10000px;
	left: 45.67%;
}

#pbuttonu7674
{
	z-index: 333;
	margin-right: -10000px;
	width: 24.57%;
	margin-left: 50.68%;
}

#buttonu7674
{
	z-index: 333;
	height: 70px;
	position: relative;
	margin-right: -10000px;
	width: 98.43%;
}

#pbuttonu7674:hover #buttonu7674
{
	height: 70px;
	position: relative;
	margin-right: -10000px;
	margin-top: 0px;
	min-height: 0px;
	width: 99.22%;
	left: 0%;
	margin-left: 0%;
}

#u7677-4
{
	z-index: 334;
	min-height: 24px;
	width: 80%;
}

#pbuttonu7674:hover #u7677-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: 17px;
	left: 17px;
	min-height: 24px;
	width: 80%;
}

#pbuttonu7674.ButtonSelected #u7677-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 80%;
}

#pbuttonu7682 #u7685-4,#pbuttonu7674 #u7677-4
{
	position: relative;
	margin-right: -10000px;
	margin-top: 17px;
	left: 16px;
}

#u7675
{
	z-index: 338;
	width: 16%;
}

#pbuttonu7674:hover #u7675
{
	position: relative;
	margin-right: -10000px;
	min-height: 0px;
	width: 16%;
	left: 42.4%;
}

#pbuttonu7674.ButtonSelected #u7675
{
	min-height: 0px;
	width: 16%;
}

#pbuttonu7674 #u7675
{
	position: relative;
	margin-right: -10000px;
	left: 41.6%;
}

#pbuttonu7678
{
	z-index: 342;
	margin-right: -10000px;
	width: 25.73%;
	margin-left: 25.15%;
}

#buttonu7678
{
	z-index: 342;
	height: 70px;
	position: relative;
	margin-right: -10000px;
	width: 98.5%;
}

#pbuttonu7678:hover #buttonu7678
{
	height: 70px;
	position: relative;
	margin-right: -10000px;
	margin-top: 0px;
	min-height: 0px;
	width: 99.25%;
	left: 0%;
	margin-left: 0%;
}

#u7681-4
{
	z-index: 343;
	min-height: 24px;
	width: 76.34%;
}

#pbuttonu7678:hover #u7681-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: 17px;
	left: 16px;
	min-height: 24px;
	width: 76.34%;
}

#pbuttonu7678.ButtonSelected #u7681-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 76.34%;
}

#pbuttonu7678 #u7681-4
{
	position: relative;
	margin-right: -10000px;
	margin-top: 17px;
	left: 15px;
}

#u7679
{
	z-index: 347;
	width: 15.27%;
}

#pbuttonu7678:hover #u7679
{
	position: relative;
	margin-right: -10000px;
	min-height: 0px;
	width: 15.27%;
	left: 42.75%;
}

#pbuttonu7678.ButtonSelected #u7679
{
	min-height: 0px;
	width: 15.27%;
}

#pbuttonu7678 #u7679
{
	position: relative;
	margin-right: -10000px;
	left: 41.99%;
}

#pbuttonu7686
{
	z-index: 351;
	margin-right: -10000px;
	width: 25.34%;
}

#buttonu7686
{
	z-index: 351;
	height: 70px;
	position: relative;
	margin-right: -10000px;
	width: 98.48%;
}

#pbuttonu7686:hover #buttonu7686
{
	height: 70px;
	position: relative;
	margin-right: -10000px;
	margin-top: 0px;
	min-height: 0px;
	width: 99.24%;
	left: 0%;
	margin-left: 0%;
}

#u7689-4
{
	z-index: 352;
	min-height: 24px;
	width: 77.52%;
}

#pbuttonu7686:hover #u7689-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: 17px;
	left: 7px;
	min-height: 24px;
	width: 77.52%;
}

#pbuttonu7686.ButtonSelected #u7689-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 77.52%;
}

#pbuttonu7686 #u7689-4
{
	position: relative;
	margin-right: -10000px;
	margin-top: 17px;
	left: 6px;
}

#u7687
{
	z-index: 356;
	width: 15.51%;
}

#pbuttonu7686:hover #u7687
{
	position: relative;
	margin-right: -10000px;
	min-height: 0px;
	width: 15.51%;
	left: 43.42%;
}

#pbuttonu7686.ButtonSelected #u7687
{
	min-height: 0px;
	width: 15.51%;
}

#pbuttonu7686 #u7687
{
	position: relative;
	margin-right: -10000px;
	left: 42.64%;
}

#pu8932
{
	z-index: 26;
	margin-top: 7px;
	width: 95.63%;
}

#u8932
{
	z-index: 26;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	width: 27.35%;
	left: 36.72%;
	margin-left: 2.4%;
}

#u3545-293
{
	z-index: 28;
	min-height: 461px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 28px;
	width: 100%;
	left: 0%;
	margin-left: 2.4%;
}

#u3545-30 > li:before
{
	content: '-';
}

#u3545-43
{
	font-size: 16px;
	line-height: 19px;
	color: #C81600;
	font-weight: bold;
}

#u3545-42
{
	text-decoration: underline;
}

#u3545-5,#u3545-8,#u3545-10,#u3545-12,#u3545-15,#u3545-19,#u3545-24,#u3545-26,#u3545-28,#u3545-31,#u3545-33,#u3545-36,#u3545-38,#u3545-44,#u3545-47,#u3545-54,#u3545-57,#u3545-59
{
	font-weight: normal;
}

#u3545,#u3545-2,#u3545-3,#u3545-4,#u3545-6,#u3545-7,#u3545-9,#u3545-11,#u3545-14,#u3545-17,#u3545-18,#u3545-20,#u3545-21,#u3545-22,#u3545-23,#u3545-27,#u3545-29,#u3545-32,#u3545-35,#u3545-37,#u3545-40,#u3545-41,#u3545-46,#u3545-49,#u3545-50,#u3545-51,#u3545-52,#u3545-53,#u3545-55,#u3545-56,#u3545-58,#u3545-60,#u3545-61,#u3545-63,#u3545-80,#u3545-94
{
	font-weight: bold;
}

#pamphletu12829
{
	z-index: 366;
	position: relative;
	margin-right: -10000px;
	width: 27.56%;
	margin-left: 38.51%;
	left: 3px;
}

#u12834
{
	position: absolute;
	width: 314px;
	height: 621px;
	margin-left: 50%;
	left: -309.5px;
}

#u12834popup
{
	z-index: 367;
	margin-top: 54px;
	width: 314px;
	height: 621px;
	margin-right: -10000px;
	margin-left: 50%;
}

#u12835
{
	z-index: 368;
	width: 314px;
	height: 504px;
	padding-bottom: 117px;
	margin-right: -10000px;
	position: relative;
	margin-left: 50%;
	left: -157px;
}

#pu12840
{
	z-index: 404;
	width: 100%;
}

#u12840
{
	z-index: 404;
	width: 314px;
	height: 94px;
	position: relative;
	margin-right: -10000px;
	left: 0px;
	margin-left: 0px;
}

#u12931-4
{
	z-index: 405;
	min-height: 23px;
	position: relative;
	margin-right: -10000px;
	margin-top: 34px;
	width: 37.9%;
	left: 33.13%;
	margin-left: 0%;
}

#u12931-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 37.9%;
	margin: 34px -10000px 0px 0%;
}

#buttonu12853
{
	z-index: 369;
	width: 313px;
	height: 58px;
	padding-bottom: 24px;
	position: relative;
}

#buttonu12853:hover
{
	width: 313px;
	height: 58px;
	min-height: 0px;
	margin: 0px;
}

#u12854-4
{
	z-index: 370;
	width: 122px;
	min-height: 24px;
	position: relative;
	margin-right: -10000px;
	margin-top: 34px;
	left: 96px;
}

#buttonu12853:hover #u12854-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 122px;
	margin: 34px -10000px 0px 0px;
}

#u12855
{
	z-index: 374;
	width: 17px;
	position: relative;
	margin-right: -10000px;
	margin-top: 24px;
	left: 296px;
}

#buttonu12853:hover #u12855
{
	width: 17px;
	min-height: 0px;
	margin: 24px -10000px 0px 0px;
}

#buttonu12853:active #u12855
{
	width: 17px;
	min-height: 0px;
	margin: 24px -10000px 0px 0px;
}

#buttonu12849
{
	z-index: 383;
	width: 313px;
	height: 58px;
	padding-bottom: 24px;
	position: relative;
}

#buttonu12853.ButtonSelected,#buttonu12849:hover
{
	width: 313px;
	height: 58px;
	min-height: 0px;
	margin: 0px;
}

#u12852-4
{
	z-index: 384;
	width: 140px;
	min-height: 24px;
	position: relative;
	margin-right: -10000px;
	margin-top: 34px;
	left: 91px;
}

#buttonu12849:hover #u12852-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 140px;
	margin: 34px -10000px 0px 0px;
}

#buttonu12849.ButtonSelected #u12852-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 140px;
	margin: 34px -10000px 0px 0px;
}

#u12850
{
	z-index: 388;
	width: 17px;
	position: relative;
	margin-right: -10000px;
	margin-top: 24px;
	left: 296px;
}

#buttonu12853.ButtonSelected #u12855,#buttonu12849:hover #u12850
{
	width: 17px;
	min-height: 0px;
	margin: 24px -10000px 0px 0px;
}

#buttonu12849:active #u12850
{
	width: 17px;
	min-height: 0px;
	margin: 24px -10000px 0px 0px;
}

#buttonu12845
{
	z-index: 390;
	width: 313px;
	height: 58px;
	padding-bottom: 24px;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
}

#buttonu12845:hover
{
	width: 313px;
	height: 58px;
	min-height: 0px;
	margin: 0px 0px -1px;
}

#buttonu12845.ButtonSelected
{
	width: 313px;
	height: 58px;
	min-height: 0px;
	margin: 0px 0px -1px;
}

#u12848-4
{
	z-index: 391;
	width: 122px;
	min-height: 24px;
	position: relative;
	margin-right: -10000px;
	margin-top: 34px;
	left: 96px;
}

#buttonu12853.ButtonSelected #u12854-4,#buttonu12845:hover #u12848-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 122px;
	margin: 34px -10000px 0px 0px;
}

#u12846
{
	z-index: 395;
	width: 17px;
	position: relative;
	margin-right: -10000px;
	margin-top: 24px;
	left: 296px;
}

#buttonu12849.ButtonSelected #u12850,#buttonu12845:hover #u12846
{
	width: 17px;
	min-height: 0px;
	margin: 24px -10000px 0px 0px;
}

#buttonu12845:active #u12846
{
	width: 17px;
	min-height: 0px;
	margin: 24px -10000px 0px 0px;
}

#buttonu12841
{
	z-index: 376;
	width: 313px;
	height: 58px;
	padding-bottom: 24px;
	position: relative;
}

#buttonu12849.ButtonSelected,#buttonu12841:hover
{
	width: 313px;
	height: 58px;
	min-height: 0px;
	margin: 0px;
}

#buttonu12841.ButtonSelected
{
	width: 313px;
	height: 58px;
	min-height: 0px;
	margin: 0px;
}

#u12842-4
{
	z-index: 377;
	width: 122px;
	min-height: 24px;
	position: relative;
	margin-right: -10000px;
	margin-top: 34px;
	left: 96px;
}

#buttonu12845.ButtonSelected #u12848-4,#buttonu12841:hover #u12842-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 122px;
	margin: 34px -10000px 0px 0px;
}

#u12843
{
	z-index: 381;
	width: 17px;
	position: relative;
	margin-right: -10000px;
	margin-top: 24px;
	left: 296px;
}

#buttonu12845.ButtonSelected #u12846,#buttonu12841:hover #u12843
{
	width: 17px;
	min-height: 0px;
	margin: 24px -10000px 0px 0px;
}

#buttonu12841:active #u12843
{
	width: 17px;
	min-height: 0px;
	margin: 24px -10000px 0px 0px;
}

#buttonu12836
{
	z-index: 397;
	width: 313px;
	height: 58px;
	padding-bottom: 24px;
	margin-top: 1px;
	position: relative;
}

#buttonu12836:hover
{
	width: 313px;
	height: 58px;
	min-height: 0px;
	margin: 1px 0px 0px;
}

#buttonu12836.ButtonSelected
{
	width: 313px;
	height: 58px;
	min-height: 0px;
	margin: 1px 0px 0px;
}

#u12839-4
{
	z-index: 398;
	width: 122px;
	min-height: 24px;
	position: relative;
	margin-right: -10000px;
	margin-top: 34px;
	left: 96px;
}

#buttonu12841.ButtonSelected #u12842-4,#buttonu12836:hover #u12839-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 122px;
	margin: 34px -10000px 0px 0px;
}

#buttonu12836.ButtonSelected #u12839-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 122px;
	margin: 34px -10000px 0px 0px;
}

#u12837
{
	z-index: 402;
	width: 17px;
	position: relative;
	margin-right: -10000px;
	margin-top: 24px;
	left: 296px;
}

#buttonu12841.ButtonSelected #u12843,#buttonu12836:hover #u12837
{
	width: 17px;
	min-height: 0px;
	margin: 24px -10000px 0px 0px;
}

#buttonu12836:active #u12837
{
	width: 17px;
	min-height: 0px;
	margin: 24px -10000px 0px 0px;
}

#buttonu12836.ButtonSelected #u12837
{
	width: 17px;
	min-height: 0px;
	margin: 24px -10000px 0px 0px;
}

#u12859
{
	z-index: 409;
	position: relative;
	margin-right: -10000px;
	width: 100%;
}

#u12860
{
	position: absolute;
	height: 62px;
	width: 100%;
}

.ie #u12860
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u12860popup
{
	height: 62px;
	margin-right: -10000px;
	width: 100%;
}

.css_verticalspacer .verticalspacer
{
	height: calc(100vh - 3118px);
}

#u6883
{
	z-index: 7;
	min-height: 304px;
}

#u6883_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	position: relative;
	padding-top: 42px;
	padding-bottom: 22px;
}

#u6898
{
	z-index: 8;
	position: relative;
	width: 18.55%;
	left: 6.05%;
}

#pu11932-4
{
	z-index: 10;
	margin-top: 17px;
	position: relative;
	width: 100%;
}

#u11932-4
{
	z-index: 10;
	min-height: 39px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	width: 13.03%;
	left: 23.13%;
}

#u11933-4
{
	z-index: 14;
	min-height: 39px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	width: 13.03%;
	left: 39.07%;
}

#u11934-4
{
	z-index: 18;
	min-height: 39px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	width: 13.03%;
	left: 54.48%;
}

#u11935-4
{
	z-index: 22;
	min-height: 39px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	width: 13.03%;
	left: 70%;
}

#u16117-7
{
	z-index: 359;
	min-height: 54px;
	margin-top: 80px;
	position: relative;
	width: 95.94%;
	left: 2.19%;
}

#u6883-bw
{
	z-index: 7;
	min-height: 304px;
	margin-bottom: -240px;
	margin-top: -1px;
}

.html
{
	background-color: #00406D;
}

body
{
	position: relative;
	min-width: 240px;
	padding-top: 155px;
	padding-bottom: 35px;
}

.verticalspacer
{
	min-height: 1px;
}

#u104_img,#u7683_img,#u7675_img,#u7679_img,#u7687_img,#u8932_img,#u6898_img
{
	width: 100%;
}

