.version.takehomes /* version checker */
{
	color: #000014;
	background-color: #630F02;
}

#muse_css_mq
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	min-height: 892px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: #FFFFFF;
	border-radius: 15px 15px 0px 0px ;
	width: 100%;
	max-width: 960px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -164px;
	margin-bottom: -16px;
	width: 100%;
}

#pu3573
{
	z-index: 90;
	width: 100%;
}

#u3573
{
	z-index: 90;
	width: 40px;
	min-height: 40px;
	position: relative;
	margin-right: -10000px;
	margin-top: 119px;
	left: 49px;
}

#u104
{
	z-index: 2;
	position: relative;
	margin-right: -10000px;
	width: 53.86%;
	left: 23.13%;
}

#u900
{
	z-index: 4;
	min-height: 40px;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#u900-bw
{
	z-index: 4;
	min-height: 40px;
	margin-top: 21px;
}

#u7673
{
	z-index: 91;
	top: -4px;
	margin-bottom: -4px;
	position: relative;
	width: 53.86%;
	margin-left: 23.13%;
}

#pbuttonu7682
{
	z-index: 93;
	margin-right: -10000px;
	width: 24.96%;
	margin-left: 75.05%;
}

#buttonu7682
{
	z-index: 93;
	height: 70px;
	position: relative;
	margin-right: -10000px;
	width: 98.45%;
}

#pbuttonu7682:hover #buttonu7682
{
	height: 70px;
	position: relative;
	margin-right: -10000px;
	margin-top: 0px;
	min-height: 0px;
	width: 99.23%;
	left: 0%;
	margin-left: 0%;
}

#u7685-4
{
	z-index: 94;
	min-height: 24px;
	width: 78.75%;
}

#pbuttonu7682:hover #u7685-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: 17px;
	left: 17px;
	min-height: 24px;
	width: 78.75%;
}

#pbuttonu7682.ButtonSelected #u7685-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 78.75%;
}

#pbuttonu7682 #u7685-4
{
	position: relative;
	margin-right: -10000px;
	margin-top: 17px;
	left: 16px;
	width: 78.75%;
}

#u7683
{
	z-index: 98;
	width: 15.75%;
}

#pbuttonu7682:hover #u7683
{
	position: relative;
	margin-right: -10000px;
	min-height: 0px;
	width: 15.75%;
	left: 46.46%;
}

#pbuttonu7682.ButtonSelected #u7683
{
	min-height: 0px;
	width: 15.75%;
}

#pbuttonu7682 #u7683
{
	position: relative;
	margin-right: -10000px;
	width: 15.75%;
	left: 45.67%;
}

#pbuttonu7674
{
	z-index: 102;
	margin-right: -10000px;
	width: 24.57%;
	margin-left: 50.68%;
}

#buttonu7674
{
	z-index: 102;
	height: 70px;
	position: relative;
	margin-right: -10000px;
	width: 98.43%;
}

#pbuttonu7674:hover #buttonu7674
{
	height: 70px;
	position: relative;
	margin-right: -10000px;
	margin-top: 0px;
	min-height: 0px;
	width: 99.22%;
	left: 0%;
	margin-left: 0%;
}

#u7677-4
{
	z-index: 103;
	min-height: 24px;
	width: 80%;
}

#pbuttonu7674:hover #u7677-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: 17px;
	left: 17px;
	min-height: 24px;
	width: 80%;
}

#pbuttonu7674.ButtonSelected #u7677-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 80%;
}

#pbuttonu7674 #u7677-4
{
	position: relative;
	margin-right: -10000px;
	margin-top: 17px;
	left: 16px;
	width: 80%;
}

#u7675
{
	z-index: 107;
	width: 16%;
}

#pbuttonu7674:hover #u7675
{
	position: relative;
	margin-right: -10000px;
	min-height: 0px;
	width: 16%;
	left: 42.4%;
}

#pbuttonu7674.ButtonSelected #u7675
{
	min-height: 0px;
	width: 16%;
}

#pbuttonu7674 #u7675
{
	position: relative;
	margin-right: -10000px;
	width: 16%;
	left: 41.6%;
}

#pbuttonu7678
{
	z-index: 111;
	margin-right: -10000px;
	width: 25.73%;
	margin-left: 25.15%;
}

#buttonu7678
{
	z-index: 111;
	height: 70px;
	position: relative;
	margin-right: -10000px;
	width: 98.5%;
}

#pbuttonu7678:hover #buttonu7678
{
	height: 70px;
	position: relative;
	margin-right: -10000px;
	margin-top: 0px;
	min-height: 0px;
	width: 99.25%;
	left: 0%;
	margin-left: 0%;
}

#u7681-4
{
	z-index: 112;
	min-height: 24px;
	width: 76.34%;
}

#pbuttonu7678:hover #u7681-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: 17px;
	left: 16px;
	min-height: 24px;
	width: 76.34%;
}

#pbuttonu7678.ButtonSelected #u7681-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 76.34%;
}

#pbuttonu7678 #u7681-4
{
	position: relative;
	margin-right: -10000px;
	margin-top: 17px;
	left: 15px;
	width: 76.34%;
}

#u7679
{
	z-index: 116;
	width: 15.27%;
}

#pbuttonu7678:hover #u7679
{
	position: relative;
	margin-right: -10000px;
	min-height: 0px;
	width: 15.27%;
	left: 42.75%;
}

#pbuttonu7678.ButtonSelected #u7679
{
	min-height: 0px;
	width: 15.27%;
}

#pbuttonu7678 #u7679
{
	position: relative;
	margin-right: -10000px;
	width: 15.27%;
	left: 41.99%;
}

#pbuttonu7686
{
	z-index: 120;
	margin-right: -10000px;
	width: 25.34%;
}

#buttonu7686
{
	z-index: 120;
	height: 70px;
	position: relative;
	margin-right: -10000px;
	width: 98.48%;
}

#pbuttonu7686:hover #buttonu7686
{
	height: 70px;
	position: relative;
	margin-right: -10000px;
	margin-top: 0px;
	min-height: 0px;
	width: 99.24%;
	left: 0%;
	margin-left: 0%;
}

#u7689-4
{
	z-index: 121;
	min-height: 24px;
	width: 77.52%;
}

#pbuttonu7686:hover #u7689-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: 17px;
	left: 7px;
	min-height: 24px;
	width: 77.52%;
}

#pbuttonu7686.ButtonSelected #u7689-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 77.52%;
}

#pbuttonu7686 #u7689-4
{
	position: relative;
	margin-right: -10000px;
	margin-top: 17px;
	left: 6px;
	width: 77.52%;
}

#u7687
{
	z-index: 125;
	width: 15.51%;
}

#pbuttonu7686:hover #u7687
{
	position: relative;
	margin-right: -10000px;
	min-height: 0px;
	width: 15.51%;
	left: 43.42%;
}

#pbuttonu7686.ButtonSelected #u7687
{
	min-height: 0px;
	width: 15.51%;
}

#pbuttonu7686 #u7687
{
	position: relative;
	margin-right: -10000px;
	width: 15.51%;
	left: 42.64%;
}

#pu11624-66
{
	z-index: 24;
	margin-top: 10px;
	width: 100%;
}

#u11624-66
{
	z-index: 24;
	min-height: 404px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	width: 95%;
	left: 2.71%;
}

#u11624-24
{
	font-size: 16px;
	line-height: 19px;
	font-weight: bold;
}

#u11624-23
{
	text-decoration: underline;
}

#u11697
{
	z-index: 128;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
	width: 26.15%;
	left: 37.3%;
}

#pamphletu11699
{
	z-index: 130;
	width: 0.01px;
	height: 72px;
	position: relative;
	margin-right: -10000px;
	left: 37.19%;
}

#u11700
{
	position: absolute;
	width: 359px;
	padding-bottom: 44px;
	top: -1px;
	left: -295px;
}

#u11700popup
{
	z-index: 131;
}

#u11701
{
	z-index: 132;
	width: 315px;
	height: 1339px;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#ppu11717
{
	z-index: 0;
	width: 0.01px;
	margin-right: -10000px;
}

#pu11717
{
	z-index: 133;
	width: 0.01px;
}

#u11717
{
	z-index: 133;
	width: 314px;
	height: 94px;
	position: relative;
	margin-right: -10000px;
}

#u11702
{
	z-index: 179;
	width: 314px;
	height: 94px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 1px;
}

#buttonu11722
{
	z-index: 134;
	width: 313px;
	padding-bottom: 10px;
	margin-left: 1px;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
}

#buttonu11722:hover
{
	width: 313px;
	min-height: 0px;
	margin: 0px 0px -1px 1px;
}

#buttonu11722.ButtonSelected
{
	width: 313px;
	min-height: 0px;
	margin: 0px 0px -1px 1px;
}

#u11725-6
{
	z-index: 135;
	width: 122px;
	min-height: 24px;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 96px;
}

#buttonu11722:hover #u11725-6
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 122px;
	margin: 7px -10000px 0px 0px;
}

#u11723
{
	z-index: 141;
	width: 17px;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 295px;
}

#buttonu11722:hover #u11723
{
	width: 17px;
	min-height: 0px;
	margin: 10px -10000px 0px 0px;
}

#buttonu11722:active #u11723
{
	width: 17px;
	min-height: 0px;
	margin: 10px -10000px 0px 0px;
}

#buttonu11722.ButtonSelected #u11723
{
	width: 17px;
	min-height: 0px;
	margin: 10px -10000px 0px 0px;
}

#buttonu11707
{
	z-index: 152;
	width: 313px;
	padding-bottom: 9px;
	margin-left: 1px;
	position: relative;
}

#buttonu11707:hover
{
	width: 313px;
	min-height: 0px;
	margin: 0px 0px 0px 1px;
}

#u11710-6
{
	z-index: 153;
	width: 173px;
	min-height: 24px;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 74px;
}

#buttonu11707:hover #u11710-6
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 173px;
	margin: 8px -10000px 0px 0px;
}

#buttonu11707.ButtonSelected #u11710-6
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 173px;
	margin: 8px -10000px 0px 0px;
}

#u11708
{
	z-index: 159;
	width: 17px;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 295px;
}

#buttonu11707:hover #u11708
{
	width: 17px;
	min-height: 0px;
	margin: 12px -10000px 0px 0px;
}

#buttonu11707:active #u11708
{
	width: 17px;
	min-height: 0px;
	margin: 12px -10000px 0px 0px;
}

#buttonu11707.ButtonSelected #u11708
{
	width: 17px;
	min-height: 0px;
	margin: 12px -10000px 0px 0px;
}

#buttonu11713
{
	z-index: 161;
	width: 313px;
	padding-bottom: 10px;
	margin-left: 1px;
	position: relative;
}

#buttonu11707.ButtonSelected,#buttonu11713:hover
{
	width: 313px;
	min-height: 0px;
	margin: 0px 0px 0px 1px;
}

#u11716-6
{
	z-index: 162;
	width: 122px;
	min-height: 24px;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 96px;
}

#buttonu11722.ButtonSelected #u11725-6,#buttonu11713:hover #u11716-6
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 122px;
	margin: 7px -10000px 0px 0px;
}

#u11714
{
	z-index: 168;
	width: 17px;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 295px;
}

#buttonu11713:hover #u11714
{
	width: 17px;
	min-height: 0px;
	margin: 11px -10000px 0px 0px;
}

#buttonu11713:active #u11714
{
	width: 17px;
	min-height: 0px;
	margin: 11px -10000px 0px 0px;
}

#buttonu11703
{
	z-index: 143;
	width: 313px;
	padding-bottom: 10px;
	margin-left: 1px;
	position: relative;
}

#buttonu11713.ButtonSelected,#buttonu11703:hover
{
	width: 313px;
	min-height: 0px;
	margin: 0px 0px 0px 1px;
}

#u11706-6
{
	z-index: 144;
	width: 122px;
	min-height: 24px;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 96px;
}

#buttonu11713.ButtonSelected #u11716-6,#buttonu11703:hover #u11706-6
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 122px;
	margin: 7px -10000px 0px 0px;
}

#u11704
{
	z-index: 150;
	width: 17px;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 295px;
}

#buttonu11703:hover #u11704
{
	width: 17px;
	min-height: 0px;
	margin: 9px -10000px 0px 0px;
}

#buttonu11703:active #u11704
{
	width: 17px;
	min-height: 0px;
	margin: 9px -10000px 0px 0px;
}

#buttonu11718
{
	z-index: 170;
	width: 313px;
	padding-bottom: 10px;
	margin-left: 1px;
	position: relative;
}

#buttonu11703.ButtonSelected,#buttonu11718:hover
{
	width: 313px;
	min-height: 0px;
	margin: 0px 0px 0px 1px;
}

#u11719-6
{
	z-index: 171;
	width: 122px;
	min-height: 24px;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 96px;
}

#buttonu11703.ButtonSelected #u11706-6,#buttonu11718:hover #u11719-6
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 122px;
	margin: 7px -10000px 0px 0px;
}

#u11720
{
	z-index: 177;
	width: 17px;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 296px;
}

#buttonu11713.ButtonSelected #u11714,#buttonu11718:hover #u11720
{
	width: 17px;
	min-height: 0px;
	margin: 11px -10000px 0px 0px;
}

#buttonu11718:active #u11720
{
	width: 17px;
	min-height: 0px;
	margin: 11px -10000px 0px 0px;
}

#buttonu11718.ButtonSelected #u11720
{
	width: 17px;
	min-height: 0px;
	margin: 11px -10000px 0px 0px;
}

#buttonu11814
{
	z-index: 185;
	width: 313px;
	padding-bottom: 11px;
	margin-left: 1px;
	position: relative;
}

#buttonu11718.ButtonSelected,#buttonu11814:hover
{
	width: 313px;
	min-height: 0px;
	margin: 0px 0px 0px 1px;
}

#buttonu11814.ButtonSelected
{
	width: 313px;
	min-height: 0px;
	margin: 0px 0px 0px 1px;
}

#u11817-4
{
	z-index: 186;
	width: 122px;
	min-height: 24px;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 96px;
}

#buttonu11718.ButtonSelected #u11719-6,#buttonu11814:hover #u11817-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 122px;
	margin: 7px -10000px 0px 0px;
}

#buttonu11814.ButtonSelected #u11817-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 122px;
	margin: 7px -10000px 0px 0px;
}

#u11815
{
	z-index: 190;
	width: 17px;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 296px;
}

#buttonu11703.ButtonSelected #u11704,#buttonu11814:hover #u11815
{
	width: 17px;
	min-height: 0px;
	margin: 9px -10000px 0px 0px;
}

#buttonu11814:active #u11815
{
	width: 17px;
	min-height: 0px;
	margin: 9px -10000px 0px 0px;
}

#buttonu11814.ButtonSelected #u11815
{
	width: 17px;
	min-height: 0px;
	margin: 9px -10000px 0px 0px;
}

#buttonu11711
{
	z-index: 180;
	padding-bottom: 11px;
	position: relative;
	margin-right: -10000px;
	margin-top: 26px;
	width: 73.34%;
	left: 14.29%;
}

#buttonu11711:hover
{
	min-height: 0px;
	width: 73.34%;
	margin: 26px -10000px 0px 0%;
}

#buttonu11711.ButtonSelected
{
	min-height: 0px;
	width: 73.34%;
	margin: 26px -10000px 0px 0%;
}

#u11712-4
{
	z-index: 181;
	min-height: 23px;
	position: relative;
	margin-right: -10000px;
	margin-top: 16px;
	width: 51.52%;
	left: 24.25%;
}

#buttonu11711:hover #u11712-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 51.52%;
	margin: 16px -10000px 0px 0%;
}

#buttonu11711.ButtonSelected #u11712-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 51.52%;
	margin: 16px -10000px 0px 0%;
}

#u11730
{
	z-index: 192;
	width: 253px;
	position: relative;
	margin-right: -10000px;
}

#u11731
{
	position: absolute;
	width: 253px;
	height: 72px;
}

.ie #u11731
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

.css_verticalspacer .verticalspacer
{
	height: calc(100vh - 1268px);
}

#u6883
{
	z-index: 5;
	min-height: 211px;
	padding-bottom: 93px;
}

#u6883_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	position: relative;
}

#pu6898
{
	z-index: 6;
	margin-right: -10000px;
	margin-top: 103px;
	width: 30.53%;
	margin-left: 3.55%;
}

#u6898
{
	z-index: 6;
	position: relative;
	width: 60.76%;
}

#u11932-4
{
	z-index: 8;
	min-height: 39px;
	margin-top: 17px;
	position: relative;
	width: 42.67%;
	margin-left: 55.98%;
}

#u11933-4
{
	z-index: 12;
	min-height: 39px;
	position: relative;
	margin-right: -10000px;
	margin-top: 167px;
	width: 13.03%;
	left: 36.57%;
}

#u11934-4
{
	z-index: 16;
	min-height: 39px;
	position: relative;
	margin-right: -10000px;
	margin-top: 167px;
	width: 13.03%;
	left: 51.98%;
}

#u11935-4
{
	z-index: 20;
	min-height: 39px;
	position: relative;
	margin-right: -10000px;
	margin-top: 167px;
	width: 13.03%;
	left: 67.5%;
}

#u6883-bw
{
	z-index: 5;
	min-height: 211px;
	margin-top: 200px;
}

.html
{
	background-color: #00406D;
}

body
{
	position: relative;
	min-width: 240px;
	padding-top: 155px;
	padding-bottom: 12px;
}

#u104_img,#u7683_img,#u7675_img,#u7679_img,#u7687_img,#u11697_img,#u6898_img
{
	width: 100%;
}

