.version.troll /* version checker */
{
	color: #0000F7;
	background-color: #3ED5AB;
}

#page
{
	z-index: 1;
	min-height: 574px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	width: 100%;
	max-width: 960px;
	margin-left: auto;
	margin-right: auto;
}

#u10429-3
{
	z-index: 187;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1239px;
	width: 0.94%;
	left: -18.13%;
}

#pu15782
{
	z-index: 191;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: -47px;
	width: 100.11%;
}

#u15784
{
	z-index: 193;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	width: 99.69%;
	left: 0.11%;
}

#menuu15788
{
	z-index: 197;
	width: 517px;
	height: 22px;
	position: relative;
	margin-right: -10000px;
	margin-top: 117px;
	left: 22px;
}

#u15796
{
	width: 86px;
	min-height: 21px;
	padding-bottom: 1px;
	position: relative;
	margin-right: -10000px;
}

#u15799
{
	width: 86px;
	padding-bottom: 1px;
	position: relative;
}

#u15799:hover
{
	width: 85px;
	min-height: 0px;
	margin: 0px -1px -1px 0px;
}

#u15799:active
{
	width: 85px;
	min-height: 0px;
	margin: 0px -1px -1px 0px;
}

#u15801-4
{
	width: 82px;
	min-height: 16px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	position: relative;
	margin-right: -10000px;
}

#u15799:hover #u15801-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 82px;
	margin: 0px -10000px 0px 0px;
}

#u15799:active #u15801-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 82px;
	margin: 0px -10000px 0px 0px;
}

#u15803
{
	width: 86px;
	min-height: 21px;
	padding-bottom: 1px;
	position: relative;
	margin-right: -10000px;
	left: 86px;
}

#u15806
{
	width: 86px;
	padding-bottom: 1px;
	position: relative;
}

#u15806:hover
{
	width: 85px;
	min-height: 0px;
	margin: 0px -1px -1px 0px;
}

#u15806:active
{
	width: 85px;
	min-height: 0px;
	margin: 0px -1px -1px 0px;
}

#u15809-4
{
	width: 82px;
	min-height: 16px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	position: relative;
	margin-right: -10000px;
}

#u15799.MuseMenuActive #u15801-4,#u15806:hover #u15809-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 82px;
	margin: 0px -10000px 0px 0px;
}

#u15806:active #u15809-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 82px;
	margin: 0px -10000px 0px 0px;
}

#u15789
{
	width: 86px;
	min-height: 21px;
	padding-bottom: 1px;
	position: relative;
	margin-right: -10000px;
	left: 172px;
}

#u15790
{
	width: 86px;
	padding-bottom: 1px;
	position: relative;
}

#u15790:hover
{
	width: 85px;
	min-height: 0px;
	margin: 0px -1px -1px 0px;
}

#u15790:active
{
	width: 85px;
	min-height: 0px;
	margin: 0px -1px -1px 0px;
}

#u15793-4
{
	width: 82px;
	min-height: 16px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	position: relative;
	margin-right: -10000px;
}

#u15806.MuseMenuActive #u15809-4,#u15790:hover #u15793-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 82px;
	margin: 0px -10000px 0px 0px;
}

#u15790:active #u15793-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 82px;
	margin: 0px -10000px 0px 0px;
}

#u15810
{
	width: 86px;
	min-height: 21px;
	padding-bottom: 1px;
	position: relative;
	margin-right: -10000px;
	left: 258px;
}

#u15811
{
	width: 86px;
	padding-bottom: 1px;
	position: relative;
}

#u15811:hover
{
	width: 85px;
	min-height: 0px;
	margin: 0px -1px -1px 0px;
}

#u15811:active
{
	width: 85px;
	min-height: 0px;
	margin: 0px -1px -1px 0px;
}

#u15814-4
{
	width: 82px;
	min-height: 16px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	position: relative;
	margin-right: -10000px;
}

#u15790.MuseMenuActive #u15793-4,#u15811:hover #u15814-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 82px;
	margin: 0px -10000px 0px 0px;
}

#u15811:active #u15814-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 82px;
	margin: 0px -10000px 0px 0px;
}

#u15817
{
	width: 86px;
	min-height: 21px;
	padding-bottom: 1px;
	position: relative;
	margin-right: -10000px;
	left: 344px;
}

#u15820
{
	width: 86px;
	padding-bottom: 1px;
	position: relative;
}

#u15820:hover
{
	width: 85px;
	min-height: 0px;
	margin: 0px -1px -1px 0px;
}

#u15820:active
{
	width: 85px;
	min-height: 0px;
	margin: 0px -1px -1px 0px;
}

#u15799.MuseMenuActive,#u15806.MuseMenuActive,#u15790.MuseMenuActive,#u15811.MuseMenuActive,#u15820.MuseMenuActive
{
	width: 86px;
	min-height: 0px;
	margin: 0px;
}

#u15821-4
{
	width: 82px;
	min-height: 16px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	position: relative;
	margin-right: -10000px;
}

#u15811.MuseMenuActive #u15814-4,#u15820:hover #u15821-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 82px;
	margin: 0px -10000px 0px 0px;
}

#u15820:active #u15821-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 82px;
	margin: 0px -10000px 0px 0px;
}

#u15820.MuseMenuActive #u15821-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 82px;
	margin: 0px -10000px 0px 0px;
}

#u15932
{
	width: 87px;
	min-height: 21px;
	padding-bottom: 1px;
	position: relative;
	margin-right: -10000px;
	left: 430px;
}

#u15933
{
	width: 87px;
	padding-bottom: 1px;
	position: relative;
}

#u15933:hover
{
	width: 86px;
	min-height: 0px;
	margin: 0px -1px -1px 0px;
}

#u15933:active
{
	width: 86px;
	min-height: 0px;
	margin: 0px -1px -1px 0px;
}

#u15933.MuseMenuActive
{
	width: 87px;
	min-height: 0px;
	margin: 0px;
}

#u15936-4
{
	width: 83px;
	min-height: 16px;
	padding-left: 2px;
	padding-top: 4px;
	padding-right: 2px;
	position: relative;
	margin-right: -10000px;
}

#u15933:hover #u15936-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 83px;
	margin: 0px -10000px 0px 0px;
}

#u15933:active #u15936-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 83px;
	margin: 0px -10000px 0px 0px;
}

#u15933.MuseMenuActive #u15936-4
{
	padding-top: 4px;
	padding-bottom: 0px;
	min-height: 16px;
	width: 83px;
	margin: 0px -10000px 0px 0px;
}

#u15824
{
	z-index: 234;
	width: 240px;
	position: relative;
	margin-right: -10000px;
	margin-top: 71px;
	left: 701px;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#u15782,#u15782-bw
{
	z-index: 191;
	min-height: 166px;
}

#u15781
{
	z-index: 190;
	height: 9px;
}

#u15781-bw
{
	z-index: 190;
	margin-top: 3px;
	height: 11px;
}

#pu10426-185
{
	z-index: 2;
	margin-top: -3px;
	width: 94.49%;
	margin-left: 3.13%;
}

#u10426-185
{
	z-index: 2;
	min-height: 505px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	width: 100%;
}

#u15971
{
	z-index: 236;
	position: relative;
	margin-right: -10000px;
	margin-top: 30px;
	width: 28.97%;
	left: 32.82%;
}

#u15972
{
	z-index: 237;
	padding-top: 46px;
	padding-bottom: 7.000000000000057px;
	position: relative;
	margin-right: -10000px;
	width: 100%;
}

#buttonu15976
{
	z-index: 238;
	padding-bottom: 4px;
	position: relative;
	width: 87.84%;
	margin-left: 5.71%;
}

#buttonu15976:hover
{
	min-height: 0px;
	width: 87.84%;
	margin: 0px 0px 0px 5.7034220532319395%;
}

#u15977-4
{
	z-index: 239;
	min-height: 23px;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
	width: 51.52%;
	left: 29.44%;
}

#buttonu15976:hover #u15977-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 51.52%;
	margin: 13px -10000px 0px 0%;
}

#u15978
{
	z-index: 243;
	height: 17px;
	position: relative;
	margin-right: -10000px;
	margin-top: 15px;
	width: 7.8%;
	left: 22.08%;
}

#buttonu15976:hover #u15978
{
	height: 17px;
	min-height: 0px;
	width: 7.8%;
	margin: 15px -10000px 0px 0%;
}

#buttonu15973
{
	z-index: 244;
	padding-bottom: 4px;
	position: relative;
	width: 87.84%;
	margin-left: 5.71%;
}

#buttonu15976.ButtonSelected,#buttonu15973:hover
{
	min-height: 0px;
	width: 87.84%;
	margin: 0px 0px 0px 5.7034220532319395%;
}

#buttonu15973.ButtonSelected
{
	min-height: 0px;
	width: 87.84%;
	margin: 0px 0px 0px 5.7034220532319395%;
}

#u15975-4
{
	z-index: 245;
	min-height: 23px;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
	width: 51.52%;
	left: 29.44%;
}

#buttonu15976.ButtonSelected #u15977-4,#buttonu15973:hover #u15975-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 51.52%;
	margin: 13px -10000px 0px 0%;
}

#buttonu15973.ButtonSelected #u15975-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 51.52%;
	margin: 13px -10000px 0px 0%;
}

#u15974
{
	z-index: 249;
	height: 17px;
	position: relative;
	margin-right: -10000px;
	margin-top: 15px;
	width: 7.8%;
	left: 22.08%;
}

#buttonu15976.ButtonSelected #u15978,#buttonu15973:hover #u15974
{
	height: 17px;
	min-height: 0px;
	width: 7.8%;
	margin: 15px -10000px 0px 0%;
}

#buttonu15973.ButtonSelected #u15974
{
	height: 17px;
	min-height: 0px;
	width: 7.8%;
	margin: 15px -10000px 0px 0%;
}

#buttonu15979
{
	z-index: 250;
	padding-bottom: 4px;
	position: relative;
	margin-right: -10000px;
	margin-top: 36px;
	width: 25.34%;
	left: 34.59%;
}

#buttonu15979:hover
{
	min-height: 0px;
	width: 25.34%;
	margin: 36px -10000px 0px 0%;
}

#buttonu15979.ButtonSelected
{
	min-height: 0px;
	width: 25.34%;
	margin: 36px -10000px 0px 0%;
}

#u15981-4
{
	z-index: 251;
	min-height: 23px;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
	width: 51.74%;
	left: 29.57%;
}

#buttonu15979:hover #u15981-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 51.74%;
	margin: 13px -10000px 0px 0%;
}

#buttonu15979.ButtonSelected #u15981-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 23px;
	width: 51.74%;
	margin: 13px -10000px 0px 0%;
}

#u15980
{
	z-index: 255;
	height: 17px;
	position: relative;
	margin-right: -10000px;
	margin-top: 15px;
	width: 7.83%;
	left: 22.18%;
}

#buttonu15979:hover #u15980
{
	height: 17px;
	min-height: 0px;
	width: 7.83%;
	margin: 15px -10000px 0px 0%;
}

#buttonu15979.ButtonSelected #u15980
{
	height: 17px;
	min-height: 0px;
	width: 7.83%;
	margin: 15px -10000px 0px 0%;
}

.css_verticalspacer .verticalspacer
{
	height: calc(100vh - 2534px);
}

#u15783
{
	z-index: 192;
	min-height: 159px;
}

#u15782_align_to_page,#u15783_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	position: relative;
}

#u15786
{
	z-index: 195;
	position: relative;
	margin-right: -10000px;
	width: 99.69%;
	left: 0.21%;
}

#u15783-bw
{
	z-index: 192;
	min-height: 159px;
	margin-bottom: -160px;
	margin-top: 16px;
}

#muse_css_mq,.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
	min-width: 240px;
	padding-top: 20px;
	padding-bottom: 160px;
}

.verticalspacer
{
	min-height: 1px;
}

#u15784_img,#u15786_img
{
	width: 100%;
}

